.display-none,
.d-none {
    display: none;
}

.display-block,
.d-block {
    display: block;
}

.display-inherit,
.d-inherit {
    display: inherit;
}

.display-inline,
.d-inline {
    display: inline;
}

.display-inline-block,
.d-inline-block {
    display: inline-block;
}