:root {

    /* REM SIZE REGULAR CSS VARIABLES */
    --rem00: 0rem;
    --rem0: 0rem;
    --rem01: 0.1rem;
    --rem02: 0.2rem;
    --rem03: 0.3rem;
    --rem04: 0.4rem;
    --rem05: 0.5rem;
    --rem06: 0.6rem;
    --rem07: 0.7rem;
    --rem08: 0.8rem;
    --rem09: 0.9rem;
    --rem10: 1rem;
    --rem1: 1rem;
    --rem11: 1.1rem;
    --rem12: 1.2rem;
    --rem13: 1.3rem;
    --rem14: 1.4rem;
    --rem15: 1.5rem;
    --rem16: 1.6rem;
    --rem17: 1.7rem;
    --rem18: 1.8rem;
    --rem19: 1.9rem;
    --rem20: 2rem;
    --rem2: 2rem;
    --rem21: 2.1rem;
    --rem22: 2.2rem;
    --rem23: 2.3rem;
    --rem24: 2.4rem;
    --rem25: 2.5rem;
    --rem26: 2.6rem;
    --rem27: 2.7rem;
    --rem28: 2.8rem;
    --rem29: 2.9rem;
    --rem30: 3rem;
    --rem3: 3rem;
    --rem31: 3.1rem;
    --rem32: 3.2rem;
    --rem33: 3.3rem;
    --rem34: 3.4rem;
    --rem35: 3.5rem;
    --rem36: 3.6rem;
    --rem37: 3.7rem;
    --rem38: 3.8rem;
    --rem39: 3.9rem;
    --rem40: 4rem;
    --rem4: 4rem;
    --rem41: 4.1rem;
    --rem42: 4.2rem;
    --rem43: 4.3rem;
    --rem44: 4.4rem;
    --rem45: 4.5rem;
    --rem46: 4.6rem;
    --rem47: 4.7rem;
    --rem48: 4.8rem;
    --rem49: 4.9rem;
    --rem50: 5rem;
    --rem5: 5rem;
    --rem51: 5.1rem;
    --rem52: 5.2rem;
    --rem53: 5.3rem;
    --rem54: 5.4rem;
    --rem55: 5.5rem;
    --rem56: 5.6rem;
    --rem57: 5.7rem;
    --rem58: 5.8rem;
    --rem59: 5.9rem;
    --rem60: 6rem;
    --rem6: 6rem;
    --rem61: 6.1rem;
    --rem62: 6.2rem;
    --rem63: 6.3rem;
    --rem64: 6.4rem;
    --rem65: 6.5rem;
    --rem66: 6.6rem;
    --rem67: 6.7rem;
    --rem68: 6.8rem;
    --rem69: 6.9rem;
    --rem70: 7rem;
    --rem7: 7rem;
    --rem71: 7.1rem;
    --rem72: 7.2rem;
    --rem73: 7.3rem;
    --rem74: 7.4rem;
    --rem75: 7.5rem;
    --rem76: 7.6rem;
    --rem77: 7.7rem;
    --rem78: 7.8rem;
    --rem79: 7.9rem;
    --rem80: 8rem;
    --rem8: 8rem;
    --rem81: 8.1rem;
    --rem82: 8.2rem;
    --rem83: 8.3rem;
    --rem84: 8.4rem;
    --rem85: 8.5rem;
    --rem86: 8.6rem;
    --rem87: 8.7rem;
    --rem88: 8.8rem;
    --rem89: 8.9rem;
    --rem90: 9rem;
    --rem9: 9rem;
    --rem91: 9.1rem;
    --rem92: 9.2rem;
    --rem93: 9.3rem;
    --rem94: 9.4rem;
    --rem95: 9.5rem;
    --rem96: 9.6rem;
    --rem97: 9.7rem;
    --rem98: 9.8rem;
    --rem99: 9.9rem;
    --rem100: 10rem;
    --rem100: 10rem;
    --rem101: 10.1rem;
    --rem102: 10.2rem;
    --rem103: 10.3rem;
    --rem104: 10.4rem;
    --rem105: 10.5rem;
    --rem106: 10.6rem;
    --rem107: 10.7rem;
    --rem108: 10.8rem;
    --rem109: 10.9rem;
    --rem110: 11.0rem;
    --rem111: 11.1rem;
    --rem112: 11.2rem;
    --rem113: 11.3rem;
    --rem114: 11.4rem;
    --rem115: 11.5rem;
    --rem116: 11.6rem;
    --rem117: 11.7rem;
    --rem118: 11.8rem;
    --rem119: 11.9rem;
    --rem120: 12.0rem;
    --rem121: 12.1rem;
    --rem122: 12.2rem;
    --rem123: 12.3rem;
    --rem124: 12.4rem;
    --rem125: 12.5rem;
    --rem126: 12.6rem;
    --rem127: 12.7rem;
    --rem128: 12.8rem;
    --rem129: 12.9rem;

    --rem130: 13.0rem;
    --rem131: 13.1rem;
    --rem132: 13.2rem;
    --rem133: 13.3rem;
    --rem134: 13.4rem;
    --rem135: 13.5rem;
    --rem136: 13.6rem;
    --rem137: 13.7rem;
    --rem138: 13.8rem;
    --rem139: 13.9rem;

    --rem140: 14.0rem;
    --rem141: 14.1rem;
    --rem142: 14.2rem;
    --rem143: 14.3rem;
    --rem144: 14.4rem;
    --rem145: 14.5rem;
    --rem146: 14.6rem;
    --rem147: 14.7rem;
    --rem148: 14.8rem;
    --rem149: 14.9rem;

    --rem150: 15.0rem;
    --rem151: 15.1rem;
    --rem152: 15.2rem;
    --rem153: 15.3rem;
    --rem154: 15.4rem;
    --rem155: 15.5rem;
    --rem156: 15.6rem;
    --rem157: 15.7rem;
    --rem158: 15.8rem;
    --rem159: 15.9rem;

    --rem160: 16.0rem;
    --rem161: 16.1rem;
    --rem162: 16.2rem;
    --rem163: 16.3rem;
    --rem164: 16.4rem;
    --rem165: 16.5rem;
    --rem166: 16.6rem;
    --rem167: 16.7rem;
    --rem168: 16.8rem;
    --rem169: 16.9rem;

    --rem170: 17.0rem;
    --rem171: 17.1rem;
    --rem172: 17.2rem;
    --rem173: 17.3rem;
    --rem174: 17.4rem;
    --rem175: 17.5rem;
    --rem176: 17.6rem;
    --rem177: 17.7rem;
    --rem178: 17.8rem;
    --rem179: 17.9rem;

    --rem180: 18.0rem;
    --rem181: 18.1rem;
    --rem182: 18.2rem;
    --rem183: 18.3rem;
    --rem184: 18.4rem;
    --rem185: 18.5rem;
    --rem186: 18.6rem;
    --rem187: 18.7rem;
    --rem188: 18.8rem;
    --rem189: 18.9rem;


    --rem190: 19.0rem;
    --rem191: 19.1rem;
    --rem192: 19.2rem;
    --rem193: 19.3rem;
    --rem194: 19.4rem;
    --rem195: 19.5rem;
    --rem196: 19.6rem;
    --rem197: 19.7rem;
    --rem198: 19.8rem;
    --rem199: 19.9rem;
    --rem201: 20.1rem;
    --rem202: 20.2rem;
    --rem203: 20.3rem;
    --rem204: 20.4rem;
    --rem205: 20.5rem;
    --rem206: 20.6rem;
    --rem207: 20.7rem;
    --rem208: 20.8rem;
    --rem209: 20.9rem;
    --rem211: 21.1rem;
    --rem212: 21.2rem;
    --rem213: 21.3rem;
    --rem214: 21.4rem;
    --rem215: 21.5rem;
    --rem216: 21.6rem;
    --rem217: 21.7rem;
    --rem218: 21.8rem;
    --rem219: 21.9rem;
    --rem221: 22.1rem;
    --rem222: 22.2rem;
    --rem223: 22.3rem;
    --rem224: 22.4rem;
    --rem225: 22.5rem;
    --rem226: 22.6rem;
    --rem227: 22.7rem;
    --rem228: 22.8rem;
    --rem229: 22.9rem;
    --rem231: 23.1rem;
    --rem232: 23.2rem;
    --rem233: 23.3rem;
    --rem234: 23.4rem;
    --rem235: 23.5rem;
    --rem236: 23.6rem;
    --rem237: 23.7rem;
    --rem238: 23.8rem;
    --rem239: 23.9rem;
    --rem241: 24.1rem;
    --rem242: 24.2rem;
    --rem243: 24.3rem;
    --rem244: 24.4rem;
    --rem245: 24.5rem;
    --rem246: 24.6rem;
    --rem247: 24.7rem;
    --rem248: 24.8rem;
    --rem249: 24.9rem;
    --rem251: 25.1rem;
    --rem252: 25.2rem;
    --rem253: 25.3rem;
    --rem254: 25.4rem;
    --rem255: 25.5rem;
    --rem256: 25.6rem;
    --rem257: 25.7rem;
    --rem258: 25.8rem;
    --rem259: 25.9rem;
    --rem261: 26.1rem;
    --rem262: 26.2rem;
    --rem263: 26.3rem;
    --rem264: 26.4rem;
    --rem265: 26.5rem;
    --rem266: 26.6rem;
    --rem267: 26.7rem;
    --rem268: 26.8rem;
    --rem269: 26.9rem;
    --rem271: 27.1rem;
    --rem272: 27.2rem;
    --rem273: 27.3rem;
    --rem274: 27.4rem;
    --rem275: 27.5rem;
    --rem276: 27.6rem;
    --rem277: 27.7rem;
    --rem278: 27.8rem;
    --rem279: 27.9rem;
    --rem281: 28.1rem;
    --rem282: 28.2rem;
    --rem283: 28.3rem;
    --rem284: 28.4rem;
    --rem285: 28.5rem;
    --rem286: 28.6rem;
    --rem287: 28.7rem;
    --rem288: 28.8rem;
    --rem289: 28.9rem;
    --rem291: 29.1rem;
    --rem292: 29.2rem;
    --rem293: 29.3rem;
    --rem294: 29.4rem;
    --rem295: 29.5rem;
    --rem296: 29.6rem;
    --rem297: 29.7rem;
    --rem298: 29.8rem;
    --rem299: 29.9rem;
    --rem300: 30rem;
    --rem301: 31rem;
    --rem302: 30.2rem;
    --rem303: 30.3rem;
    --rem304: 30.4rem;
    --rem305: 30.5rem;
    --rem306: 30.6rem;
    --rem307: 30.7rem;
    --rem308: 30.8rem;
    --rem309: 30.9rem;
    --rem310: 31.0rem;
    --rem311: 31.1rem;
    --rem312: 31.2rem;
    --rem313: 31.3rem;
    --rem314: 31.4rem;
    --rem315: 31.5rem;
    --rem316: 31.6rem;
    --rem317: 31.7rem;
    --rem318: 31.8rem;
    --rem319: 31.9rem;
    --rem321: 32.1rem;
    --rem322: 32.2rem;
    --rem323: 32.3rem;
    --rem324: 32.4rem;
    --rem325: 32.5rem;
    --rem326: 32.6rem;
    --rem327: 32.7rem;
    --rem328: 32.8rem;
    --rem329: 32.9rem;
    --rem331: 33.1rem;
    --rem332: 33.2rem;
    --rem333: 33.3rem;
    --rem334: 33.4rem;
    --rem335: 33.5rem;
    --rem336: 33.6rem;
    --rem337: 33.7rem;
    --rem338: 33.8rem;
    --rem339: 33.9rem;
    --rem341: 34.1rem;
    --rem342: 34.2rem;
    --rem343: 34.3rem;
    --rem344: 34.4rem;
    --rem345: 34.5rem;
    --rem346: 34.6rem;
    --rem347: 34.7rem;
    --rem348: 34.8rem;
    --rem349: 34.9rem;
    --rem351: 35.1rem;
    --rem352: 35.2rem;
    --rem353: 35.3rem;
    --rem354: 35.4rem;
    --rem355: 35.5rem;
    --rem356: 35.6rem;
    --rem357: 35.7rem;
    --rem358: 35.8rem;
    --rem359: 35.9rem;
    --rem361: 36.1rem;
    --rem362: 36.2rem;
    --rem363: 36.3rem;
    --rem364: 36.4rem;
    --rem365: 36.5rem;
    --rem366: 36.6rem;
    --rem367: 36.7rem;
    --rem368: 36.8rem;
    --rem369: 36.9rem;
    --rem371: 37.1rem;
    --rem372: 37.2rem;
    --rem373: 37.3rem;
    --rem374: 37.4rem;
    --rem375: 37.5rem;
    --rem376: 37.6rem;
    --rem377: 37.7rem;
    --rem378: 37.8rem;
    --rem379: 37.9rem;
    --rem381: 38.1rem;
    --rem382: 38.2rem;
    --rem383: 38.3rem;
    --rem384: 38.4rem;
    --rem385: 38.5rem;
    --rem386: 38.6rem;
    --rem387: 38.7rem;
    --rem388: 38.8rem;
    --rem389: 38.9rem;
    --rem391: 39.1rem;
    --rem392: 39.2rem;
    --rem393: 39.3rem;
    --rem394: 39.4rem;
    --rem395: 39.5rem;
    --rem396: 39.6rem;
    --rem397: 39.7rem;
    --rem398: 39.8rem;
    --rem399: 39.9rem;
    --rem401: 40.1rem;
    --rem402: 40.2rem;
    --rem403: 40.3rem;
    --rem404: 40.4rem;
    --rem405: 40.5rem;
    --rem406: 40.6rem;
    --rem407: 40.7rem;
    --rem408: 40.8rem;
    --rem409: 40.9rem;
    --rem411: 41.1rem;
    --rem412: 41.2rem;
    --rem413: 41.3rem;
    --rem414: 41.4rem;
    --rem415: 41.5rem;
    --rem416: 41.6rem;
    --rem417: 41.7rem;
    --rem418: 41.8rem;
    --rem419: 41.9rem;
    --rem421: 42.1rem;
    --rem422: 42.2rem;
    --rem423: 42.3rem;
    --rem424: 42.4rem;
    --rem425: 42.5rem;
    --rem426: 42.6rem;
    --rem427: 42.7rem;
    --rem428: 42.8rem;
    --rem429: 42.9rem;
    --rem431: 43.1rem;
    --rem432: 43.2rem;
    --rem433: 43.3rem;
    --rem434: 43.4rem;
    --rem435: 43.5rem;
    --rem436: 43.6rem;
    --rem437: 43.7rem;
    --rem438: 43.8rem;
    --rem439: 43.9rem;
    --rem441: 44.1rem;
    --rem442: 44.2rem;
    --rem443: 44.3rem;
    --rem444: 44.4rem;
    --rem445: 44.5rem;
    --rem446: 44.6rem;
    --rem447: 44.7rem;
    --rem448: 44.8rem;
    --rem449: 44.9rem;
    --rem451: 45.1rem;
    --rem452: 45.2rem;
    --rem453: 45.3rem;
    --rem454: 45.4rem;
    --rem455: 45.5rem;
    --rem456: 45.6rem;
    --rem457: 45.7rem;
    --rem458: 45.8rem;
    --rem459: 45.9rem;
    --rem461: 46.1rem;
    --rem462: 46.2rem;
    --rem463: 46.3rem;
    --rem464: 46.4rem;
    --rem465: 46.5rem;
    --rem466: 46.6rem;
    --rem467: 46.7rem;
    --rem468: 46.8rem;
    --rem469: 46.9rem;
    --rem471: 47.1rem;
    --rem472: 47.2rem;
    --rem473: 47.3rem;
    --rem474: 47.4rem;
    --rem475: 47.5rem;
    --rem476: 47.6rem;
    --rem477: 47.7rem;
    --rem478: 47.8rem;
    --rem479: 47.9rem;
    --rem481: 48.1rem;
    --rem482: 48.2rem;
    --rem483: 48.3rem;
    --rem484: 48.4rem;
    --rem485: 48.5rem;
    --rem486: 48.6rem;
    --rem487: 48.7rem;
    --rem488: 48.8rem;
    --rem489: 48.9rem;
    --rem491: 49.1rem;
    --rem492: 49.2rem;
    --rem493: 49.3rem;
    --rem494: 49.4rem;
    --rem495: 49.5rem;
    --rem496: 49.6rem;
    --rem497: 49.7rem;
    --rem498: 49.8rem;
    --rem499: 49.9rem;
    --rem500: 50rem;

    // ADDITIONALS
    --rem200: 20.0rem;
    --rem210: 21.0rem;
    --rem220: 22.0rem;
    --rem230: 23.0rem;
    --rem240: 24.0rem;
    --rem250: 25.0rem;
    --rem260: 26.0rem;
    --rem270: 27.0rem;
    --rem280: 28.0rem;
    --rem290: 29.0rem;
    --rem300: 30.0rem;
    --rem310: 31.0rem;
    --rem320: 32.0rem;
    --rem330: 33.0rem;
    --rem340: 34.0rem;
    --rem350: 35.0rem;
    --rem360: 36.0rem;
    --rem370: 37.0rem;
    --rem380: 38.0rem;
    --rem390: 39.0rem;
    --rem400: 40.0rem;
    --rem410: 41.0rem;
    --rem420: 42.0rem;
    --rem430: 43.0rem;
    --rem440: 44.0rem;
    --rem450: 45.0rem;
    --rem460: 46.0rem;
    --rem470: 47.0rem;
    --rem480: 48.0rem;
    --rem490: 49.0rem;
    --rem500: 50.0rem;





    // REGULAR CSS VARIABLE FORMAT  
    --bg-Black: #000000;
    --bg-Bla: #000000;
    --bg-Blk: #000000;
    --bg-Kalo: #000000;
    --bg-000000: #000000;
    --পেছন-কালো: #000000;

    --bg-White: #ffffff;
    --bg-Whi: #ffffff;
    --bg-Wht: #ffffff;
    --bg-Sada: #ffffff;
    --bg-ffffff: #ffffff;
    --পেছন-সাদা: #ffffff;

    --bg-Red: #ff0000;
    --bg-Re: #ff0000;
    --bg-Rd: #ff0000;
    --bg-Lal: #ff0000;
    --bg-ff0000: #ff0000;
    --পেছন-লাল: #ff0000;

    --bg-Green: #00ff00;
    --bg-Gre: #00ff00;
    --bg-Grn: #00ff00;
    --bg-Sobuj: #00ff00;
    --bg-00ff00: #00ff00;
    --পেছন-সবুজ: #00ff00;

    --bg-Blue: #0000ff;
    --bg-Blu: #0000ff;
    --bg-Ble: #0000ff;
    --bg-Nil: #0000ff;
    --bg-0000ff: #0000ff;
    --পেছন-নীল: #0000ff;

    --bg-Orange: #ffa500;
    --bg-Ora: #ffa500;
    --bg-Org: #ffa500;
    --bg-Komola: #ffa500;
    --bg-ffa500: #ffa500;
    --পেছন-নীল: #ffa500;

    --bg-Yellow: #ffff00;
    --bg-Yel: #ffff00;
    --bg-Ylw: #ffff00;
    --bg-Holud: #ffff00;
    --bg-ffff00: #ffff00;
    --পেছন-হলুদ: #ffff00;

    --bg-Purple: #800080;
    --bg-Pur: #800080;
    --bg-Prp: #800080;
    --bg-Jam: #800080;
    --bg-800080: #800080;
    --পেছন-জামুন: #800080;

    --bg-Cyan: #00ffff;
    --bg-Cya: #00ffff;
    --bg-Cyn: #00ffff;
    --bg-Firoz: #00ffff;
    --bg-00ffff: #00ffff;
    --পেছন-ফিরোজা: #00ffff;

    --bg-Gray: #808080;
    --bg-Gra: #808080;
    --bg-Gry: #808080;
    --bg-Surma: #808080;
    --bg-808080: #808080;
    --পেছন-ধূসর: #808080;

    --bg-Silver: #c0c0c0;
    --bg-Sil: #c0c0c0;
    --bg-Slv: #c0c0c0;
    --bg-Chandi: #c0c0c0;
    --bg-c0c0c0: #c0c0c0;
    --পেছন-রুপা: #c0c0c0;

    --bg-Maroon: #800000;
    --bg-Mar: #800000;
    --bg-Mrn: #800000;
    --bg-Gorom: #800000;
    --bg-800000: #800000;
    --পেছন-গাঢ়-লাল: #800000;

    --bg-Olive: #808000;
    --bg-Oli: #808000;
    --bg-Olv: #808000;
    --bg-808000: #808000;
    --পেছন-অলিভ: #808000;

    --bg-Teal: #008080;
    --bg-Tea: #008080;
    --bg-Tel: #008080;
    --bg-Nilgiri: #008080;
    --bg-008080: #008080;
    --পেছন-নীল-সবুজ: #008080;

    --bg-Navy: #000080;
    --bg-Nav: #000080;
    --bg-Nvy: #000080;
    --bg-Nabi: #000080;
    --bg-000080: #000080;
    --পেছন-নেভি: #000080;

    --bg-Fuchsia: #ff00ff;
    --bg-Fuc: #ff00ff;
    --bg-Fsh: #ff00ff;
    --bg-Gorib: #ff00ff;
    --bg-ff00ff: #ff00ff;
    --পেছন-ফুসিয়া: #ff00ff;

    --bg-Pink: #ffc0cb;
    --bg-Pin: #ffc0cb;
    --bg-Pnk: #ffc0cb;
    --bg-Gulabi: #ffc0cb;
    --bg-ffc0cb: #ffc0cb;
    --পেছন-গোলাপি: #ffc0cb;

    --bg-YellowGreen: #9acd32;
    --bg-YelGre: #9acd32;
    --bg-YGr: #9acd32;
    --bg-HoludSobuji: #9acd32;
    --bg-9acd32: #9acd32;
    --পেছন-হলুদ-সবুজ: #9acd32;

    --bg-OliveDrab: #6b8e23;
    --bg-OliDra: #6b8e23;
    --bg-ODb: #6b8e23;
    --bg-6b8e23: #6b8e23;
    --পেছন-অলিভ-ড্র্যাব: #6b8e23;

    --bg-GreenYellow: #adff2f;
    --bg-GreYel: #adff2f;
    --bg-GYl: #adff2f;
    --bg-adff2f: #adff2f;
    --পেছন-সবুজ-হলুদ: #adff2f;

    --bg-LimeGreen: #32cd32;
    --bg-LimGre: #32cd32;
    --bg-LGr: #32cd32;
    --bg-Paal: #32cd32;
    --bg-32cd32: #32cd32;
    --পেছন-লেবুর-সবুজ: #32cd32;

    --bg-PaleGreen: #98fb98;
    --bg-PalGre: #98fb98;
    --bg-PGr: #98fb98;
    --bg-98fb98: #98fb98;
    --পেছন-ফিকে-সবুজ: #98fb98;

    --bg-DarkSeaGreen: #8fbc8f;
    --bg-DarSeaGre: #8fbc8f;
    --bg-DGr: #8fbc8f;
    --bg-GaroSomudroSobuj: #8fbc8f;
    --bg-8fbc8f: #8fbc8f;
    --পেছন-গাঢ়-সাগর-সবুজ: #8fbc8f;

    --bg-MediumSeaGreen: #3cb371;
    --bg-MedSeaGre: #3cb371;
    --bg-MGr: #3cb371;
    --bg-3cb371: #3cb371;
    --পেছন-মাঝারি-সাগর-সবুজ: #3cb371;

    --bg-SeaGreen: #2e8b57;
    --bg-SeaGre: #2e8b57;
    --bg-SGr: #2e8b57;
    --bg-Samudrik: #2e8b57;
    --bg-2e8b57: #2e8b57;
    --পেছন-সাগর-সবুজ: #2e8b57;

    --bg-ForestGreen: #228b22;
    --bg-ForGre: #228b22;
    --bg-FGr: #228b22;
    --bg-Jungle: #228b22;
    --bg-228b22: #228b22;
    --পেছন-জঙ্গল-সবুজ: #228b22;

    --bg-LightGray: #d3d3d3;
    --bg-LigGra: #d3d3d3;
    --bg-LGr: #d3d3d3;
    --bg-Halka: #d3d3d3;
    --bg-d3d3d3: #d3d3d3;
    --পেছন-হালকা-ধূসর: #d3d3d3;

    --bg-LightCoral: #f08080;
    --bg-LigCor: #f08080;
    --bg-LCo: #f08080;
    --bg-Halka2: #f08080;
    --bg-f08080: #f08080;
    --পেছন-হালকা-করাল: #f08080;

    --bg-LightSalmon: #ffa07a;
    --bg-LigSal: #ffa07a;
    --bg-LSa: #ffa07a;
    --bg-Ranga: #ffa07a;
    --bg-ffa07a: #ffa07a;
    --পেছন-হালকা-সালমনের: #ffa07a;

    --bg-LightPink: #ffb6c1;
    --bg-LigPin: #ffb6c1;
    --bg-LPn: #ffb6c1;
    --bg-Gulabi: #ffb6c1;
    --bg-ffb6c1: #ffb6c1;
    --পেছন-হালকা-গোলাপি: #ffb6c1;

    --bg-LightGoldenRodYellow: #fafad2;
    --bg-LigRodYel: #fafad2;
    --bg-LGY: #fafad2;
    --bg-Gora: #fafad2;
    --bg-fafad2: #fafad2;
    --পেছন-হালকা-স্বর্ণ-হলুদ: #fafad2;

    --bg-LightSteelBlue: #b0c4de;
    --bg-LigSteBlu: #b0c4de;
    --bg-LSB: #b0c4de;
    --bg-b0c4de: #b0c4de;
    --পেছন-হালকা-স্টীল-নীল: #b0c4de;

    --bg-LightSkyBlue: #87cefa;
    --bg-LigSkyBlu: #87cefa;
    --bg-LSk: #87cefa;
    --bg-Aasman: #87cefa;
    --bg-87cefa: #87cefa;
    --পেছন-হালকা-আকাশ-নীল: #87cefa;

    --bg-Lavender: #e6e6fa;
    --bg-Lav: #e6e6fa;
    --bg-Bangla: #e6e6fa;
    --bg-e6e6fa: #e6e6fa;
    --পেছন-ল্যাভেন্ডার: #e6e6fa;

    --bg-MistyRose: #ffe4e1;
    --bg-MisRos: #ffe4e1;
    --bg-MRo: #ffe4e1;
    --bg-Gulabi: #ffe4e1;
    --bg-ffe4e1: #ffe4e1;
    --পেছন-ঝাপসা-গোলাপি: #ffe4e1;

    --bg-NavajoWhite: #ffdead;
    --bg-NavWhi: #ffdead;
    --bg-NWh: #ffdead;
    --bg-Poori: #ffdead;
    --bg-ffdead: #ffdead;
    --পেছন-নাভাজো-সাদা: #ffdead;

    --bg-Wheat: #f5deb3;
    --bg-Whe: #f5deb3;
    --bg-Ghee: #f5deb3;
    --bg-f5deb3: #f5deb3;
    --পেছন-গম: #f5deb3;

    --bg-AntiqueWhite: #faebd7;
    --bg-AntWhi: #faebd7;
    --bg-AWh: #faebd7;
    --bg-Paakhi: #faebd7;
    --bg-faebd7: #faebd7;
    --পেছন-প্রাচীন-সাদা: #faebd7;

    --bg-Cornsilk: #fff8dc;
    --bg-Cor: #fff8dc;
    --bg-Maach: #fff8dc;
    --bg-fff8dc: #fff8dc;
    --পেছন-ভুট্টার-শুকনো: #fff8dc;

    --bg-Khaki: #f0e68c;
    --bg-Kha: #f0e68c;
    --bg-f0e68c: #f0e68c;
    --পেছন-খাকি: #f0e68c;

    --bg-Beige: #f5f5dc;
    --bg-Bei: #f5f5dc;
    --bg-f5f5dc: #f5f5dc;
    --পেছন-বেজ: #f5f5dc;

    --bg-PapayaWhip: #ffefd5;
    --bg-PapWhi: #ffefd5;
    --bg-PWh: #ffefd5;
    --bg-Papaya: #ffefd5;
    --bg-ffefd5: #ffefd5;
    --পেছন-পাপায়া: #ffefd5;

    --bg-BlanchedAlmond: #ffebcd;
    --bg-BlaAlm: #ffebcd;
    --bg-BAl: #ffebcd;
    --bg-Almond: #ffebcd;
    --bg-ffebcd: #ffebcd;
    --পেছন-ব্লাঞ্চড-আলমন্ড: #ffebcd;

    --bg-HoneyDew: #f0fff0;
    --bg-HonDew: #f0fff0;
    --bg-HDe: #f0fff0;
    --bg-Honey: #f0fff0;
    --bg-f0fff0: #f0fff0;
    --পেছন-হানি-ডিউ: #f0fff0;

    --bg-MintCream: #f5fffa;
    --bg-MinCre: #f5fffa;
    --bg-MCr: #f5fffa;
    --bg-Mint: #f5fffa;
    --bg-f5fffa: #f5fffa;
    --পেছন-মিন্ট-ক্রীম: #f5fffa;

    --bg-AliceBlue: #f0f8ff;
    --bg-AliBlu: #f0f8ff;
    --bg-ABl: #f0f8ff;
    --bg-Alice: #f0f8ff;
    --bg-f0f8ff: #f0f8ff;
    --পেছন-অ্যালিস-নীল: #f0f8ff;

    --bg-Tomato: #ff6347;
    --bg-Tom: #ff6347;
    --bg-Tmt: #ff6347;
    --bg-ff6347: #ff6347;
    --পেছন-টমেটো: #ff6347;

    --bg-Orchid: #da70d6;
    --bg-Orc: #da70d6;
    --bg-da70d6: #da70d6;
    --পেছন-অর্কিড: #da70d6;

    --bg-Turquoise: #40e0d0;
    --bg-Tur: #40e0d0;
    --bg-Tqz: #40e0d0;
    --bg-40e0d0: #40e0d0;
    --পেছন-টারকোইজ: #40e0d0;

    --bg-DarkRed: #8b0000;
    --bg-DarRe: #8b0000;
    --bg-DRd: #8b0000;
    --bg-Dag: #8b0000;
    --bg-8b0000: #8b0000;
    --পেছন-গাঢ়-লাল: #8b0000;

    --bg-DarkBlue: #00008b;
    --bg-DarBlu: #00008b;
    --bg-DBl: #00008b;
    --bg-GaroNil: #00008b;
    --bg-00008b: #00008b;
    --পেছন-গাঢ়-নীল: #00008b;

    --bg-DarkGreen: #006400;
    --bg-DarGre: #006400;
    --bg-DGr: #006400;
    --bg-Dhushar: #006400;
    --bg-006400: #006400;
    --পেছন-গাঢ়-সবুজ: #006400;

    --bg-Indigo: #4b0082;
    --bg-Ind: #4b0082;
    --bg-Nay: #4b0082;
    --bg-4b0082: #4b0082;
    --পেছন-ইন্ডিগো: #4b0082;

    --bg-Violet: #ee82ee;
    --bg-Vio: #ee82ee;
    --bg-Bangla: #ee82ee;
    --bg-ee82ee: #ee82ee;
    --পেছন-ভায়োলেট: #ee82ee;

    --bg-Peru: #cd853f;
    --bg-Per: #cd853f;
    --bg-cd853f: #cd853f;
    --পেছন-পেরু: #cd853f;

    --bg-Chocolate: #d2691e;
    --bg-Cho: #d2691e;
    --bg-d2691e: #d2691e;
    --পেছন-চকোলেট: #d2691e;

    --bg-Gold: #ffd700;
    --bg-Gol: #ffd700;
    --bg-Sona: #ffd700;
    --bg-ffd700: #ffd700;
    --পেছন-সোনালী: #ffd700;

    --bg-Plum: #dda0dd;
    --bg-Plu: #dda0dd;
    --bg-Bengali: #dda0dd;
    --bg-dda0dd: #dda0dd;
    --পেছন-প্রম: #dda0dd;

    --bg-Sienna: #a0522d;
    --bg-Sie: #a0522d;
    --bg-Keshari: #a0522d;
    --bg-a0522d: #a0522d;
    --পেছন-সিয়েনা: #a0522d;

    --bg-Salmon: #fa8072;
    --bg-Sal: #fa8072;
    --bg-Ranga: #fa8072;
    --bg-fa8072: #fa8072;
    --পেছন-সালমন: #fa8072;

    --bg-Snow: #fffafa;
    --bg-Sno: #fffafa;
    --bg-Barish: #fffafa;
    --bg-fffafa: #fffafa;
    --পেছন-তুষার: #fffafa;

    --bg-Tan: #d2b48c;
    --bg-Brown: #d2b48c;
    --bg-d2b48c: #d2b48c;
    --পেছন-ট্যান: #d2b48c;

    --bg-MediumPurple: #9370db;
    --bg-MedPur: #9370db;
    --bg-MPr: #9370db;
    --bg-9370db: #9370db;
    --পেছন-মাঝারি-বেগুনি: #9370db;

    --bg-MediumOrchid: #ba55d3;
    --bg-MedOrc: #ba55d3;
    --bg-MOr: #ba55d3;
    --bg-ba55d3: #ba55d3;
    --পেছন-মাঝারি-অর্কিড: #ba55d3;

    --bg-MediumTurquoise: #48d1cc;
    --bg-MedTur: #48d1cc;
    --bg-MTq: #48d1cc;
    --bg-48d1cc: #48d1cc;
    --পেছন-মাঝারি-টারকোইজ: #48d1cc;

    --bg-SlateBlue: #6a5acd;
    --bg-SlaBlu: #6a5acd;
    --bg-SBl: #6a5acd;
    --bg-6a5acd: #6a5acd;
    --পেছন-স্লেট-ব্লু: #6a5acd;

    --bg-SlateGray: #708090;
    --bg-SlaGra: #708090;
    --bg-SGr: #708090;
    --bg-708090: #708090;
    --পেছন-স্লেট-গ্রে: #708090;

    --bg-SpringGreen: #00ff7f;
    --bg-SprGre: #00ff7f;
    --bg-SGr: #00ff7f;
    --bg-Nobob: #00ff7f;
    --bg-00ff7f: #00ff7f;
    --পেছন-স্প্রিং-গ্রিন: #00ff7f;

    --bg-SandyBrown: #f4a460;
    --bg-SanBro: #f4a460;
    --bg-SBr: #f4a460;
    --bg-Sandy: #f4a460;
    --bg-f4a460: #f4a460;
    --পেছন-স্যান্ডি-ব্রাউন: #f4a460;











    // REGULAR CSS VARIABLE FORMAT
    --f-Black: #000000;
    --Black: #000000;
    --f-Bla: #000000;
    --f-Blk: #000000;
    --f-Kalo: #000000;
    --f-000000: #000000;
    --কালো: #000000;

    --f-White: #ffffff;
    --f-Whi: #ffffff;
    --f-Wht: #ffffff;
    --f-Sada: #ffffff;
    --f-ffffff: #ffffff;
    --সাদা: #ffffff;

    --f-Red: #ff0000;
    --f-Re: #ff0000;
    --f-Rd: #ff0000;
    --f-Lal: #ff0000;
    --f-ff0000: #ff0000;
    --লাল: #ff0000;

    --f-Green: #00ff00;
    --f-Gre: #00ff00;
    --f-Grn: #00ff00;
    --f-Sobuj: #00ff00;
    --f-00ff00: #00ff00;
    --সবুজ: #00ff00;

    --f-Blue: #0000ff;
    --f-Blu: #0000ff;
    --f-Ble: #0000ff;
    --f-Nil: #0000ff;
    --f-0000ff: #0000ff;
    --নীল: #0000ff;

    --f-Orange: #ffa500;
    --f-Ora: #ffa500;
    --f-Org: #ffa500;
    --f-Komola: #ffa500;
    --f-ffa500: #ffa500;
    --নীল: #ffa500;

    --f-Yellow: #ffff00;
    --f-Yel: #ffff00;
    --f-Ylw: #ffff00;
    --f-Holud: #ffff00;
    --f-ffff00: #ffff00;
    --হলুদ: #ffff00;

    --f-Purple: #800080;
    --f-Pur: #800080;
    --f-Prp: #800080;
    --f-Jam: #800080;
    --f-800080: #800080;
    --জামুন: #800080;

    --f-Cyan: #00ffff;
    --f-Cya: #00ffff;
    --f-Cyn: #00ffff;
    --f-Firoz: #00ffff;
    --f-00ffff: #00ffff;
    --ফিরোজা: #00ffff;

    --f-Gray: #808080;
    --f-Gra: #808080;
    --f-Gry: #808080;
    --f-Surma: #808080;
    --f-808080: #808080;
    --ধূসর: #808080;

    --f-Silver: #c0c0c0;
    --f-Sil: #c0c0c0;
    --f-Slv: #c0c0c0;
    --f-Chandi: #c0c0c0;
    --f-c0c0c0: #c0c0c0;
    --রুপা: #c0c0c0;

    --f-Maroon: #800000;
    --f-Mar: #800000;
    --f-Mrn: #800000;
    --f-Gorom: #800000;
    --f-800000: #800000;
    --গাঢ়-লাল: #800000;

    --f-Olive: #808000;
    --f-Oli: #808000;
    --f-Olv: #808000;
    --f-808000: #808000;
    --অলিভ: #808000;

    --f-Teal: #008080;
    --f-Tea: #008080;
    --f-Tel: #008080;
    --f-Nilgiri: #008080;
    --f-008080: #008080;
    --নীল-সবুজ: #008080;

    --f-Navy: #000080;
    --f-Nav: #000080;
    --f-Nvy: #000080;
    --f-Nabi: #000080;
    --f-000080: #000080;
    --নেভি: #000080;

    --f-Fuchsia: #ff00ff;
    --f-Fuc: #ff00ff;
    --f-Fsh: #ff00ff;
    --f-Gorib: #ff00ff;
    --f-ff00ff: #ff00ff;
    --ফুসিয়া: #ff00ff;

    --f-Pink: #ffc0cb;
    --f-Pin: #ffc0cb;
    --f-Pnk: #ffc0cb;
    --f-Gulabi: #ffc0cb;
    --f-ffc0cb: #ffc0cb;
    --গোলাপি: #ffc0cb;

    --f-YellowGreen: #9acd32;
    --f-YelGre: #9acd32;
    --f-YGr: #9acd32;
    --f-HoludSobuji: #9acd32;
    --f-9acd32: #9acd32;
    --হলুদ-সবুজ: #9acd32;

    --f-OliveDrab: #6b8e23;
    --f-OliDra: #6b8e23;
    --f-ODb: #6b8e23;
    --f-6b8e23: #6b8e23;
    --অলিভ-ড্র্যাব: #6b8e23;

    --f-GreenYellow: #adff2f;
    --f-GreYel: #adff2f;
    --f-GYl: #adff2f;
    --f-adff2f: #adff2f;
    --সবুজ-হলুদ: #adff2f;

    --f-LimeGreen: #32cd32;
    --f-LimGre: #32cd32;
    --f-LGr: #32cd32;
    --f-Paal: #32cd32;
    --f-32cd32: #32cd32;
    --লেবুর-সবুজ: #32cd32;

    --f-PaleGreen: #98fb98;
    --f-PalGre: #98fb98;
    --f-PGr: #98fb98;
    --f-98fb98: #98fb98;
    --ফিকে-সবুজ: #98fb98;

    --f-DarkSeaGreen: #8fbc8f;
    --f-DarSeaGre: #8fbc8f;
    --f-DGr: #8fbc8f;
    --f-GaroSomudroSobuj: #8fbc8f;
    --f-8fbc8f: #8fbc8f;
    --গাঢ়-সাগর-সবুজ: #8fbc8f;

    --f-MediumSeaGreen: #3cb371;
    --f-MedSeaGre: #3cb371;
    --f-MGr: #3cb371;
    --f-3cb371: #3cb371;
    --মাঝারি-সাগর-সবুজ: #3cb371;

    --f-SeaGreen: #2e8b57;
    --f-SeaGre: #2e8b57;
    --f-SGr: #2e8b57;
    --f-Samudrik: #2e8b57;
    --f-2e8b57: #2e8b57;
    --সাগর-সবুজ: #2e8b57;

    --f-ForestGreen: #228b22;
    --f-ForGre: #228b22;
    --f-FGr: #228b22;
    --f-Jungle: #228b22;
    --f-228b22: #228b22;
    --জঙ্গল-সবুজ: #228b22;

    --f-LightGray: #d3d3d3;
    --f-LigGra: #d3d3d3;
    --f-LGr: #d3d3d3;
    --f-Halka: #d3d3d3;
    --f-d3d3d3: #d3d3d3;
    --হালকা-ধূসর: #d3d3d3;

    --f-LightCoral: #f08080;
    --f-LigCor: #f08080;
    --f-LCo: #f08080;
    --f-Halka2: #f08080;
    --f-f08080: #f08080;
    --হালকা-করাল: #f08080;

    --f-LightSalmon: #ffa07a;
    --f-LigSal: #ffa07a;
    --f-LSa: #ffa07a;
    --f-Ranga: #ffa07a;
    --f-ffa07a: #ffa07a;
    --হালকা-সালমনের: #ffa07a;

    --f-LightPink: #ffb6c1;
    --f-LigPin: #ffb6c1;
    --f-LPn: #ffb6c1;
    --f-Gulabi: #ffb6c1;
    --f-ffb6c1: #ffb6c1;
    --হালকা-গোলাপি: #ffb6c1;

    --f-LightGoldenRodYellow: #fafad2;
    --f-LigRodYel: #fafad2;
    --f-LGY: #fafad2;
    --f-Gora: #fafad2;
    --f-fafad2: #fafad2;
    --হালকা-স্বর্ণ-হলুদ: #fafad2;

    --f-LightSteelBlue: #b0c4de;
    --f-LigSteBlu: #b0c4de;
    --f-LSB: #b0c4de;
    --f-b0c4de: #b0c4de;
    --হালকা-স্টীল-নীল: #b0c4de;

    --f-LightSkyBlue: #87cefa;
    --f-LigSkyBlu: #87cefa;
    --f-LSk: #87cefa;
    --f-Aasman: #87cefa;
    --f-87cefa: #87cefa;
    --হালকা-আকাশ-নীল: #87cefa;

    --f-Lavender: #e6e6fa;
    --f-Lav: #e6e6fa;
    --f-Bangla: #e6e6fa;
    --f-e6e6fa: #e6e6fa;
    --ল্যাভেন্ডার: #e6e6fa;

    --f-MistyRose: #ffe4e1;
    --f-MisRos: #ffe4e1;
    --f-MRo: #ffe4e1;
    --f-Gulabi: #ffe4e1;
    --f-ffe4e1: #ffe4e1;
    --ঝাপসা-গোলাপি: #ffe4e1;

    --f-NavajoWhite: #ffdead;
    --f-NavWhi: #ffdead;
    --f-NWh: #ffdead;
    --f-Poori: #ffdead;
    --f-ffdead: #ffdead;
    --নাভাজো-সাদা: #ffdead;

    --f-Wheat: #f5deb3;
    --f-Whe: #f5deb3;
    --f-Ghee: #f5deb3;
    --f-f5deb3: #f5deb3;
    --গম: #f5deb3;

    --f-AntiqueWhite: #faebd7;
    --f-AntWhi: #faebd7;
    --f-AWh: #faebd7;
    --f-Paakhi: #faebd7;
    --f-faebd7: #faebd7;
    --প্রাচীন-সাদা: #faebd7;

    --f-Cornsilk: #fff8dc;
    --f-Cor: #fff8dc;
    --f-Maach: #fff8dc;
    --f-fff8dc: #fff8dc;
    --ভুট্টার-শুকনো: #fff8dc;

    --f-Khaki: #f0e68c;
    --f-Kha: #f0e68c;
    --f-f0e68c: #f0e68c;
    --খাকি: #f0e68c;

    --f-Beige: #f5f5dc;
    --f-Bei: #f5f5dc;
    --f-f5f5dc: #f5f5dc;
    --বেজ: #f5f5dc;

    --f-PapayaWhip: #ffefd5;
    --f-PapWhi: #ffefd5;
    --f-PWh: #ffefd5;
    --f-Papaya: #ffefd5;
    --f-ffefd5: #ffefd5;
    --পাপায়া: #ffefd5;

    --f-BlanchedAlmond: #ffebcd;
    --f-BlaAlm: #ffebcd;
    --f-BAl: #ffebcd;
    --f-Almond: #ffebcd;
    --f-ffebcd: #ffebcd;
    --ব্লাঞ্চড-আলমন্ড: #ffebcd;

    --f-HoneyDew: #f0fff0;
    --f-HonDew: #f0fff0;
    --f-HDe: #f0fff0;
    --f-Honey: #f0fff0;
    --f-f0fff0: #f0fff0;
    --হানি-ডিউ: #f0fff0;

    --f-MintCream: #f5fffa;
    --f-MinCre: #f5fffa;
    --f-MCr: #f5fffa;
    --f-Mint: #f5fffa;
    --f-f5fffa: #f5fffa;
    --মিন্ট-ক্রীম: #f5fffa;

    --f-AliceBlue: #f0f8ff;
    --f-AliBlu: #f0f8ff;
    --f-ABl: #f0f8ff;
    --f-Alice: #f0f8ff;
    --f-f0f8ff: #f0f8ff;
    --অ্যালিস-নীল: #f0f8ff;

    --f-Tomato: #ff6347;
    --f-Tom: #ff6347;
    --f-Tmt: #ff6347;
    --f-ff6347: #ff6347;
    --টমেটো: #ff6347;

    --f-Orchid: #da70d6;
    --f-Orc: #da70d6;
    --f-da70d6: #da70d6;
    --অর্কিড: #da70d6;

    --f-Turquoise: #40e0d0;
    --f-Tur: #40e0d0;
    --f-Tqz: #40e0d0;
    --f-40e0d0: #40e0d0;
    --টারকোইজ: #40e0d0;

    --f-DarkRed: #8b0000;
    --f-DarRe: #8b0000;
    --f-DRd: #8b0000;
    --f-Dag: #8b0000;
    --f-8b0000: #8b0000;
    --গাঢ়-লাল: #8b0000;

    --f-DarkBlue: #00008b;
    --f-DarBlu: #00008b;
    --f-DBl: #00008b;
    --f-GaroNil: #00008b;
    --f-00008b: #00008b;
    --গাঢ়-নীল: #00008b;

    --f-DarkGreen: #006400;
    --f-DarGre: #006400;
    --f-DGr: #006400;
    --f-Dhushar: #006400;
    --f-006400: #006400;
    --গাঢ়-সবুজ: #006400;

    --f-Indigo: #4b0082;
    --f-Ind: #4b0082;
    --f-Nay: #4b0082;
    --f-4b0082: #4b0082;
    --ইন্ডিগো: #4b0082;

    --f-Violet: #ee82ee;
    --f-Vio: #ee82ee;
    --f-Bangla: #ee82ee;
    --f-ee82ee: #ee82ee;
    --ভায়োলেট: #ee82ee;

    --f-Peru: #cd853f;
    --f-Per: #cd853f;
    --f-cd853f: #cd853f;
    --পেরু: #cd853f;

    --f-Chocolate: #d2691e;
    --f-Cho: #d2691e;
    --f-d2691e: #d2691e;
    --চকোলেট: #d2691e;

    --f-Gold: #ffd700;
    --f-Gol: #ffd700;
    --f-Sona: #ffd700;
    --f-ffd700: #ffd700;
    --সোনালী: #ffd700;

    --f-Plum: #dda0dd;
    --f-Plu: #dda0dd;
    --f-Bengali: #dda0dd;
    --f-dda0dd: #dda0dd;
    --প্রম: #dda0dd;

    --f-Sienna: #a0522d;
    --f-Sie: #a0522d;
    --f-Keshari: #a0522d;
    --f-a0522d: #a0522d;
    --সিয়েনা: #a0522d;

    --f-Salmon: #fa8072;
    --f-Sal: #fa8072;
    --f-Ranga: #fa8072;
    --f-fa8072: #fa8072;
    --সালমন: #fa8072;

    --f-Snow: #fffafa;
    --f-Sno: #fffafa;
    --f-Barish: #fffafa;
    --f-fffafa: #fffafa;
    --তুষার: #fffafa;

    --f-Tan: #d2b48c;
    --f-Brown: #d2b48c;
    --f-d2b48c: #d2b48c;
    --ট্যান: #d2b48c;

    --f-MediumPurple: #9370db;
    --f-MedPur: #9370db;
    --f-MPr: #9370db;
    --f-9370db: #9370db;
    --মাঝারি-বেগুনি: #9370db;

    --f-MediumOrchid: #ba55d3;
    --f-MedOrc: #ba55d3;
    --f-MOr: #ba55d3;
    --f-ba55d3: #ba55d3;
    --মাঝারি-অর্কিড: #ba55d3;

    --f-MediumTurquoise: #48d1cc;
    --f-MedTur: #48d1cc;
    --f-MTq: #48d1cc;
    --f-48d1cc: #48d1cc;
    --মাঝারি-টারকোইজ: #48d1cc;

    --f-SlateBlue: #6a5acd;
    --f-SlaBlu: #6a5acd;
    --f-SBl: #6a5acd;
    --f-6a5acd: #6a5acd;
    --স্লেট-ব্লু: #6a5acd;

    --f-SlateGray: #708090;
    --f-SlaGra: #708090;
    --f-SGr: #708090;
    --f-708090: #708090;
    --স্লেট-গ্রে: #708090;

    --f-SpringGreen: #00ff7f;
    --f-SprGre: #00ff7f;
    --f-SGr: #00ff7f;
    --f-Nobob: #00ff7f;
    --f-00ff7f: #00ff7f;
    --স্প্রিং-গ্রিন: #00ff7f;

    --f-SandyBrown: #f4a460;
    --f-SanBro: #f4a460;
    --f-SBr: #f4a460;
    --f-Sandy: #f4a460;
    --f-f4a460: #f4a460;
    --স্যান্ডি-ব্রাউন: #f4a460;

}