.list-, .li- {
    &None {
        list-style-type: none;
    }

    &Disc {
        list-style-type: disc;
    }

    &Circle {
        list-style-type: circle;
    }

    &Square {
        list-style-type: square;
    }

    &Decimal {
        list-style-type: decimal;
    }

    &LowerAlpha {
        list-style-type: lower-alpha;
    }

    &UpperAlpha {
        list-style-type: upper-alpha;
    }

    &LowerRoman {
        list-style-type: lower-roman;
    }

    &UpperRoman {
        list-style-type: upper-roman;
    }

    &DecimalLeadingZero {
        list-style-type: decimal-leading-zero;
    }

    &DiscLeadingZero {
        list-style-type: disc-leading-zero;
    }

    &CircleLeadingZero {
        list-style-type: circle-leading-zero;
    }

    &SquareLeadingZero {
        list-style-type: square-leading-zero;
    }

    &LowerAlphaLeadingZero {
        list-style-type: lower-alpha-leading-zero;
    }

    &UpperAlphaLeadingZero {
        list-style-type: upper-alpha-leading-zero;
    }

    &LowerRomanLeadingZero {
        list-style-type: lower-roman-leading-zero;
    }

    &UpperRomanLeadingZero {
        list-style-type: upper-roman-leading-zero;
    }

    &DecimalLeadingOne {
        list-style-type: decimal-leading-one;
    }

    &DiscLeadingOne {
        list-style-type: disc-leading-one;
    }

    &CircleLeadingOne {
        list-style-type: circle-leading-one;
    }

    &SquareLeadingOne {
        list-style-type: square-leading-one;
    }

    &LowerAlphaLeadingOne {
        list-style-type: lower-alpha-leading-one;
    }

    &UpperAlphaLeadingOne {
        list-style-type: upper-alpha-leading-one;
    }

    &LowerRomanLeadingOne {
        list-style-type: lower-roman-leading-one;
    }

    &UpperRomanLeadingOne {
        list-style-type: upper-roman-leading-one;
    }

    &DecimalLeadingTwo {
        list-style-type: decimal-leading-two;
    }

    &DiscLeadingTwo {
        list-style-type: disc-leading-two;
    }

    &CircleLeadingTwo {
        list-style-type: circle-leading-two;
    }

    &SquareLeadingTwo {
        list-style-type: square-leading-two;
    }

    &LowerAlphaLeadingTwo {
        list-style-type: lower-alpha-leading-two;
    }

    &UpperAlphaLeadingTwo {
        list-style-type: upper-alpha-leading-two;
    }

    &LowerRomanLeadingTwo {
        list-style-type: lower-roman-leading-two;
    }

    &UpperRomanLeadingTwo {
        list-style-type: upper-roman-leading-two;
    }

    &DecimalLeadingThree {
        list-style-type: decimal-leading-three;
    }

    &DiscLeadingThree {
        list-style-type: disc-leading-three;
    }

    &CircleLeadingThree {
        list-style-type: circle-leading-three;
    }

    &SquareLeadingThree {
        list-style-type: square-leading-three;
    }

    &LowerAlphaLeadingThree {
        list-style-type: lower-alpha-leading-three;
    }

    &UpperAlphaLeadingThree {
        list-style-type: upper-alpha-leading-three;
    }

    &LowerRomanLeadingThree {
        list-style-type: lower-roman-leading-three;
    }

    &UpperRomanLeadingThree {
        list-style-type: upper-roman-leading-three;
    }

    &DecimalLeadingFour {
        list-style-type: decimal-leading-four;
    }

    &DiscLeadingFour {
        list-style-type: disc-leading-four;
    }

    &CircleLeadingFour {
        list-style-type: circle-leading-four;
    }

    &SquareLeadingFour {
        list-style-type: square-leading-four;
    }

    &LowerAlphaLeadingFour {
        list-style-type: lower-alpha-leading-four;
    }

    &UpperAlphaLeadingFour {
        list-style-type: upper-alpha-leading-four;
    }

    &LowerRomanLeadingFour {
        list-style-type: lower-roman-leading-four;
    }

    &UpperRomanLeadingFour {
        list-style-type: upper-roman-leading-four;
    }

    &DecimalLeadingFive {
        list-style-type: decimal-leading-five;
    }

    &DiscLeadingFive {
        list-style-type: disc-leading-five;
    }
}