.list-None, .li-None {
  list-style-type: none;
}
.list-Disc, .li-Disc {
  list-style-type: disc;
}
.list-Circle, .li-Circle {
  list-style-type: circle;
}
.list-Square, .li-Square {
  list-style-type: square;
}
.list-Decimal, .li-Decimal {
  list-style-type: decimal;
}
.list-LowerAlpha, .li-LowerAlpha {
  list-style-type: lower-alpha;
}
.list-UpperAlpha, .li-UpperAlpha {
  list-style-type: upper-alpha;
}
.list-LowerRoman, .li-LowerRoman {
  list-style-type: lower-roman;
}
.list-UpperRoman, .li-UpperRoman {
  list-style-type: upper-roman;
}
.list-DecimalLeadingZero, .li-DecimalLeadingZero {
  list-style-type: decimal-leading-zero;
}
.list-DiscLeadingZero, .li-DiscLeadingZero {
  list-style-type: disc-leading-zero;
}
.list-CircleLeadingZero, .li-CircleLeadingZero {
  list-style-type: circle-leading-zero;
}
.list-SquareLeadingZero, .li-SquareLeadingZero {
  list-style-type: square-leading-zero;
}
.list-LowerAlphaLeadingZero, .li-LowerAlphaLeadingZero {
  list-style-type: lower-alpha-leading-zero;
}
.list-UpperAlphaLeadingZero, .li-UpperAlphaLeadingZero {
  list-style-type: upper-alpha-leading-zero;
}
.list-LowerRomanLeadingZero, .li-LowerRomanLeadingZero {
  list-style-type: lower-roman-leading-zero;
}
.list-UpperRomanLeadingZero, .li-UpperRomanLeadingZero {
  list-style-type: upper-roman-leading-zero;
}
.list-DecimalLeadingOne, .li-DecimalLeadingOne {
  list-style-type: decimal-leading-one;
}
.list-DiscLeadingOne, .li-DiscLeadingOne {
  list-style-type: disc-leading-one;
}
.list-CircleLeadingOne, .li-CircleLeadingOne {
  list-style-type: circle-leading-one;
}
.list-SquareLeadingOne, .li-SquareLeadingOne {
  list-style-type: square-leading-one;
}
.list-LowerAlphaLeadingOne, .li-LowerAlphaLeadingOne {
  list-style-type: lower-alpha-leading-one;
}
.list-UpperAlphaLeadingOne, .li-UpperAlphaLeadingOne {
  list-style-type: upper-alpha-leading-one;
}
.list-LowerRomanLeadingOne, .li-LowerRomanLeadingOne {
  list-style-type: lower-roman-leading-one;
}
.list-UpperRomanLeadingOne, .li-UpperRomanLeadingOne {
  list-style-type: upper-roman-leading-one;
}
.list-DecimalLeadingTwo, .li-DecimalLeadingTwo {
  list-style-type: decimal-leading-two;
}
.list-DiscLeadingTwo, .li-DiscLeadingTwo {
  list-style-type: disc-leading-two;
}
.list-CircleLeadingTwo, .li-CircleLeadingTwo {
  list-style-type: circle-leading-two;
}
.list-SquareLeadingTwo, .li-SquareLeadingTwo {
  list-style-type: square-leading-two;
}
.list-LowerAlphaLeadingTwo, .li-LowerAlphaLeadingTwo {
  list-style-type: lower-alpha-leading-two;
}
.list-UpperAlphaLeadingTwo, .li-UpperAlphaLeadingTwo {
  list-style-type: upper-alpha-leading-two;
}
.list-LowerRomanLeadingTwo, .li-LowerRomanLeadingTwo {
  list-style-type: lower-roman-leading-two;
}
.list-UpperRomanLeadingTwo, .li-UpperRomanLeadingTwo {
  list-style-type: upper-roman-leading-two;
}
.list-DecimalLeadingThree, .li-DecimalLeadingThree {
  list-style-type: decimal-leading-three;
}
.list-DiscLeadingThree, .li-DiscLeadingThree {
  list-style-type: disc-leading-three;
}
.list-CircleLeadingThree, .li-CircleLeadingThree {
  list-style-type: circle-leading-three;
}
.list-SquareLeadingThree, .li-SquareLeadingThree {
  list-style-type: square-leading-three;
}
.list-LowerAlphaLeadingThree, .li-LowerAlphaLeadingThree {
  list-style-type: lower-alpha-leading-three;
}
.list-UpperAlphaLeadingThree, .li-UpperAlphaLeadingThree {
  list-style-type: upper-alpha-leading-three;
}
.list-LowerRomanLeadingThree, .li-LowerRomanLeadingThree {
  list-style-type: lower-roman-leading-three;
}
.list-UpperRomanLeadingThree, .li-UpperRomanLeadingThree {
  list-style-type: upper-roman-leading-three;
}
.list-DecimalLeadingFour, .li-DecimalLeadingFour {
  list-style-type: decimal-leading-four;
}
.list-DiscLeadingFour, .li-DiscLeadingFour {
  list-style-type: disc-leading-four;
}
.list-CircleLeadingFour, .li-CircleLeadingFour {
  list-style-type: circle-leading-four;
}
.list-SquareLeadingFour, .li-SquareLeadingFour {
  list-style-type: square-leading-four;
}
.list-LowerAlphaLeadingFour, .li-LowerAlphaLeadingFour {
  list-style-type: lower-alpha-leading-four;
}
.list-UpperAlphaLeadingFour, .li-UpperAlphaLeadingFour {
  list-style-type: upper-alpha-leading-four;
}
.list-LowerRomanLeadingFour, .li-LowerRomanLeadingFour {
  list-style-type: lower-roman-leading-four;
}
.list-UpperRomanLeadingFour, .li-UpperRomanLeadingFour {
  list-style-type: upper-roman-leading-four;
}
.list-DecimalLeadingFive, .li-DecimalLeadingFive {
  list-style-type: decimal-leading-five;
}
.list-DiscLeadingFive, .li-DiscLeadingFive {
  list-style-type: disc-leading-five;
}/*# sourceMappingURL=test.css.map */