/* ----------------------------------------------------------------
CURSOR CLASSES
----------------------------------------------------------------
*/

.cursor__Default {
    cursor: default;
}

.cursor__Pointer {
    cursor: pointer;
}

.cursor__Wait {
    cursor: wait;
}

.cursor__Text {
    cursor: text;
}

.cursor__Crosshair {
    cursor: crosshair;
}

.cursor__Help {
    cursor: help;
}

.cursor__Move {
    cursor: move;
}

.cursor__NotAllowed {
    cursor: not-allowed;
}

.cursor__ZoomIn {
    cursor: zoom-in;
}

.cursor__ZoomOut {
    cursor: zoom-out;
}

.cursor__Grab {
    cursor: grab;
}

.cursor__Grabbing {
    cursor: grabbing;
}

.cursor__AllScroll {
    cursor: all-scroll;
}

.cursor__ColResize {
    cursor: col-resize;
}

.cursor__RowResize {
    cursor: row-resize;
}

.cursor__NResize {
    cursor: n-resize;
}

.cursor__NEResize {
    cursor: ne-resize;
}

.cursor__EResize {
    cursor: e-resize;
}

.cursor__SEResize {
    cursor: se-resize;
}

.cursor__SResize {
    cursor: s-resize;
}

.cursor__SWResize {
    cursor: sw-resize;
}

.cursor__WResize {
    cursor: w-resize;
}

.cursor__NWResize {
    cursor: nw-resize;
}
