/* ----------------------------------------------------------------
CURSOR CLASSES
----------------------------------------------------------------
*/

.cur-, .c- {
    &default {
        cursor: default;
    }

    &pointer {
        cursor: pointer;
    }

    &wait {
        cursor: wait;
    }

    &text {
        cursor: text;
    }

    &crosshair {
        cursor: crosshair;
    }

    &help {
        cursor: help;
    }

    &move {
        cursor: move;
    }

    &notAllowed {
        cursor: not-allowed;
    }

    &zoomIn {
        cursor: zoom-in;
    }

    &zoomOut {
        cursor: zoom-out;
    }

    &grab {
        cursor: grab;
    }

    &grabbing {
        cursor: grabbing;
    }

    &allScroll {
        cursor: all-scroll;
    }

    &colResize {
        cursor: col-resize;
    }

    &rowResize {
        cursor: row-resize;
    }

    &nResize {
        cursor: n-resize;
    }

    &neResize {
        cursor: ne-resize;
    }

    &eResize {
        cursor: e-resize;
    }

    &seResize {
        cursor: se-resize;
    }

    &sResize {
        cursor: s-resize;
    }

    &swResize {
        cursor: sw-resize;
    }

    &wResize {
        cursor: w-resize;
    }

    &nwResize {
        cursor: nw-resize;
    }
}