@use "../variables-Fectory/rem-vars" as *;

/* ----------------------------------------------------------------
IMAGE (Unit-%) IN PERCENTAGE
----------------------------------------------------------------
*/
.img- {
	&00 {
		width: 0%;
	}

	&01 {
		width: 1%;
	}

	&02 {
		width: 2%;
	}

	&03 {
		width: 3%;
	}

	&04 {
		width: 4%;
	}

	&05 {
		width: 5%;
	}

	&06 {
		width: 6%;
	}

	&07 {
		width: 7%;
	}

	&08 {
		width: 8%;
	}

	&09 {
		width: 9%;
	}

	&10 {
		width: 10%;
	}

	&11 {
		width: 11%;
	}

	&12 {
		width: 12%;
	}

	&13 {
		width: 13%;
	}

	&14 {
		width: 14%;
	}

	&15 {
		width: 15%;
	}

	&16 {
		width: 16%;
	}

	&17 {
		width: 17%;
	}

	&18 {
		width: 18%;
	}

	&19 {
		width: 19%;
	}

	&20 {
		width: 20%;
	}

	&21 {
		width: 21%;
	}

	&22 {
		width: 22%;
	}

	&23 {
		width: 23%;
	}

	&24 {
		width: 24%;
	}

	&25 {
		width: 25%;
	}

	&26 {
		width: 26%;
	}

	&27 {
		width: 27%;
	}

	&28 {
		width: 28%;
	}

	&29 {
		width: 29%;
	}

	&30 {
		width: 30%;
	}

	&31 {
		width: 31%;
	}

	&32 {
		width: 32%;
	}

	&33 {
		width: 33%;
	}

	&34 {
		width: 34%;
	}

	&35 {
		width: 35%;
	}

	&36 {
		width: 36%;
	}

	&37 {
		width: 37%;
	}

	&38 {
		width: 38%;
	}

	&39 {
		width: 39%;
	}

	&40 {
		width: 40%;
	}

	&41 {
		width: 41%;
	}

	&42 {
		width: 42%;
	}

	&43 {
		width: 43%;
	}

	&44 {
		width: 44%;
	}

	&45 {
		width: 45%;
	}

	&46 {
		width: 46%;
	}

	&47 {
		width: 47%;
	}

	&48 {
		width: 48%;
	}

	&49 {
		width: 49%;
	}

	&50 {
		width: 50%;
	}

	&51 {
		width: 51%;
	}

	&52 {
		width: 52%;
	}

	&53 {
		width: 53%;
	}

	&54 {
		width: 54%;
	}

	&55 {
		width: 55%;
	}

	&56 {
		width: 56%;
	}

	&57 {
		width: 57%;
	}

	&58 {
		width: 58%;
	}

	&59 {
		width: 59%;
	}

	&60 {
		width: 60%;
	}

	&61 {
		width: 61%;
	}

	&62 {
		width: 62%;
	}

	&63 {
		width: 63%;
	}

	&64 {
		width: 64%;
	}

	&65 {
		width: 65%;
	}

	&66 {
		width: 66%;
	}

	&67 {
		width: 67%;
	}

	&68 {
		width: 68%;
	}

	&69 {
		width: 69%;
	}

	&70 {
		width: 70%;
	}

	&71 {
		width: 71%;
	}

	&72 {
		width: 72%;
	}

	&73 {
		width: 73%;
	}

	&74 {
		width: 74%;
	}

	&75 {
		width: 75%;
	}

	&76 {
		width: 76%;
	}

	&77 {
		width: 77%;
	}

	&78 {
		width: 78%;
	}

	&79 {
		width: 79%;
	}

	&80 {
		width: 80%;
	}

	&81 {
		width: 81%;
	}

	&82 {
		width: 82%;
	}

	&83 {
		width: 83%;
	}

	&84 {
		width: 84%;
	}

	&85 {
		width: 85%;
	}

	&86 {
		width: 86%;
	}

	&87 {
		width: 87%;
	}

	&88 {
		width: 88%;
	}

	&89 {
		width: 89%;
	}

	&90 {
		width: 90%;
	}

	&91 {
		width: 91%;
	}

	&92 {
		width: 92%;
	}

	&93 {
		width: 93%;
	}

	&94 {
		width: 94%;
	}

	&95 {
		width: 95%;
	}

	&96 {
		width: 96%;
	}

	&97 {
		width: 97%;
	}

	&98 {
		width: 98%;
	}

	&99 {
		width: 99%;
	}

	&100 {
		width: 100%;
	}

	&101 {
		width: 101%;
	}

	&102 {
		width: 102%;
	}

	&103 {
		width: 103%;
	}

	&104 {
		width: 104%;
	}

	&105 {
		width: 105%;
	}

	&106 {
		width: 106%;
	}

	&107 {
		width: 107%;
	}

	&108 {
		width: 108%;
	}

	&109 {
		width: 109%;
	}

	&110 {
		width: 110%;
	}

	&111 {
		width: 111%;
	}

	&112 {
		width: 112%;
	}

	&113 {
		width: 113%;
	}

	&114 {
		width: 114%;
	}

	&115 {
		width: 115%;
	}

	&116 {
		width: 116%;
	}

	&117 {
		width: 117%;
	}

	&118 {
		width: 118%;
	}

	&119 {
		width: 119%;
	}

	&120 {
		width: 120%;
	}

	&121 {
		width: 121%;
	}

	&122 {
		width: 122%;
	}

	&123 {
		width: 123%;
	}

	&124 {
		width: 124%;
	}

	&125 {
		width: 125%;
	}

	&126 {
		width: 126%;
	}

	&127 {
		width: 127%;
	}

	&128 {
		width: 128%;
	}

	&129 {
		width: 129%;
	}

	&130 {
		width: 130%;
	}

	&131 {
		width: 131%;
	}

	&132 {
		width: 132%;
	}

	&133 {
		width: 133%;
	}

	&134 {
		width: 134%;
	}

	&135 {
		width: 135%;
	}

	&136 {
		width: 136%;
	}

	&137 {
		width: 137%;
	}

	&138 {
		width: 138%;
	}

	&139 {
		width: 139%;
	}

	&140 {
		width: 140%;
	}

	&141 {
		width: 141%;
	}

	&142 {
		width: 142%;
	}

	&143 {
		width: 143%;
	}

	&144 {
		width: 144%;
	}

	&145 {
		width: 145%;
	}

	&146 {
		width: 146%;
	}

	&147 {
		width: 147%;
	}

	&148 {
		width: 148%;
	}

	&149 {
		width: 149%;
	}

	&150 {
		width: 150%;
	}

	&151 {
		width: 151%;
	}

	&152 {
		width: 152%;
	}

	&153 {
		width: 153%;
	}

	&154 {
		width: 154%;
	}

	&155 {
		width: 155%;
	}

	&156 {
		width: 156%;
	}

	&157 {
		width: 157%;
	}

	&158 {
		width: 158%;
	}

	&159 {
		width: 159%;
	}

	&160 {
		width: 160%;
	}

	&161 {
		width: 161%;
	}

	&162 {
		width: 162%;
	}

	&163 {
		width: 163%;
	}

	&164 {
		width: 164%;
	}

	&165 {
		width: 165%;
	}

	&166 {
		width: 166%;
	}

	&167 {
		width: 167%;
	}

	&168 {
		width: 168%;
	}

	&169 {
		width: 169%;
	}

	&170 {
		width: 170%;
	}

	&171 {
		width: 171%;
	}

	&172 {
		width: 172%;
	}

	&173 {
		width: 173%;
	}

	&174 {
		width: 174%;
	}

	&175 {
		width: 175%;
	}

	&176 {
		width: 176%;
	}

	&177 {
		width: 177%;
	}

	&178 {
		width: 178%;
	}

	&179 {
		width: 179%;
	}

	&180 {
		width: 180%;
	}

	&181 {
		width: 181%;
	}

	&182 {
		width: 182%;
	}

	&183 {
		width: 183%;
	}

	&184 {
		width: 184%;
	}

	&185 {
		width: 185%;
	}

	&186 {
		width: 186%;
	}

	&187 {
		width: 187%;
	}

	&188 {
		width: 188%;
	}

	&189 {
		width: 189%;
	}

	&190 {
		width: 190%;
	}

	&191 {
		width: 191%;
	}

	&192 {
		width: 192%;
	}

	&193 {
		width: 193%;
	}

	&194 {
		width: 194%;
	}

	&195 {
		width: 195%;
	}

	&196 {
		width: 196%;
	}

	&197 {
		width: 197%;
	}

	&198 {
		width: 198%;
	}

	&199 {
		width: 199%;
	}

	&200 {
		width: 200%;
	}

	&201 {
		width: 201%;
	}

	&202 {
		width: 202%;
	}

	&203 {
		width: 203%;
	}

	&204 {
		width: 204%;
	}

	&205 {
		width: 205%;
	}

	&206 {
		width: 206%;
	}

	&207 {
		width: 207%;
	}

	&208 {
		width: 208%;
	}

	&209 {
		width: 209%;
	}

	&210 {
		width: 210%;
	}

	&211 {
		width: 211%;
	}

	&212 {
		width: 212%;
	}

	&213 {
		width: 213%;
	}

	&214 {
		width: 214%;
	}

	&215 {
		width: 215%;
	}

	&216 {
		width: 216%;
	}

	&217 {
		width: 217%;
	}

	&218 {
		width: 218%;
	}

	&219 {
		width: 219%;
	}

	&220 {
		width: 220%;
	}

	&221 {
		width: 221%;
	}

	&222 {
		width: 222%;
	}

	&223 {
		width: 223%;
	}

	&224 {
		width: 224%;
	}

	&225 {
		width: 225%;
	}

	&226 {
		width: 226%;
	}

	&227 {
		width: 227%;
	}

	&228 {
		width: 228%;
	}

	&229 {
		width: 229%;
	}

	&230 {
		width: 230%;
	}

	&231 {
		width: 231%;
	}

	&232 {
		width: 232%;
	}

	&233 {
		width: 233%;
	}

	&234 {
		width: 234%;
	}

	&235 {
		width: 235%;
	}

	&236 {
		width: 236%;
	}

	&237 {
		width: 237%;
	}

	&238 {
		width: 238%;
	}

	&239 {
		width: 239%;
	}

	&240 {
		width: 240%;
	}

	&241 {
		width: 241%;
	}

	&242 {
		width: 242%;
	}

	&243 {
		width: 243%;
	}

	&244 {
		width: 244%;
	}

	&245 {
		width: 245%;
	}

	&246 {
		width: 246%;
	}

	&247 {
		width: 247%;
	}

	&248 {
		width: 248%;
	}

	&249 {
		width: 249%;
	}

	&250 {
		width: 250%;
	}

	&251 {
		width: 251%;
	}

	&252 {
		width: 252%;
	}

	&253 {
		width: 253%;
	}

	&254 {
		width: 254%;
	}

	&255 {
		width: 255%;
	}

	&256 {
		width: 256%;
	}

	&257 {
		width: 257%;
	}

	&258 {
		width: 258%;
	}

	&259 {
		width: 259%;
	}

	&260 {
		width: 260%;
	}

	&261 {
		width: 261%;
	}

	&262 {
		width: 262%;
	}

	&263 {
		width: 263%;
	}

	&264 {
		width: 264%;
	}

	&265 {
		width: 265%;
	}

	&266 {
		width: 266%;
	}

	&267 {
		width: 267%;
	}

	&268 {
		width: 268%;
	}

	&269 {
		width: 269%;
	}

	&270 {
		width: 270%;
	}

	&271 {
		width: 271%;
	}

	&272 {
		width: 272%;
	}

	&273 {
		width: 273%;
	}

	&274 {
		width: 274%;
	}

	&275 {
		width: 275%;
	}

	&276 {
		width: 276%;
	}

	&277 {
		width: 277%;
	}

	&278 {
		width: 278%;
	}

	&279 {
		width: 279%;
	}

	&280 {
		width: 280%;
	}

	&281 {
		width: 281%;
	}

	&282 {
		width: 282%;
	}

	&283 {
		width: 283%;
	}

	&284 {
		width: 284%;
	}

	&285 {
		width: 285%;
	}

	&286 {
		width: 286%;
	}

	&287 {
		width: 287%;
	}

	&288 {
		width: 288%;
	}

	&289 {
		width: 289%;
	}

	&290 {
		width: 290%;
	}

	&291 {
		width: 291%;
	}

	&292 {
		width: 292%;
	}

	&293 {
		width: 293%;
	}

	&294 {
		width: 294%;
	}

	&295 {
		width: 295%;
	}

	&296 {
		width: 296%;
	}

	&297 {
		width: 297%;
	}

	&298 {
		width: 298%;
	}

	&299 {
		width: 299%;
	}

	&300 {
		width: 300%;
	}

	&301 {
		width: 301%;
	}

	&302 {
		width: 302%;
	}

	&303 {
		width: 303%;
	}

	&304 {
		width: 304%;
	}

	&305 {
		width: 305%;
	}

	&306 {
		width: 306%;
	}

	&307 {
		width: 307%;
	}

	&308 {
		width: 308%;
	}

	&309 {
		width: 309%;
	}

	&310 {
		width: 310%;
	}

	&311 {
		width: 311%;
	}

	&312 {
		width: 312%;
	}

	&313 {
		width: 313%;
	}

	&314 {
		width: 314%;
	}

	&315 {
		width: 315%;
	}

	&316 {
		width: 316%;
	}

	&317 {
		width: 317%;
	}

	&318 {
		width: 318%;
	}

	&319 {
		width: 319%;
	}

	&320 {
		width: 320%;
	}

	&321 {
		width: 321%;
	}

	&322 {
		width: 322%;
	}

	&323 {
		width: 323%;
	}

	&324 {
		width: 324%;
	}

	&325 {
		width: 325%;
	}

	&326 {
		width: 326%;
	}

	&327 {
		width: 327%;
	}

	&328 {
		width: 328%;
	}

	&329 {
		width: 329%;
	}

	&330 {
		width: 330%;
	}

	&331 {
		width: 331%;
	}

	&332 {
		width: 332%;
	}

	&333 {
		width: 333%;
	}

	&334 {
		width: 334%;
	}

	&335 {
		width: 335%;
	}

	&336 {
		width: 336%;
	}

	&337 {
		width: 337%;
	}

	&338 {
		width: 338%;
	}

	&339 {
		width: 339%;
	}

	&340 {
		width: 340%;
	}

	&341 {
		width: 341%;
	}

	&342 {
		width: 342%;
	}

	&343 {
		width: 343%;
	}

	&344 {
		width: 344%;
	}

	&345 {
		width: 345%;
	}

	&346 {
		width: 346%;
	}

	&347 {
		width: 347%;
	}

	&348 {
		width: 348%;
	}

	&349 {
		width: 349%;
	}

	&350 {
		width: 350%;
	}

	&351 {
		width: 351%;
	}

	&352 {
		width: 352%;
	}

	&353 {
		width: 353%;
	}

	&354 {
		width: 354%;
	}

	&355 {
		width: 355%;
	}

	&356 {
		width: 356%;
	}

	&357 {
		width: 357%;
	}

	&358 {
		width: 358%;
	}

	&359 {
		width: 359%;
	}

	&360 {
		width: 360%;
	}

	&361 {
		width: 361%;
	}

	&362 {
		width: 362%;
	}

	&363 {
		width: 363%;
	}

	&364 {
		width: 364%;
	}

	&365 {
		width: 365%;
	}

	&366 {
		width: 366%;
	}

	&367 {
		width: 367%;
	}

	&368 {
		width: 368%;
	}

	&369 {
		width: 369%;
	}

	&370 {
		width: 370%;
	}

	&371 {
		width: 371%;
	}

	&372 {
		width: 372%;
	}

	&373 {
		width: 373%;
	}

	&374 {
		width: 374%;
	}

	&375 {
		width: 375%;
	}

	&376 {
		width: 376%;
	}

	&377 {
		width: 377%;
	}

	&378 {
		width: 378%;
	}

	&379 {
		width: 379%;
	}

	&380 {
		width: 380%;
	}

	&381 {
		width: 381%;
	}

	&382 {
		width: 382%;
	}

	&383 {
		width: 383%;
	}

	&384 {
		width: 384%;
	}

	&385 {
		width: 385%;
	}

	&386 {
		width: 386%;
	}

	&387 {
		width: 387%;
	}

	&388 {
		width: 388%;
	}

	&389 {
		width: 389%;
	}

	&390 {
		width: 390%;
	}

	&391 {
		width: 391%;
	}

	&392 {
		width: 392%;
	}

	&393 {
		width: 393%;
	}

	&394 {
		width: 394%;
	}

	&395 {
		width: 395%;
	}

	&396 {
		width: 396%;
	}

	&397 {
		width: 397%;
	}

	&398 {
		width: 398%;
	}

	&399 {
		width: 399%;
	}

	&400 {
		width: 400%;
	}

	&401 {
		width: 401%;
	}

	&402 {
		width: 402%;
	}

	&403 {
		width: 403%;
	}

	&404 {
		width: 404%;
	}

	&405 {
		width: 405%;
	}

	&406 {
		width: 406%;
	}

	&407 {
		width: 407%;
	}

	&408 {
		width: 408%;
	}

	&409 {
		width: 409%;
	}

	&410 {
		width: 410%;
	}

	&411 {
		width: 411%;
	}

	&412 {
		width: 412%;
	}

	&413 {
		width: 413%;
	}

	&414 {
		width: 414%;
	}

	&415 {
		width: 415%;
	}

	&416 {
		width: 416%;
	}

	&417 {
		width: 417%;
	}

	&418 {
		width: 418%;
	}

	&419 {
		width: 419%;
	}

	&420 {
		width: 420%;
	}

	&421 {
		width: 421%;
	}

	&422 {
		width: 422%;
	}

	&423 {
		width: 423%;
	}

	&424 {
		width: 424%;
	}

	&425 {
		width: 425%;
	}

	&426 {
		width: 426%;
	}

	&427 {
		width: 427%;
	}

	&428 {
		width: 428%;
	}

	&429 {
		width: 429%;
	}

	&430 {
		width: 430%;
	}

	&431 {
		width: 431%;
	}

	&432 {
		width: 432%;
	}

	&433 {
		width: 433%;
	}

	&434 {
		width: 434%;
	}

	&435 {
		width: 435%;
	}

	&436 {
		width: 436%;
	}

	&437 {
		width: 437%;
	}

	&438 {
		width: 438%;
	}

	&439 {
		width: 439%;
	}

	&440 {
		width: 440%;
	}

	&441 {
		width: 441%;
	}

	&442 {
		width: 442%;
	}

	&443 {
		width: 443%;
	}

	&444 {
		width: 444%;
	}

	&445 {
		width: 445%;
	}

	&446 {
		width: 446%;
	}

	&447 {
		width: 447%;
	}

	&448 {
		width: 448%;
	}

	&449 {
		width: 449%;
	}

	&450 {
		width: 450%;
	}

	&451 {
		width: 451%;
	}

	&452 {
		width: 452%;
	}

	&453 {
		width: 453%;
	}

	&454 {
		width: 454%;
	}

	&455 {
		width: 455%;
	}

	&456 {
		width: 456%;
	}

	&457 {
		width: 457%;
	}

	&458 {
		width: 458%;
	}

	&459 {
		width: 459%;
	}

	&460 {
		width: 460%;
	}

	&461 {
		width: 461%;
	}

	&462 {
		width: 462%;
	}

	&463 {
		width: 463%;
	}

	&464 {
		width: 464%;
	}

	&465 {
		width: 465%;
	}

	&466 {
		width: 466%;
	}

	&467 {
		width: 467%;
	}

	&468 {
		width: 468%;
	}

	&469 {
		width: 469%;
	}

	&470 {
		width: 470%;
	}

	&471 {
		width: 471%;
	}

	&472 {
		width: 472%;
	}

	&473 {
		width: 473%;
	}

	&474 {
		width: 474%;
	}

	&475 {
		width: 475%;
	}

	&476 {
		width: 476%;
	}

	&477 {
		width: 477%;
	}

	&478 {
		width: 478%;
	}

	&479 {
		width: 479%;
	}

	&480 {
		width: 480%;
	}

	&481 {
		width: 481%;
	}

	&482 {
		width: 482%;
	}

	&483 {
		width: 483%;
	}

	&484 {
		width: 484%;
	}

	&485 {
		width: 485%;
	}

	&486 {
		width: 486%;
	}

	&487 {
		width: 487%;
	}

	&488 {
		width: 488%;
	}

	&489 {
		width: 489%;
	}

	&490 {
		width: 490%;
	}

	&491 {
		width: 491%;
	}

	&492 {
		width: 492%;
	}

	&493 {
		width: 493%;
	}

	&494 {
		width: 494%;
	}

	&495 {
		width: 495%;
	}

	&496 {
		width: 496%;
	}

	&497 {
		width: 497%;
	}

	&498 {
		width: 498%;
	}

	&499 {
		width: 499%;
	}

	&500 {
		width: 500%;
	}




	/* // IMAGE (Unit-VH) */
	&-vh- {
		&00 {
			width: 0vh;
		}

		&01 {
			width: 1vh;
		}

		&02 {
			width: 2vh;
		}

		&03 {
			width: 3vh;
		}

		&04 {
			width: 4vh;
		}

		&05 {
			width: 5vh;
		}

		&06 {
			width: 6vh;
		}

		&07 {
			width: 7vh;
		}

		&08 {
			width: 8vh;
		}

		&09 {
			width: 9vh;
		}

		&10 {
			width: 10vh;
		}

		&11 {
			width: 11vh;
		}

		&12 {
			width: 12vh;
		}

		&13 {
			width: 13vh;
		}

		&14 {
			width: 14vh;
		}

		&15 {
			width: 15vh;
		}

		&16 {
			width: 16vh;
		}

		&17 {
			width: 17vh;
		}

		&18 {
			width: 18vh;
		}

		&19 {
			width: 19vh;
		}

		&20 {
			width: 20vh;
		}

		&21 {
			width: 21vh;
		}

		&22 {
			width: 22vh;
		}

		&23 {
			width: 23vh;
		}

		&24 {
			width: 24vh;
		}

		&25 {
			width: 25vh;
		}

		&26 {
			width: 26vh;
		}

		&27 {
			width: 27vh;
		}

		&28 {
			width: 28vh;
		}

		&29 {
			width: 29vh;
		}

		&30 {
			width: 30vh;
		}

		&31 {
			width: 31vh;
		}

		&32 {
			width: 32vh;
		}

		&33 {
			width: 33vh;
		}

		&34 {
			width: 34vh;
		}

		&35 {
			width: 35vh;
		}

		&36 {
			width: 36vh;
		}

		&37 {
			width: 37vh;
		}

		&38 {
			width: 38vh;
		}

		&39 {
			width: 39vh;
		}

		&40 {
			width: 40vh;
		}

		&41 {
			width: 41vh;
		}

		&42 {
			width: 42vh;
		}

		&43 {
			width: 43vh;
		}

		&44 {
			width: 44vh;
		}

		&45 {
			width: 45vh;
		}

		&46 {
			width: 46vh;
		}

		&47 {
			width: 47vh;
		}

		&48 {
			width: 48vh;
		}

		&49 {
			width: 49vh;
		}

		&50 {
			width: 50vh;
		}

		&51 {
			width: 51vh;
		}

		&52 {
			width: 52vh;
		}

		&53 {
			width: 53vh;
		}

		&54 {
			width: 54vh;
		}

		&55 {
			width: 55vh;
		}

		&56 {
			width: 56vh;
		}

		&57 {
			width: 57vh;
		}

		&58 {
			width: 58vh;
		}

		&59 {
			width: 59vh;
		}

		&60 {
			width: 60vh;
		}

		&61 {
			width: 61vh;
		}

		&62 {
			width: 62vh;
		}

		&63 {
			width: 63vh;
		}

		&64 {
			width: 64vh;
		}

		&65 {
			width: 65vh;
		}

		&66 {
			width: 66vh;
		}

		&67 {
			width: 67vh;
		}

		&68 {
			width: 68vh;
		}

		&69 {
			width: 69vh;
		}

		&70 {
			width: 70vh;
		}

		&71 {
			width: 71vh;
		}

		&72 {
			width: 72vh;
		}

		&73 {
			width: 73vh;
		}

		&74 {
			width: 74vh;
		}

		&75 {
			width: 75vh;
		}

		&76 {
			width: 76vh;
		}

		&77 {
			width: 77vh;
		}

		&78 {
			width: 78vh;
		}

		&79 {
			width: 79vh;
		}

		&80 {
			width: 80vh;
		}

		&81 {
			width: 81vh;
		}

		&82 {
			width: 82vh;
		}

		&83 {
			width: 83vh;
		}

		&84 {
			width: 84vh;
		}

		&85 {
			width: 85vh;
		}

		&86 {
			width: 86vh;
		}

		&87 {
			width: 87vh;
		}

		&88 {
			width: 88vh;
		}

		&89 {
			width: 89vh;
		}

		&90 {
			width: 90vh;
		}

		&91 {
			width: 91vh;
		}

		&92 {
			width: 92vh;
		}

		&93 {
			width: 93vh;
		}

		&94 {
			width: 94vh;
		}

		&95 {
			width: 95vh;
		}

		&96 {
			width: 96vh;
		}

		&97 {
			width: 97vh;
		}

		&98 {
			width: 98vh;
		}

		&99 {
			width: 99vh;
		}

		&100 {
			width: 100vh;
		}

		&101 {
			width: 101vh;
		}

		&102 {
			width: 102vh;
		}

		&103 {
			width: 103vh;
		}

		&104 {
			width: 104vh;
		}

		&105 {
			width: 105vh;
		}

		&106 {
			width: 106vh;
		}

		&107 {
			width: 107vh;
		}

		&108 {
			width: 108vh;
		}

		&109 {
			width: 109vh;
		}

		&110 {
			width: 110vh;
		}

		&111 {
			width: 111vh;
		}

		&112 {
			width: 112vh;
		}

		&113 {
			width: 113vh;
		}

		&114 {
			width: 114vh;
		}

		&115 {
			width: 115vh;
		}

		&116 {
			width: 116vh;
		}

		&117 {
			width: 117vh;
		}

		&118 {
			width: 118vh;
		}

		&119 {
			width: 119vh;
		}

		&120 {
			width: 120vh;
		}

		&121 {
			width: 121vh;
		}

		&122 {
			width: 122vh;
		}

		&123 {
			width: 123vh;
		}

		&124 {
			width: 124vh;
		}

		&125 {
			width: 125vh;
		}

		&126 {
			width: 126vh;
		}

		&127 {
			width: 127vh;
		}

		&128 {
			width: 128vh;
		}

		&129 {
			width: 129vh;
		}

		&130 {
			width: 130vh;
		}

		&131 {
			width: 131vh;
		}

		&132 {
			width: 132vh;
		}

		&133 {
			width: 133vh;
		}

		&134 {
			width: 134vh;
		}

		&135 {
			width: 135vh;
		}

		&136 {
			width: 136vh;
		}

		&137 {
			width: 137vh;
		}

		&138 {
			width: 138vh;
		}

		&139 {
			width: 139vh;
		}

		&140 {
			width: 140vh;
		}

		&141 {
			width: 141vh;
		}

		&142 {
			width: 142vh;
		}

		&143 {
			width: 143vh;
		}

		&144 {
			width: 144vh;
		}

		&145 {
			width: 145vh;
		}

		&146 {
			width: 146vh;
		}

		&147 {
			width: 147vh;
		}

		&148 {
			width: 148vh;
		}

		&149 {
			width: 149vh;
		}

		&150 {
			width: 150vh;
		}

		&151 {
			width: 151vh;
		}

		&152 {
			width: 152vh;
		}

		&153 {
			width: 153vh;
		}

		&154 {
			width: 154vh;
		}

		&155 {
			width: 155vh;
		}

		&156 {
			width: 156vh;
		}

		&157 {
			width: 157vh;
		}

		&158 {
			width: 158vh;
		}

		&159 {
			width: 159vh;
		}

		&160 {
			width: 160vh;
		}

		&161 {
			width: 161vh;
		}

		&162 {
			width: 162vh;
		}

		&163 {
			width: 163vh;
		}

		&164 {
			width: 164vh;
		}

		&165 {
			width: 165vh;
		}

		&166 {
			width: 166vh;
		}

		&167 {
			width: 167vh;
		}

		&168 {
			width: 168vh;
		}

		&169 {
			width: 169vh;
		}

		&170 {
			width: 170vh;
		}

		&171 {
			width: 171vh;
		}

		&172 {
			width: 172vh;
		}

		&173 {
			width: 173vh;
		}

		&174 {
			width: 174vh;
		}

		&175 {
			width: 175vh;
		}

		&176 {
			width: 176vh;
		}

		&177 {
			width: 177vh;
		}

		&178 {
			width: 178vh;
		}

		&179 {
			width: 179vh;
		}

		&180 {
			width: 180vh;
		}

		&181 {
			width: 181vh;
		}

		&182 {
			width: 182vh;
		}

		&183 {
			width: 183vh;
		}

		&184 {
			width: 184vh;
		}

		&185 {
			width: 185vh;
		}

		&186 {
			width: 186vh;
		}

		&187 {
			width: 187vh;
		}

		&188 {
			width: 188vh;
		}

		&189 {
			width: 189vh;
		}

		&190 {
			width: 190vh;
		}

		&191 {
			width: 191vh;
		}

		&192 {
			width: 192vh;
		}

		&193 {
			width: 193vh;
		}

		&194 {
			width: 194vh;
		}

		&195 {
			width: 195vh;
		}

		&196 {
			width: 196vh;
		}

		&197 {
			width: 197vh;
		}

		&198 {
			width: 198vh;
		}

		&199 {
			width: 199vh;
		}

		&200 {
			width: 200vh;
		}
	}






	/* // IMAGE (Unit-VW) */
	&-vw- {
		&00 {
			height: 0vw;
		}

		&01 {
			height: 1vw;
		}

		&02 {
			height: 2vw;
		}

		&03 {
			height: 3vw;
		}

		&04 {
			height: 4vw;
		}

		&05 {
			height: 5vw;
		}

		&06 {
			height: 6vw;
		}

		&07 {
			height: 7vw;
		}

		&08 {
			height: 8vw;
		}

		&09 {
			height: 9vw;
		}

		&10 {
			height: 10vw;
		}

		&11 {
			height: 11vw;
		}

		&12 {
			height: 12vw;
		}

		&13 {
			height: 13vw;
		}

		&14 {
			height: 14vw;
		}

		&15 {
			height: 15vw;
		}

		&16 {
			height: 16vw;
		}

		&17 {
			height: 17vw;
		}

		&18 {
			height: 18vw;
		}

		&19 {
			height: 19vw;
		}

		&20 {
			height: 20vw;
		}

		&21 {
			height: 21vw;
		}

		&22 {
			height: 22vw;
		}

		&23 {
			height: 23vw;
		}

		&24 {
			height: 24vw;
		}

		&25 {
			height: 25vw;
		}

		&26 {
			height: 26vw;
		}

		&27 {
			height: 27vw;
		}

		&28 {
			height: 28vw;
		}

		&29 {
			height: 29vw;
		}

		&30 {
			height: 30vw;
		}

		&31 {
			height: 31vw;
		}

		&32 {
			height: 32vw;
		}

		&33 {
			height: 33vw;
		}

		&34 {
			height: 34vw;
		}

		&35 {
			height: 35vw;
		}

		&36 {
			height: 36vw;
		}

		&37 {
			height: 37vw;
		}

		&38 {
			height: 38vw;
		}

		&39 {
			height: 39vw;
		}

		&40 {
			height: 40vw;
		}

		&41 {
			height: 41vw;
		}

		&42 {
			height: 42vw;
		}

		&43 {
			height: 43vw;
		}

		&44 {
			height: 44vw;
		}

		&45 {
			height: 45vw;
		}

		&46 {
			height: 46vw;
		}

		&47 {
			height: 47vw;
		}

		&48 {
			height: 48vw;
		}

		&49 {
			height: 49vw;
		}

		&50 {
			height: 50vw;
		}

		&51 {
			height: 51vw;
		}

		&52 {
			height: 52vw;
		}

		&53 {
			height: 53vw;
		}

		&54 {
			height: 54vw;
		}

		&55 {
			height: 55vw;
		}

		&56 {
			height: 56vw;
		}

		&57 {
			height: 57vw;
		}

		&58 {
			height: 58vw;
		}

		&59 {
			height: 59vw;
		}

		&60 {
			height: 60vw;
		}

		&61 {
			height: 61vw;
		}

		&62 {
			height: 62vw;
		}

		&63 {
			height: 63vw;
		}

		&64 {
			height: 64vw;
		}

		&65 {
			height: 65vw;
		}

		&66 {
			height: 66vw;
		}

		&67 {
			height: 67vw;
		}

		&68 {
			height: 68vw;
		}

		&69 {
			height: 69vw;
		}

		&70 {
			height: 70vw;
		}

		&71 {
			height: 71vw;
		}

		&72 {
			height: 72vw;
		}

		&73 {
			height: 73vw;
		}

		&74 {
			height: 74vw;
		}

		&75 {
			height: 75vw;
		}

		&76 {
			height: 76vw;
		}

		&77 {
			height: 77vw;
		}

		&78 {
			height: 78vw;
		}

		&79 {
			height: 79vw;
		}

		&80 {
			height: 80vw;
		}

		&81 {
			height: 81vw;
		}

		&82 {
			height: 82vw;
		}

		&83 {
			height: 83vw;
		}

		&84 {
			height: 84vw;
		}

		&85 {
			height: 85vw;
		}

		&86 {
			height: 86vw;
		}

		&87 {
			height: 87vw;
		}

		&88 {
			height: 88vw;
		}

		&89 {
			height: 89vw;
		}

		&90 {
			height: 90vw;
		}

		&91 {
			height: 91vw;
		}

		&92 {
			height: 92vw;
		}

		&93 {
			height: 93vw;
		}

		&94 {
			height: 94vw;
		}

		&95 {
			height: 95vw;
		}

		&96 {
			height: 96vw;
		}

		&97 {
			height: 97vw;
		}

		&98 {
			height: 98vw;
		}

		&99 {
			height: 99vw;
		}

		&100 {
			height: 100vw;
		}

		&101 {
			height: 101vw;
		}

		&102 {
			height: 102vw;
		}

		&103 {
			height: 103vw;
		}

		&104 {
			height: 104vw;
		}

		&105 {
			height: 105vw;
		}

		&106 {
			height: 106vw;
		}

		&107 {
			height: 107vw;
		}

		&108 {
			height: 108vw;
		}

		&109 {
			height: 109vw;
		}

		&110 {
			height: 110vw;
		}

		&111 {
			height: 111vw;
		}

		&112 {
			height: 112vw;
		}

		&113 {
			height: 113vw;
		}

		&114 {
			height: 114vw;
		}

		&115 {
			height: 115vw;
		}

		&116 {
			height: 116vw;
		}

		&117 {
			height: 117vw;
		}

		&118 {
			height: 118vw;
		}

		&119 {
			height: 119vw;
		}

		&120 {
			height: 120vw;
		}

		&121 {
			height: 121vw;
		}

		&122 {
			height: 122vw;
		}

		&123 {
			height: 123vw;
		}

		&124 {
			height: 124vw;
		}

		&125 {
			height: 125vw;
		}

		&126 {
			height: 126vw;
		}

		&127 {
			height: 127vw;
		}

		&128 {
			height: 128vw;
		}

		&129 {
			height: 129vw;
		}

		&130 {
			height: 130vw;
		}

		&131 {
			height: 131vw;
		}

		&132 {
			height: 132vw;
		}

		&133 {
			height: 133vw;
		}

		&134 {
			height: 134vw;
		}

		&135 {
			height: 135vw;
		}

		&136 {
			height: 136vw;
		}

		&137 {
			height: 137vw;
		}

		&138 {
			height: 138vw;
		}

		&139 {
			height: 139vw;
		}

		&140 {
			height: 140vw;
		}

		&141 {
			height: 141vw;
		}

		&142 {
			height: 142vw;
		}

		&143 {
			height: 143vw;
		}

		&144 {
			height: 144vw;
		}

		&145 {
			height: 145vw;
		}

		&146 {
			height: 146vw;
		}

		&147 {
			height: 147vw;
		}

		&148 {
			height: 148vw;
		}

		&149 {
			height: 149vw;
		}

		&150 {
			height: 150vw;
		}

		&151 {
			height: 151vw;
		}

		&152 {
			height: 152vw;
		}

		&153 {
			height: 153vw;
		}

		&154 {
			height: 154vw;
		}

		&155 {
			height: 155vw;
		}

		&156 {
			height: 156vw;
		}

		&157 {
			height: 157vw;
		}

		&158 {
			height: 158vw;
		}

		&159 {
			height: 159vw;
		}

		&160 {
			height: 160vw;
		}

		&161 {
			height: 161vw;
		}

		&162 {
			height: 162vw;
		}

		&163 {
			height: 163vw;
		}

		&164 {
			height: 164vw;
		}

		&165 {
			height: 165vw;
		}

		&166 {
			height: 166vw;
		}

		&167 {
			height: 167vw;
		}

		&168 {
			height: 168vw;
		}

		&169 {
			height: 169vw;
		}

		&170 {
			height: 170vw;
		}

		&171 {
			height: 171vw;
		}

		&172 {
			height: 172vw;
		}

		&173 {
			height: 173vw;
		}

		&174 {
			height: 174vw;
		}

		&175 {
			height: 175vw;
		}

		&176 {
			height: 176vw;
		}

		&177 {
			height: 177vw;
		}

		&178 {
			height: 178vw;
		}

		&179 {
			height: 179vw;
		}

		&180 {
			height: 180vw;
		}

		&181 {
			height: 181vw;
		}

		&182 {
			height: 182vw;
		}

		&183 {
			height: 183vw;
		}

		&184 {
			height: 184vw;
		}

		&185 {
			height: 185vw;
		}

		&186 {
			height: 186vw;
		}

		&187 {
			height: 187vw;
		}

		&188 {
			height: 188vw;
		}

		&189 {
			height: 189vw;
		}

		&190 {
			height: 190vw;
		}

		&191 {
			height: 191vw;
		}

		&192 {
			height: 192vw;
		}

		&193 {
			height: 193vw;
		}

		&194 {
			height: 194vw;
		}

		&195 {
			height: 195vw;
		}

		&196 {
			height: 196vw;
		}

		&197 {
			height: 197vw;
		}

		&198 {
			height: 198vw;
		}

		&199 {
			height: 199vw;
		}

		&200 {
			height: 200vw;
		}
	}






	/* ----------------------------------------------------------------
IMAGE (Unit - REM)
----------------------------------------------------------------
*/
	&- {
		&00 {
			width: $rem00;
		}

		&01 {
			width: $rem01;
		}

		&02 {
			width: $rem2;
		}

		&03 {
			width: $rem3;
		}

		&04 {
			width: $rem4;
		}

		&05 {
			width: $rem5;
		}

		&06 {
			width: $rem6;
		}

		&07 {
			width: $rem7;
		}

		&08 {
			width: $rem8;
		}

		&09 {
			width: $rem9;
		}

		&10 {
			width: $rem10;
		}

		&11 {
			width: $rem11;
		}

		&12 {
			width: $rem12;
		}

		&13 {
			width: $rem13;
		}

		&14 {
			width: $rem14;
		}

		&15 {
			width: $rem15;
		}

		&16 {
			width: $rem16;
		}

		&17 {
			width: $rem17;
		}

		&18 {
			width: $rem18;
		}

		&19 {
			width: $rem19;
		}

		&20 {
			width: $rem20;
		}

		&21 {
			width: $rem21;
		}

		&22 {
			width: $rem22;
		}

		&23 {
			width: $rem23;
		}

		&24 {
			width: $rem24;
		}

		&25 {
			width: $rem25;
		}

		&26 {
			width: $rem26;
		}

		&27 {
			width: $rem27;
		}

		&28 {
			width: $rem28;
		}

		&29 {
			width: $rem29;
		}

		&30 {
			width: $rem30;
		}

		&31 {
			width: $rem31;
		}

		&32 {
			width: $rem32;
		}

		&33 {
			width: $rem33;
		}

		&34 {
			width: $rem34;
		}

		&35 {
			width: $rem35;
		}

		&36 {
			width: $rem36;
		}

		&37 {
			width: $rem37;
		}

		&38 {
			width: $rem38;
		}

		&39 {
			width: $rem39;
		}

		&40 {
			width: $rem40;
		}

		&41 {
			width: $rem41;
		}

		&42 {
			width: $rem42;
		}

		&43 {
			width: $rem43;
		}

		&44 {
			width: $rem44;
		}

		&45 {
			width: $rem45;
		}

		&46 {
			width: $rem46;
		}

		&47 {
			width: $rem47;
		}

		&48 {
			width: $rem48;
		}

		&49 {
			width: $rem49;
		}

		&50 {
			width: $rem50;
		}

		&51 {
			width: $rem51;
		}

		&52 {
			width: $rem52;
		}

		&53 {
			width: $rem53;
		}

		&54 {
			width: $rem54;
		}

		&55 {
			width: $rem55;
		}

		&56 {
			width: $rem56;
		}

		&57 {
			width: $rem57;
		}

		&58 {
			width: $rem58;
		}

		&59 {
			width: $rem59;
		}

		&60 {
			width: $rem60;
		}

		&61 {
			width: $rem61;
		}

		&62 {
			width: $rem62;
		}

		&63 {
			width: $rem63;
		}

		&64 {
			width: $rem64;
		}

		&65 {
			width: $rem65;
		}

		&66 {
			width: $rem66;
		}

		&67 {
			width: $rem67;
		}

		&68 {
			width: $rem68;
		}

		&69 {
			width: $rem69;
		}

		&70 {
			width: $rem70;
		}

		&71 {
			width: $rem71;
		}

		&72 {
			width: $rem72;
		}

		&73 {
			width: $rem73;
		}

		&74 {
			width: $rem74;
		}

		&75 {
			width: $rem75;
		}

		&76 {
			width: $rem76;
		}

		&77 {
			width: $rem77;
		}

		&78 {
			width: $rem78;
		}

		&79 {
			width: $rem79;
		}

		&80 {
			width: $rem80;
		}

		&81 {
			width: $rem81;
		}

		&82 {
			width: $rem82;
		}

		&83 {
			width: $rem83;
		}

		&84 {
			width: $rem84;
		}

		&85 {
			width: $rem85;
		}

		&86 {
			width: $rem86;
		}

		&87 {
			width: $rem87;
		}

		&88 {
			width: $rem88;
		}

		&89 {
			width: $rem89;
		}

		&90 {
			width: $rem90;
		}

		&91 {
			width: $rem91;
		}

		&92 {
			width: $rem92;
		}

		&93 {
			width: $rem93;
		}

		&94 {
			width: $rem94;
		}

		&95 {
			width: $rem95;
		}

		&96 {
			width: $rem96;
		}

		&97 {
			width: $rem97;
		}

		&98 {
			width: $rem98;
		}

		&99 {
			width: $rem99;
		}

		&100 {
			width: $rem100;
		}

		&101 {
			width: $rem101;
		}

		&102 {
			width: $rem102;
		}

		&103 {
			width: $rem103;
		}

		&104 {
			width: $rem104;
		}

		&105 {
			width: $rem105;
		}

		&106 {
			width: $rem106;
		}

		&107 {
			width: $rem107;
		}

		&108 {
			width: $rem108;
		}

		&109 {
			width: $rem109;
		}

		&110 {
			width: $rem110;
		}

		&111 {
			width: $rem111;
		}

		&112 {
			width: $rem112;
		}

		&113 {
			width: $rem113;
		}

		&114 {
			width: $rem114;
		}

		&115 {
			width: $rem115;
		}

		&116 {
			width: $rem116;
		}

		&117 {
			width: $rem117;
		}

		&118 {
			width: $rem118;
		}

		&119 {
			width: $rem119;
		}

		&120 {
			width: $rem120;
		}

		&121 {
			width: $rem121;
		}

		&122 {
			width: $rem122;
		}

		&123 {
			width: $rem123;
		}

		&124 {
			width: $rem124;
		}

		&125 {
			width: $rem125;
		}

		&126 {
			width: $rem126;
		}

		&127 {
			width: $rem127;
		}

		&128 {
			width: $rem128;
		}

		&129 {
			width: $rem129;
		}

		&130 {
			width: $rem130;
		}

		&131 {
			width: $rem131;
		}

		&132 {
			width: $rem132;
		}

		&133 {
			width: $rem133;
		}

		&134 {
			width: $rem134;
		}

		&135 {
			width: $rem135;
		}

		&136 {
			width: $rem136;
		}

		&137 {
			width: $rem137;
		}

		&138 {
			width: $rem138;
		}

		&139 {
			width: $rem139;
		}

		&140 {
			width: $rem140;
		}

		&141 {
			width: $rem141;
		}

		&142 {
			width: $rem142;
		}

		&143 {
			width: $rem143;
		}

		&144 {
			width: $rem144;
		}

		&145 {
			width: $rem145;
		}

		&146 {
			width: $rem146;
		}

		&147 {
			width: $rem147;
		}

		&148 {
			width: $rem148;
		}

		&149 {
			width: $rem149;
		}

		&150 {
			width: $rem150;
		}

		&151 {
			width: $rem151;
		}

		&152 {
			width: $rem152;
		}

		&153 {
			width: $rem153;
		}

		&154 {
			width: $rem154;
		}

		&155 {
			width: $rem155;
		}

		&156 {
			width: $rem156;
		}

		&157 {
			width: $rem157;
		}

		&158 {
			width: $rem158;
		}

		&159 {
			width: $rem159;
		}

		&160 {
			width: $rem160;
		}

		&161 {
			width: $rem161;
		}

		&162 {
			width: $rem162;
		}

		&163 {
			width: $rem163;
		}

		&164 {
			width: $rem164;
		}

		&165 {
			width: $rem165;
		}

		&166 {
			width: $rem166;
		}

		&167 {
			width: $rem167;
		}

		&168 {
			width: $rem168;
		}

		&169 {
			width: $rem169;
		}

		&170 {
			width: $rem170;
		}

		&171 {
			width: $rem171;
		}

		&172 {
			width: $rem172;
		}

		&173 {
			width: $rem173;
		}

		&174 {
			width: $rem174;
		}

		&175 {
			width: $rem175;
		}

		&176 {
			width: $rem176;
		}

		&177 {
			width: $rem177;
		}

		&178 {
			width: $rem178;
		}

		&179 {
			width: $rem179;
		}

		&180 {
			width: $rem180;
		}

		&181 {
			width: $rem181;
		}

		&182 {
			width: $rem182;
		}

		&183 {
			width: $rem183;
		}

		&184 {
			width: $rem184;
		}

		&185 {
			width: $rem185;
		}

		&186 {
			width: $rem186;
		}

		&187 {
			width: $rem187;
		}

		&188 {
			width: $rem188;
		}

		&189 {
			width: $rem189;
		}

		&190 {
			width: $rem190;
		}

		&191 {
			width: $rem191;
		}

		&192 {
			width: $rem192;
		}

		&193 {
			width: $rem193;
		}

		&194 {
			width: $rem194;
		}

		&195 {
			width: $rem195;
		}

		&196 {
			width: $rem196;
		}

		&197 {
			width: $rem197;
		}

		&198 {
			width: $rem198;
		}

		&199 {
			width: $rem199;
		}

		&200 {
			width: $rem200;
		}

		&201 {
			width: $rem201;
		}

		&202 {
			width: $rem202;
		}

		&203 {
			width: $rem203;
		}

		&204 {
			width: $rem204;
		}

		&205 {
			width: $rem205;
		}

		&206 {
			width: $rem206;
		}

		&207 {
			width: $rem207;
		}

		&208 {
			width: $rem208;
		}

		&209 {
			width: $rem209;
		}

		&210 {
			width: $rem210;
		}

		&211 {
			width: $rem211;
		}

		&212 {
			width: $rem212;
		}

		&213 {
			width: $rem213;
		}

		&214 {
			width: $rem214;
		}

		&215 {
			width: $rem215;
		}

		&216 {
			width: $rem216;
		}

		&217 {
			width: $rem217;
		}

		&218 {
			width: $rem218;
		}

		&219 {
			width: $rem219;
		}

		&220 {
			width: $rem220;
		}

		&221 {
			width: $rem221;
		}

		&222 {
			width: $rem222;
		}

		&223 {
			width: $rem223;
		}

		&224 {
			width: $rem224;
		}

		&225 {
			width: $rem225;
		}

		&226 {
			width: $rem226;
		}

		&227 {
			width: $rem227;
		}

		&228 {
			width: $rem228;
		}

		&229 {
			width: $rem229;
		}

		&230 {
			width: $rem230;
		}

		&231 {
			width: $rem231;
		}

		&232 {
			width: $rem232;
		}

		&233 {
			width: $rem233;
		}

		&234 {
			width: $rem234;
		}

		&235 {
			width: $rem235;
		}

		&236 {
			width: $rem236;
		}

		&237 {
			width: $rem237;
		}

		&238 {
			width: $rem238;
		}

		&239 {
			width: $rem239;
		}

		&240 {
			width: $rem240;
		}

		&241 {
			width: $rem241;
		}

		&242 {
			width: $rem242;
		}

		&243 {
			width: $rem243;
		}

		&244 {
			width: $rem244;
		}

		&245 {
			width: $rem245;
		}

		&246 {
			width: $rem246;
		}

		&247 {
			width: $rem247;
		}

		&248 {
			width: $rem248;
		}

		&249 {
			width: $rem249;
		}

		&250 {
			width: $rem250;
		}

		&251 {
			width: $rem251;
		}

		&252 {
			width: $rem252;
		}

		&253 {
			width: $rem253;
		}

		&254 {
			width: $rem254;
		}

		&255 {
			width: $rem255;
		}

		&256 {
			width: $rem256;
		}

		&257 {
			width: $rem257;
		}

		&258 {
			width: $rem258;
		}

		&259 {
			width: $rem259;
		}

		&260 {
			width: $rem260;
		}

		&261 {
			width: $rem261;
		}

		&262 {
			width: $rem262;
		}

		&263 {
			width: $rem263;
		}

		&264 {
			width: $rem264;
		}

		&265 {
			width: $rem265;
		}

		&266 {
			width: $rem266;
		}

		&267 {
			width: $rem267;
		}

		&268 {
			width: $rem268;
		}

		&269 {
			width: $rem269;
		}

		&270 {
			width: $rem270;
		}

		&271 {
			width: $rem271;
		}

		&272 {
			width: $rem272;
		}

		&273 {
			width: $rem273;
		}

		&274 {
			width: $rem274;
		}

		&275 {
			width: $rem275;
		}

		&276 {
			width: $rem276;
		}

		&277 {
			width: $rem277;
		}

		&278 {
			width: $rem278;
		}

		&279 {
			width: $rem279;
		}

		&280 {
			width: $rem280;
		}

		&281 {
			width: $rem281;
		}

		&282 {
			width: $rem282;
		}

		&283 {
			width: $rem283;
		}

		&284 {
			width: $rem284;
		}

		&285 {
			width: $rem285;
		}

		&286 {
			width: $rem286;
		}

		&287 {
			width: $rem287;
		}

		&288 {
			width: $rem288;
		}

		&289 {
			width: $rem289;
		}

		&290 {
			width: $rem290;
		}

		&291 {
			width: $rem291;
		}

		&292 {
			width: $rem292;
		}

		&293 {
			width: $rem293;
		}

		&294 {
			width: $rem294;
		}

		&295 {
			width: $rem295;
		}

		&296 {
			width: $rem296;
		}

		&297 {
			width: $rem297;
		}

		&298 {
			width: $rem298;
		}

		&299 {
			width: $rem299;
		}

		&300 {
			width: $rem300;
		}

		&301 {
			width: $rem301;
		}

		&302 {
			width: $rem302;
		}

		&303 {
			width: $rem303;
		}

		&304 {
			width: $rem304;
		}

		&305 {
			width: $rem305;
		}

		&306 {
			width: $rem306;
		}

		&307 {
			width: $rem307;
		}

		&308 {
			width: $rem308;
		}

		&309 {
			width: $rem309;
		}

		&310 {
			width: $rem310;
		}

		&311 {
			width: $rem311;
		}

		&312 {
			width: $rem312;
		}

		&313 {
			width: $rem313;
		}

		&314 {
			width: $rem314;
		}

		&315 {
			width: $rem315;
		}

		&316 {
			width: $rem316;
		}

		&317 {
			width: $rem317;
		}

		&318 {
			width: $rem318;
		}

		&319 {
			width: $rem319;
		}

		&320 {
			width: $rem320;
		}

		&321 {
			width: $rem321;
		}

		&322 {
			width: $rem322;
		}

		&323 {
			width: $rem323;
		}

		&324 {
			width: $rem324;
		}

		&325 {
			width: $rem325;
		}

		&326 {
			width: $rem326;
		}

		&327 {
			width: $rem327;
		}

		&328 {
			width: $rem328;
		}

		&329 {
			width: $rem329;
		}

		&330 {
			width: $rem330;
		}

		&331 {
			width: $rem331;
		}

		&332 {
			width: $rem332;
		}

		&333 {
			width: $rem333;
		}

		&334 {
			width: $rem334;
		}

		&335 {
			width: $rem335;
		}

		&336 {
			width: $rem336;
		}

		&337 {
			width: $rem337;
		}

		&338 {
			width: $rem338;
		}

		&339 {
			width: $rem339;
		}

		&340 {
			width: $rem340;
		}

		&341 {
			width: $rem341;
		}

		&342 {
			width: $rem342;
		}

		&343 {
			width: $rem343;
		}

		&344 {
			width: $rem344;
		}

		&345 {
			width: $rem345;
		}

		&346 {
			width: $rem346;
		}

		&347 {
			width: $rem347;
		}

		&348 {
			width: $rem348;
		}

		&349 {
			width: $rem349;
		}

		&350 {
			width: $rem350;
		}

		&351 {
			width: $rem351;
		}

		&352 {
			width: $rem352;
		}

		&353 {
			width: $rem353;
		}

		&354 {
			width: $rem354;
		}

		&355 {
			width: $rem355;
		}

		&356 {
			width: $rem356;
		}

		&357 {
			width: $rem357;
		}

		&358 {
			width: $rem358;
		}

		&359 {
			width: $rem359;
		}

		&360 {
			width: $rem360;
		}

		&361 {
			width: $rem361;
		}

		&362 {
			width: $rem362;
		}

		&363 {
			width: $rem363;
		}

		&364 {
			width: $rem364;
		}

		&365 {
			width: $rem365;
		}

		&366 {
			width: $rem366;
		}

		&367 {
			width: $rem367;
		}

		&368 {
			width: $rem368;
		}

		&369 {
			width: $rem369;
		}

		&370 {
			width: $rem370;
		}

		&371 {
			width: $rem371;
		}

		&372 {
			width: $rem372;
		}

		&373 {
			width: $rem373;
		}

		&374 {
			width: $rem374;
		}

		&375 {
			width: $rem375;
		}

		&376 {
			width: $rem376;
		}

		&377 {
			width: $rem377;
		}

		&378 {
			width: $rem378;
		}

		&379 {
			width: $rem379;
		}

		&380 {
			width: $rem380;
		}

		&381 {
			width: $rem381;
		}

		&382 {
			width: $rem382;
		}

		&383 {
			width: $rem383;
		}

		&384 {
			width: $rem384;
		}

		&385 {
			width: $rem385;
		}

		&386 {
			width: $rem386;
		}

		&387 {
			width: $rem387;
		}

		&388 {
			width: $rem388;
		}

		&389 {
			width: $rem389;
		}

		&390 {
			width: $rem390;
		}

		&391 {
			width: $rem391;
		}

		&392 {
			width: $rem392;
		}

		&393 {
			width: $rem393;
		}

		&394 {
			width: $rem394;
		}

		&395 {
			width: $rem395;
		}

		&396 {
			width: $rem396;
		}

		&397 {
			width: $rem397;
		}

		&398 {
			width: $rem398;
		}

		&399 {
			width: $rem399;
		}

		&400 {
			width: $rem400;
		}

		&401 {
			width: $rem401;
		}

		&402 {
			width: $rem402;
		}

		&403 {
			width: $rem403;
		}

		&404 {
			width: $rem404;
		}

		&405 {
			width: $rem405;
		}

		&406 {
			width: $rem406;
		}

		&407 {
			width: $rem407;
		}

		&408 {
			width: $rem408;
		}

		&409 {
			width: $rem409;
		}

		&410 {
			width: $rem410;
		}

		&411 {
			width: $rem411;
		}

		&412 {
			width: $rem412;
		}

		&413 {
			width: $rem413;
		}

		&414 {
			width: $rem414;
		}

		&415 {
			width: $rem415;
		}

		&416 {
			width: $rem416;
		}

		&417 {
			width: $rem417;
		}

		&418 {
			width: $rem418;
		}

		&419 {
			width: $rem419;
		}

		&420 {
			width: $rem420;
		}

		&421 {
			width: $rem421;
		}

		&422 {
			width: $rem422;
		}

		&423 {
			width: $rem423;
		}

		&424 {
			width: $rem424;
		}

		&425 {
			width: $rem425;
		}

		&426 {
			width: $rem426;
		}

		&427 {
			width: $rem427;
		}

		&428 {
			width: $rem428;
		}

		&429 {
			width: $rem429;
		}

		&430 {
			width: $rem430;
		}

		&431 {
			width: $rem431;
		}

		&432 {
			width: $rem432;
		}

		&433 {
			width: $rem433;
		}

		&434 {
			width: $rem434;
		}

		&435 {
			width: $rem435;
		}

		&436 {
			width: $rem436;
		}

		&437 {
			width: $rem437;
		}

		&438 {
			width: $rem438;
		}

		&439 {
			width: $rem439;
		}

		&440 {
			width: $rem440;
		}

		&441 {
			width: $rem441;
		}

		&442 {
			width: $rem442;
		}

		&443 {
			width: $rem443;
		}

		&444 {
			width: $rem444;
		}

		&445 {
			width: $rem445;
		}

		&446 {
			width: $rem446;
		}

		&447 {
			width: $rem447;
		}

		&448 {
			width: $rem448;
		}

		&449 {
			width: $rem449;
		}

		&450 {
			width: $rem450;
		}

		&451 {
			width: $rem451;
		}

		&452 {
			width: $rem452;
		}

		&453 {
			width: $rem453;
		}

		&454 {
			width: $rem454;
		}

		&455 {
			width: $rem455;
		}

		&456 {
			width: $rem456;
		}

		&457 {
			width: $rem457;
		}

		&458 {
			width: $rem458;
		}

		&459 {
			width: $rem459;
		}

		&460 {
			width: $rem460;
		}

		&461 {
			width: $rem461;
		}

		&462 {
			width: $rem462;
		}

		&463 {
			width: $rem463;
		}

		&464 {
			width: $rem464;
		}

		&465 {
			width: $rem465;
		}

		&466 {
			width: $rem466;
		}

		&467 {
			width: $rem467;
		}

		&468 {
			width: $rem468;
		}

		&469 {
			width: $rem469;
		}

		&470 {
			width: $rem470;
		}

		&471 {
			width: $rem471;
		}

		&472 {
			width: $rem472;
		}

		&473 {
			width: $rem473;
		}

		&474 {
			width: $rem474;
		}

		&475 {
			width: $rem475;
		}

		&476 {
			width: $rem476;
		}

		&477 {
			width: $rem477;
		}

		&478 {
			width: $rem478;
		}

		&479 {
			width: $rem479;
		}

		&480 {
			width: $rem480;
		}

		&481 {
			width: $rem481;
		}

		&482 {
			width: $rem482;
		}

		&483 {
			width: $rem483;
		}

		&484 {
			width: $rem484;
		}

		&485 {
			width: $rem485;
		}

		&486 {
			width: $rem486;
		}

		&487 {
			width: $rem487;
		}

		&488 {
			width: $rem488;
		}

		&489 {
			width: $rem489;
		}

		&490 {
			width: $rem490;
		}

		&491 {
			width: $rem491;
		}

		&492 {
			width: $rem492;
		}

		&493 {
			width: $rem493;
		}

		&494 {
			width: $rem494;
		}

		&495 {
			width: $rem495;
		}

		&496 {
			width: $rem496;
		}

		&497 {
			width: $rem497;
		}

		&498 {
			width: $rem498;
		}

		&499 {
			width: $rem499;
		}

		&500 {
			width: $rem500;
		}
	}




	// RESPONSIVE IMAGE
	&h-auto {
		height: auto;
	}

	&w-auto {
		width: auto;
	}

	&auto {
		width: auto;
		height: auto;
	}

	&h-res {
		width: auto;
		height: 100%;
	}

	&w-res {
		width: 100%;
		height: auto;
	}

	&h-inherit {
		height: inherit;
	}

	&w-inherit {
		width: inherit;
	}

	&inherit {
		width: inherit;
		height: inherit;
	}

	&w- {
		width: 100vw;
	}

	&h- {
		height: 100vw;
	}

	&w- {
		width: 100vh;
	}

	&h- {
		height: 100vh;
	}
}