.link- {
    &u {
        text-decoration: underline;
    }

    &u:hover {
        text-decoration: underline;
    }

    &dash-hov:hover {
        text-decoration: dashed;
    }

    &dash {
        text-decoration: dashed;
    }

    &dot {
        text-decoration: dotted;
    }

    &dot-hov:hover {
        text-decoration: dotted;
    }




    &none {
        text-decoration: none;
    }

    &none-hov:hover {
        text-decoration: none;
    }

    &overline {
        text-decoration: overline;
    }

    &overline-hov:hover {
        text-decoration: overline;
    }

    &line-through {
        text-decoration: line-through;
    }

    &line-through-hov:hover {
        text-decoration: line-through;
    }

    &double {
        text-decoration: double;
    }

    &double-hov:hover {
        text-decoration: double;
    }

    &wavy {
        text-decoration: wavy;
    }

    &wavy-hov:hover {
        text-decoration: wavy;
    }

    &solid {
        text-decoration: solid;
    }

    &solid-hov:hover {
        text-decoration: solid;
    }

    &blink {
        text-decoration: blink;
    }

    &blink-hov:hover {
        text-decoration: blink;
    }
}