.link-, .a- {
  &u {
    text-decoration: underline;
    &:hover {
      text-decoration: underline;
    }
  }
  
  &none {
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }
  
  &overline {
    text-decoration: overline;
    &:hover {
      text-decoration: overline;
    }
  }
  
  &line-through {
    text-decoration: line-through;
    &:hover {
      text-decoration: line-through;
    }
  }
  
  &dashed {
    text-decoration: dashed;
    &:hover {
      text-decoration: dashed;
    }
  }
  
  &dotted {
    text-decoration: dotted;
    &:hover {
      text-decoration: dotted;
    }
  }
  
  &double {
    text-decoration: double;
    &:hover {
      text-decoration: double;
    }
  }
  
  &wavy {
    text-decoration: wavy;
    &:hover {
      text-decoration: wavy;
    }
  }
}