.list__StyleNone{
    list-style-type: none;
}

.list__StyleDisc{
    list-style-type: disc;
}

.list__StyleCircle{
    list-style-type: circle;
}

.list__StyleSquare{
    list-style-type: square;
}

.list__StyleDecimal{
    list-style-type: decimal;
}

.list__StyleLowerAlpha{
    list-style-type: lower-alpha;
}

.list__StyleUpperAlpha{
    list-style-type: upper-alpha;
}

.list__StyleLowerRoman{
    list-style-type: lower-roman;
}

.list__StyleUpperRoman{
    list-style-type: upper-roman;
}

.list__StyleDecimalLeadingZero{
    list-style-type: decimal-leading-zero;
}

.list__StyleDiscLeadingZero{
    list-style-type: disc-leading-zero;
}

.list__StyleCircleLeadingZero{
    list-style-type: circle-leading-zero;
}

.list__StyleSquareLeadingZero{
    list-style-type: square-leading-zero;
}

.list__StyleLowerAlphaLeadingZero{
    list-style-type: lower-alpha-leading-zero;
}

.list__StyleUpperAlphaLeadingZero{
    list-style-type: upper-alpha-leading-zero;
}

.list__StyleLowerRomanLeadingZero{
    list-style-type: lower-roman-leading-zero;
}

.list__StyleUpperRomanLeadingZero{
    list-style-type: upper-roman-leading-zero;
}

.list__StyleDecimalLeadingOne{
    list-style-type: decimal-leading-one;
}

.list__StyleDiscLeadingOne{
    list-style-type: disc-leading-one;
}

.list__StyleCircleLeadingOne{
    list-style-type: circle-leading-one;
}

.list__StyleSquareLeadingOne{
    list-style-type: square-leading-one;
}

.list__StyleLowerAlphaLeadingOne{
    list-style-type: lower-alpha-leading-one;
}

.list__StyleUpperAlphaLeadingOne{
    list-style-type: upper-alpha-leading-one;
}

.list__StyleLowerRomanLeadingOne{
    list-style-type: lower-roman-leading-one;
}

.list__StyleUpperRomanLeadingOne{
    list-style-type: upper-roman-leading-one;
}

.list__StyleDecimalLeadingTwo{
    list-style-type: decimal-leading-two;
}

.list__StyleDiscLeadingTwo{
    list-style-type: disc-leading-two;
}

.list__StyleCircleLeadingTwo{
    list-style-type: circle-leading-two;
}

.list__StyleSquareLeadingTwo{
    list-style-type: square-leading-two;
}

.list__StyleLowerAlphaLeadingTwo{
    list-style-type: lower-alpha-leading-two;
}

.list__StyleUpperAlphaLeadingTwo{
    list-style-type: upper-alpha-leading-two;
}

.list__StyleLowerRomanLeadingTwo{
    list-style-type: lower-roman-leading-two;
}

.list__StyleUpperRomanLeadingTwo{
    list-style-type: upper-roman-leading-two;
}

.list__StyleDecimalLeadingThree{
    list-style-type: decimal-leading-three;
}

.list__StyleDiscLeadingThree{
    list-style-type: disc-leading-three;
}

.list__StyleCircleLeadingThree{
    list-style-type: circle-leading-three;
}

.list__StyleSquareLeadingThree{
    list-style-type: square-leading-three;
}

.list__StyleLowerAlphaLeadingThree{
    list-style-type: lower-alpha-leading-three;
}

.list__StyleUpperAlphaLeadingThree{
    list-style-type: upper-alpha-leading-three;
}

.list__StyleLowerRomanLeadingThree{
    list-style-type: lower-roman-leading-three;
}

.list__StyleUpperRomanLeadingThree{
    list-style-type: upper-roman-leading-three;
}

.list__StyleDecimalLeadingFour{
    list-style-type: decimal-leading-four;
}

.list__StyleDiscLeadingFour{
    list-style-type: disc-leading-four;
}

.list__StyleCircleLeadingFour{
    list-style-type: circle-leading-four;
}

.list__StyleSquareLeadingFour{
    list-style-type: square-leading-four;
}

.list__StyleLowerAlphaLeadingFour{
    list-style-type: lower-alpha-leading-four;
}

.list__StyleUpperAlphaLeadingFour{
    list-style-type: upper-alpha-leading-four;
}

.list__StyleLowerRomanLeadingFour{
    list-style-type: lower-roman-leading-four;
}

.list__StyleUpperRomanLeadingFour{
    list-style-type: upper-roman-leading-four;
}

.list__StyleDecimalLeadingFive{
    list-style-type: decimal-leading-five;
}

.list__StyleDiscLeadingFive{
    list-style-type: disc-leading-five;
}