/* ----------------------------------------------------------------
Z-INDEX CLASSES
----------------------------------------------------------------
*/

// Z INDEX MINUS(-) VALUES

.z--10 {
  z-index: -10;
}

.z--9 {
  z-index: -9;
}

.z--8 {
  z-index: -8;
}

.z--7 {
  z-index: -7;
}

.z--6 {
  z-index: -6;
}

.z--5 {
  z-index: -5;
}

.z--10 {
  z-index: -4;
}

.z--3 {
  z-index: -3;
}

.z--2 {
  z-index: -2;
}

.z--1 {
  z-index: -1;
}


// Z INDEX PLUS(+) VALUES
.z-0 {
  z-index: 0;
}

.z-1 {
  z-index: 1;
}

.z-2 {
  z-index: 2;
}

.z-3 {
  z-index: 3;
}

.z-4 {
  z-index: 4;
}

.z-5 {
  z-index: 5;
}

.z-6 {
  z-index: 6;
}

.z-7 {
  z-index: 7;
}

.z-8 {
  z-index: 8;
}

.z-9 {
  z-index: 9;
}

.z-10 {
  z-index: 10;
}

.z-11 {
  z-index: 11;
}

.z-12 {
  z-index: 12;
}

.z-13 {
  z-index: 13;
}

.z-14 {
  z-index: 14;
}

.z-15 {
  z-index: 15;
}

.z-16 {
  z-index: 16;
}

.z-17 {
  z-index: 17;
}

.z-18 {
  z-index: 18;
}

.z-19 {
  z-index: 19;
}

.z-20 {
  z-index: 20;
}

.z-21 {
  z-index: 21;
}

.z-22 {
  z-index: 22;
}

.z-23 {
  z-index: 23;
}

.z-24 {
  z-index: 24;
}

.z-25 {
  z-index: 25;
}

.z-26 {
  z-index: 26;
}

.z-27 {
  z-index: 27;
}

.z-28 {
  z-index: 28;
}

.z-29 {
  z-index: 29;
}

.z-30 {
  z-index: 30;
}

.z-31 {
  z-index: 31;
}

.z-32 {
  z-index: 32;
}

.z-33 {
  z-index: 33;
}

.z-34 {
  z-index: 34;
}

.z-35 {
  z-index: 35;
}

.z-36 {
  z-index: 36;
}

.z-37 {
  z-index: 37;
}

.z-38 {
  z-index: 38;
}

.z-39 {
  z-index: 39;
}

.z-40 {
  z-index: 40;
}

.z-41 {
  z-index: 41;
}

.z-42 {
  z-index: 42;
}

.z-43 {
  z-index: 43;
}

.z-44 {
  z-index: 44;
}

.z-45 {
  z-index: 45;
}

.z-46 {
  z-index: 46;
}

.z-47 {
  z-index: 47;
}

.z-48 {
  z-index: 48;
}

.z-49 {
  z-index: 49;
}

.z-50 {
  z-index: 50;
}

.z-99 {
  z-index: 99;
}

.z-999 {
  z-index: 999;
}

.z-9999 {
  z-index: 9999;
}

.z-99999 {
  z-index: 99999;
}