.link__underline{
    text-decoration: none;
}
.link__underline:hover{
    text-decoration: none;
}
.link__dashed:hover{
    text-decoration: dashed;
}
.link__dashed{
    text-decoration: dashed;
}
.link__dashed{
    text-decoration:dotted;
}
.link__dashed:hover{
    text-decoration:dotted;
}
