/* ----------------------------------------------------------------
BACKGROUND COLOR SETS
----------------------------------------------------------------
*/
.t-Black,
.Black,
.t-Bla,
.t-Blk,
.t-Kalo,
.t-000000,
.কালো {
  color: #000000;
}

.t-White,
.t-Whi,
.t-Wht,
.t-Sada,
.t-ffffff,
.সাদা {
  color: #ffffff;
}

.t-Red,
.t-Re,
.t-Rd,
.t-Lal,
.t-ff0000,
.লাল {
  color: #ff0000;
}

.t-Green,
.t-Gre,
.t-Grn,
.t-Sobuj,
.t-00ff00,
.সবুজ {
  color: #00ff00;
}

.t-Blue,
.t-Blu,
.t-Ble,
.t-Nil,
.t-0000ff,
.নীল {
  color: #0000ff;
}

.t-Orange,
.t-Ora,
.t-Org,
.t-Komola,
.t-ffa500,
.কমলা {
  color: #ffa500;
}

.t-Yellow,
.t-Yel,
.t-Ylw,
.t-Holud,
.t-ffff00,
.হলুদ {
  color: #ffff00;
}

.t-Purple,
.t-Pur,
.t-Prp,
.t-Jam,
.t-800080,
.জামুন {
  color: #800080;
}

.t-Cyan,
.t-Cya,
.t-Cyn,
.t-Firoz,
.t-00ffff,
.ফিরোজা {
  color: #00ffff;
}

.t-Gray,
.t-Gra,
.t-Gry,
.t-Surma,
.t-808080,
.ধূসর {
  color: #808080;
}

.t-Silver,
.t-Sil,
.t-Slv,
.t-Chandi,
.t-c0c0c0,
.রুপা {
  color: #c0c0c0;
}

.t-Maroon,
.t-Mar,
.t-Mrn,
.t-Gorom,
.t-800000,
.গাঢ়-লাল {
  color: #800000;
}

.t-Olive,
.t-Oli,
.t-Olv,
.t-808000,
.অলিভ {
  color: #808000;
}

.t-Teal,
.t-Tea,
.t-Tel,
.t-Nilgiri,
.t-008080,
.নীল-সবুজ {
  color: #008080;
}

.t-Navy,
.t-Nav,
.t-Nvy,
.t-Nabi,
.t-000080,
.নেভি {
  color: #000080;
}

.t-Fuchsia,
.t-Fuc,
.t-Fsh,
.t-Gorib,
.t-ff00ff,
.ফুসিয়া {
  color: #ff00ff;
}

.t-Pink,
.t-Pin,
.t-Pnk,
.t-Gulabi,
.t-ffc0cb,
.গোলাপি {
  color: #ffc0cb;
}

.t-YellowGreen,
.t-YelGre,
.t-YGr,
.t-HoludSobuji,
.t-9acd32,
.হলুদ-সবুজ {
  color: #9acd32;
}

.t-OliveDrab,
.t-OliDra,
.t-ODb,
.t-6b8e23,
.অলিভ-ড্র্যাব {
  color: #6b8e23;
}

.t-GreenYellow,
.t-GreYel,
.t-GYl,
.t-adff2f,
.সবুজ-হলুদ {
  color: #adff2f;
}

.t-LimeGreen,
.t-LimGre,
.t-LGr,
.t-Paal,
.t-32cd32,
.লেবুর-সবুজ {
  color: #32cd32;
}

.t-PaleGreen,
.t-PalGre,
.t-PGr,
.t-98fb98,
.ফিকে-সবুজ {
  color: #98fb98;
}

.t-DarkSeaGreen,
.t-DarSeaGre,
.t-DGr,
.t-GaroSomudroSobuj,
.t-8fbc8f,
.গাঢ়-সাগর-সবুজ {
  color: #8fbc8f;
}

.t-MediumSeaGreen,
.t-MedSeaGre,
.t-MGr,
.t-3cb371,
.মাঝারি-সাগর-সবুজ {
  color: #3cb371;
}

.t-SeaGreen,
.t-SeaGre,
.t-SGr,
.t-Samudrik,
.t-2e8b57,
.সাগর-সবুজ {
  color: #2e8b57;
}

.t-ForestGreen,
.t-ForGre,
.t-FGr,
.t-Jungle,
.t-228b22,
.জঙ্গল-সবুজ {
  color: #228b22;
}

.t-LightGray,
.t-LigGra,
.t-LGr,
.t-Halka,
.t-d3d3d3,
.হালকা-ধূসর {
  color: #d3d3d3;
}

.t-LightCoral,
.t-LigCor,
.t-LCo,
.t-Halka2,
.t-f08080,
.হালকা-করাল {
  color: #f08080;
}

.t-LightSalmon,
.t-LigSal,
.t-LSa,
.t-Ranga,
.t-ffa07a,
.হালকা-সালমনের {
  color: #ffa07a;
}

.t-LightPink,
.t-LigPin,
.t-LPn,
.t-Gulabi,
.t-ffb6c1,
.হালকা-গোলাপি {
  color: #ffb6c1;
}

.t-LightGoldenRodYellow,
.t-LigRodYel,
.t-LGY,
.t-Gora,
.t-fafad2,
.হালকা-স্বর্ণ-হলুদ {
  color: #fafad2;
}

.t-LightSteelBlue,
.t-LigSteBlu,
.t-LSB,
.t-b0c4de,
.হালকা-স্টীল-নীল {
  color: #b0c4de;
}

.t-LightSkyBlue,
.t-LigSkyBlu,
.t-LSk,
.t-Aasman,
.t-87cefa,
.হালকা-আকাশ-নীল {
  color: #87cefa;
}

.t-Lavender,
.t-Lav,
.t-Bangla,
.t-e6e6fa,
.ল্যাভেন্ডার {
  color: #e6e6fa;
}

.t-MistyRose,
.t-MisRos,
.t-MRo,
.t-Gulabi,
.t-ffe4e1,
.ঝাপসা-গোলাপি {
  color: #ffe4e1;
}

.t-NavajoWhite,
.t-NavWhi,
.t-NWh,
.t-Poori,
.t-ffdead,
.নাভাজো-সাদা {
  color: #ffdead;
}

.t-Wheat,
.t-Whe,
.t-Ghee,
.t-f5deb3,
.গম {
  color: #f5deb3;
}

.t-AntiqueWhite,
.t-AntWhi,
.t-AWh,
.t-Paakhi,
.t-faebd7,
.প্রাচীন-সাদা {
  color: #faebd7;
}

.t-Cornsilk,
.t-Cor,
.t-Maach,
.t-fff8dc,
.ভুট্টার-শুকনো {
  color: #fff8dc;
}

.t-Khaki,
.t-Kha,
.t-f0e68c,
.খাকি {
  color: #f0e68c;
}

.t-Beige,
.t-Bei,
.t-f5f5dc,
.বেজ {
  color: #f5f5dc;
}

.t-PapayaWhip,
.t-PapWhi,
.t-PWh,
.t-Papaya,
.t-ffefd5,
.পাপায়া {
  color: #ffefd5;
}

.t-BlanchedAlmond,
.t-BlaAlm,
.t-BAl,
.t-Almond,
.t-ffebcd,
.ব্লাঞ্চড-আলমন্ড {
  color: #ffebcd;
}

.t-HoneyDew,
.t-HonDew,
.t-HDe,
.t-Honey,
.t-f0fff0,
.হানি-ডিউ {
  color: #f0fff0;
}

.t-MintCream,
.t-MinCre,
.t-MCr,
.t-Mint,
.t-f5fffa,
.মিন্ট-ক্রীম {
  color: #f5fffa;
}

.t-AliceBlue,
.t-AliBlu,
.t-ABl,
.t-Alice,
.t-f0f8ff,
.অ্যালিস-নীল {
  color: #f0f8ff;
}

.t-Tomato,
.t-Tom,
.t-Tmt,
.t-ff6347,
.টমেটো {
  color: #ff6347;
}

.t-Orchid,
.t-Orc,
.t-da70d6,
.অর্কিড {
  color: #da70d6;
}

.t-Turquoise,
.t-Tur,
.t-Tqz,
.t-40e0d0,
.টারকোইজ {
  color: #40e0d0;
}

.t-DarkRed,
.t-DarRe,
.t-DRd,
.t-Dag,
.t-8b0000,
.গাঢ়-লাল {
  color: #8b0000;
}

.t-DarkBlue,
.t-DarBlu,
.t-DBl,
.t-GaroNil,
.t-00008b,
.গাঢ়-নীল {
  color: #00008b;
}

.t-DarkGreen,
.t-DarGre,
.t-DGr,
.t-Dhushar,
.t-006400,
.গাঢ়-সবুজ {
  color: #006400;
}

.t-Indigo,
.t-Ind,
.t-Nay,
.t-4b0082,
.ইন্ডিগো {
  color: #4b0082;
}

.t-Violet,
.t-Vio,
.t-Bangla,
.t-ee82ee,
.ভায়োলেট {
  color: #ee82ee;
}

.t-Peru,
.t-Per,
.t-cd853f,
.পেরু {
  color: #cd853f;
}

.t-Chocolate,
.t-Cho,
.t-d2691e,
.চকোলেট {
  color: #d2691e;
}

.t-Gold,
.t-Gol,
.t-Sona,
.t-ffd700,
.সোনালী {
  color: #ffd700;
}

.t-Plum,
.t-Plu,
.t-Bengali,
.t-dda0dd,
.প্রম {
  color: #dda0dd;
}

.t-Sienna,
.t-Sie,
.t-Keshari,
.t-a0522d,
.সিয়েনা {
  color: #a0522d;
}

.t-Salmon,
.t-Sal,
.t-Ranga,
.t-fa8072,
.সালমন {
  color: #fa8072;
}

.t-Snow,
.t-Sno,
.t-Barish,
.t-fffafa,
.তুষার {
  color: #fffafa;
}

.t-Tan,
.t-Brown,
.t-d2b48c,
.ট্যান {
  color: #d2b48c;
}

.t-MediumPurple,
.t-MedPur,
.t-MPr,
.t-9370db,
.মাঝারি-বেগুনি {
  color: #9370db;
}

.t-MediumOrchid,
.t-MedOrc,
.t-MOr,
.t-ba55d3,
.মাঝারি-অর্কিড {
  color: #ba55d3;
}

.t-MediumTurquoise,
.t-MedTur,
.t-MTq,
.t-48d1cc,
.মাঝারি-টারকোইজ {
  color: #48d1cc;
}

.t-SlateBlue,
.t-SlaBlu,
.t-SBl,
.t-6a5acd,
.স্লেট-ব্লু {
  color: #6a5acd;
}

.t-SlateGray,
.t-SlaGra,
.t-SGr,
.t-708090,
.স্লেট-গ্রে {
  color: #708090;
}

.t-SpringGreen,
.t-SprGre,
.t-SGr,
.t-Nobob,
.t-00ff7f,
.স্প্রিং-গ্রিন {
  color: #00ff7f;
}

.t-SandyBrown,
.t-SanBro,
.t-SBr,
.t-Sandy,
.t-f4a460,
.স্যান্ডি-ব্রাউন {
  color: #f4a460;
}


// ALL IN A SCSS VARIABLE FORMAT
$t-Black: #000000;
$Black: #000000;
$t-Bla: #000000;
$t-Blk: #000000;
$t-Kalo: #000000;
$t-000000: #000000;
$কালো: #000000;

$t-White: #ffffff;
$t-Whi: #ffffff;
$t-Wht: #ffffff;
$t-Sada: #ffffff;
$t-ffffff: #ffffff;
$সাদা: #ffffff;

$t-Red: #ff0000;
$t-Re: #ff0000;
$t-Rd: #ff0000;
$t-Lal: #ff0000;
$t-ff0000: #ff0000;
$লাল: #ff0000;

$t-Green: #00ff00;
$t-Gre: #00ff00;
$t-Grn: #00ff00;
$t-Sobuj: #00ff00;
$t-00ff00: #00ff00;
$সবুজ: #00ff00;

$t-Blue: #0000ff;
$t-Blu: #0000ff;
$t-Ble: #0000ff;
$t-Nil: #0000ff;
$t-0000ff: #0000ff;
$নীল: #0000ff;



$t-Orange: #ffa500;
$t-Ora: #ffa500;
$t-Org: #ffa500;
$t-Komola: #ffa500;
$t-ffa500: #ffa500;
$নীল: #ffa500;



$t-Yellow: #ffff00;
$t-Yel: #ffff00;
$t-Ylw: #ffff00;
$t-Holud: #ffff00;
$t-ffff00: #ffff00;
$হলুদ: #ffff00;

$t-Purple: #800080;
$t-Pur: #800080;
$t-Prp: #800080;
$t-Jam: #800080;
$t-800080: #800080;
$জামুন: #800080;

$t-Cyan: #00ffff;
$t-Cya: #00ffff;
$t-Cyn: #00ffff;
$t-Firoz: #00ffff;
$t-00ffff: #00ffff;
$ফিরোজা: #00ffff;

$t-Gray: #808080;
$t-Gra: #808080;
$t-Gry: #808080;
$t-Surma: #808080;
$t-808080: #808080;
$ধূসর: #808080;

$t-Silver: #c0c0c0;
$t-Sil: #c0c0c0;
$t-Slv: #c0c0c0;
$t-Chandi: #c0c0c0;
$t-c0c0c0: #c0c0c0;
$রুপা: #c0c0c0;

$t-Maroon: #800000;
$t-Mar: #800000;
$t-Mrn: #800000;
$t-Gorom: #800000;
$t-800000: #800000;
$গাঢ়-লাল: #800000;

$t-Olive: #808000;
$t-Oli: #808000;
$t-Olv: #808000;
$t-808000: #808000;
$অলিভ: #808000;

$t-Teal: #008080;
$t-Tea: #008080;
$t-Tel: #008080;
$t-Nilgiri: #008080;
$t-008080: #008080;
$নীল-সবুজ: #008080;

$t-Navy: #000080;
$t-Nav: #000080;
$t-Nvy: #000080;
$t-Nabi: #000080;
$t-000080: #000080;
$নেভি: #000080;

$t-Fuchsia: #ff00ff;
$t-Fuc: #ff00ff;
$t-Fsh: #ff00ff;
$t-Gorib: #ff00ff;
$t-ff00ff: #ff00ff;
$ফুসিয়া: #ff00ff;

$t-Pink: #ffc0cb;
$t-Pin: #ffc0cb;
$t-Pnk: #ffc0cb;
$t-Gulabi: #ffc0cb;
$t-ffc0cb: #ffc0cb;
$গোলাপি: #ffc0cb;









$t-White: #ffffff;
$t-Wht: #ffffff;
$t-Wte: #ffffff;
$t-Shada: #ffffff;
$t-ffffff: #ffffff;
$সাদা: #ffffff;

$t-Magenta: #ff00ff;
$t-Mgn: #ff00ff;
$t-Mgt: #ff00ff;
$t-Fuchsia: #ff00ff;
$t-ff00ff: #ff00ff;
$ফুশিয়া: #ff00ff;









$t-YellowGreen: #9acd32;
$t-YelGre: #9acd32;
$t-YGr: #9acd32;
$t-HoludSobuji: #9acd32;
$t-9acd32: #9acd32;
$হলুদ-সবুজ: #9acd32;

$t-OliveDrab: #6b8e23;
$t-OliDra: #6b8e23;
$t-ODb: #6b8e23;
$t-6b8e23: #6b8e23;
$অলিভ-ড্র্যাব: #6b8e23;

$t-GreenYellow: #adff2f;
$t-GreYel: #adff2f;
$t-GYl: #adff2f;
$t-adff2f: #adff2f;
$সবুজ-হলুদ: #adff2f;

$t-LimeGreen: #32cd32;
$t-LimGre: #32cd32;
$t-LGr: #32cd32;
$t-Paal: #32cd32;
$t-32cd32: #32cd32;
$লেবুর-সবুজ: #32cd32;

$t-PaleGreen: #98fb98;
$t-PalGre: #98fb98;
$t-PGr: #98fb98;
$t-98fb98: #98fb98;
$ফিকে-সবুজ: #98fb98;

$t-DarkSeaGreen: #8fbc8f;
$t-DarSeaGre: #8fbc8f;
$t-DGr: #8fbc8f;
$t-GaroSomudroSobuj: #8fbc8f;
$t-8fbc8f: #8fbc8f;
$গাঢ়-সাগর-সবুজ: #8fbc8f;

$t-MediumSeaGreen: #3cb371;
$t-MedSeaGre: #3cb371;
$t-MGr: #3cb371;
$t-3cb371: #3cb371;
$মাঝারি-সাগর-সবুজ: #3cb371;

$t-SeaGreen: #2e8b57;
$t-SeaGre: #2e8b57;
$t-SGr: #2e8b57;
$t-Samudrik: #2e8b57;
$t-2e8b57: #2e8b57;
$সাগর-সবুজ: #2e8b57;

$t-ForestGreen: #228b22;
$t-ForGre: #228b22;
$t-FGr: #228b22;
$t-Jungle: #228b22;
$t-228b22: #228b22;
$জঙ্গল-সবুজ: #228b22;

$t-LightGray: #d3d3d3;
$t-LigGra: #d3d3d3;
$t-LGr: #d3d3d3;
$t-Halka: #d3d3d3;
$t-d3d3d3: #d3d3d3;
$হালকা-ধূসর: #d3d3d3;

$t-LightCoral: #f08080;
$t-LigCor: #f08080;
$t-LCo: #f08080;
$t-Halka2: #f08080;
$t-f08080: #f08080;
$হালকা-করাল: #f08080;

$t-LightSalmon: #ffa07a;
$t-LigSal: #ffa07a;
$t-LSa: #ffa07a;
$t-Ranga: #ffa07a;
$t-ffa07a: #ffa07a;
$হালকা-সালমনের: #ffa07a;

$t-LightPink: #ffb6c1;
$t-LigPin: #ffb6c1;
$t-LPn: #ffb6c1;
$t-Gulabi: #ffb6c1;
$t-ffb6c1: #ffb6c1;
$হালকা-গোলাপি: #ffb6c1;

$t-LightGoldenRodYellow: #fafad2;
$t-LigRodYel: #fafad2;
$t-LGY: #fafad2;
$t-Gora: #fafad2;
$t-fafad2: #fafad2;
$হালকা-স্বর্ণ-হলুদ: #fafad2;

$t-LightSteelBlue: #b0c4de;
$t-LigSteBlu: #b0c4de;
$t-LSB: #b0c4de;
$t-b0c4de: #b0c4de;
$হালকা-স্টীল-নীল: #b0c4de;

$t-LightSkyBlue: #87cefa;
$t-LigSkyBlu: #87cefa;
$t-LSk: #87cefa;
$t-Aasman: #87cefa;
$t-87cefa: #87cefa;
$হালকা-আকাশ-নীল: #87cefa;

$t-Lavender: #e6e6fa;
$t-Lav: #e6e6fa;
$t-Bangla: #e6e6fa;
$t-e6e6fa: #e6e6fa;
$ল্যাভেন্ডার: #e6e6fa;

$t-MistyRose: #ffe4e1;
$t-MisRos: #ffe4e1;
$t-MRo: #ffe4e1;
$t-Gulabi: #ffe4e1;
$t-ffe4e1: #ffe4e1;
$ঝাপসা-গোলাপি: #ffe4e1;

$t-NavajoWhite: #ffdead;
$t-NavWhi: #ffdead;
$t-NWh: #ffdead;
$t-Poori: #ffdead;
$t-ffdead: #ffdead;
$নাভাজো-সাদা: #ffdead;

$t-Wheat: #f5deb3;
$t-Whe: #f5deb3;
$t-Ghee: #f5deb3;
$t-f5deb3: #f5deb3;
$গম: #f5deb3;

$t-AntiqueWhite: #faebd7;
$t-AntWhi: #faebd7;
$t-AWh: #faebd7;
$t-Paakhi: #faebd7;
$t-faebd7: #faebd7;
$প্রাচীন-সাদা: #faebd7;

$t-Cornsilk: #fff8dc;
$t-Cor: #fff8dc;
$t-Maach: #fff8dc;
$t-fff8dc: #fff8dc;
$ভুট্টার-শুকনো: #fff8dc;

$t-Khaki: #f0e68c;
$t-Kha: #f0e68c;
$t-f0e68c: #f0e68c;
$খাকি: #f0e68c;

$t-Beige: #f5f5dc;
$t-Bei: #f5f5dc;
$t-f5f5dc: #f5f5dc;
$বেজ: #f5f5dc;

$t-PapayaWhip: #ffefd5;
$t-PapWhi: #ffefd5;
$t-PWh: #ffefd5;
$t-Papaya: #ffefd5;
$t-ffefd5: #ffefd5;
$পাপায়া: #ffefd5;

$t-BlanchedAlmond: #ffebcd;
$t-BlaAlm: #ffebcd;
$t-BAl: #ffebcd;
$t-Almond: #ffebcd;
$t-ffebcd: #ffebcd;
$ব্লাঞ্চড-আলমন্ড: #ffebcd;

$t-HoneyDew: #f0fff0;
$t-HonDew: #f0fff0;
$t-HDe: #f0fff0;
$t-Honey: #f0fff0;
$t-f0fff0: #f0fff0;
$হানি-ডিউ: #f0fff0;

$t-MintCream: #f5fffa;
$t-MinCre: #f5fffa;
$t-MCr: #f5fffa;
$t-Mint: #f5fffa;
$t-f5fffa: #f5fffa;
$মিন্ট-ক্রীম: #f5fffa;

$t-AliceBlue: #f0f8ff;
$t-AliBlu: #f0f8ff;
$t-ABl: #f0f8ff;
$t-Alice: #f0f8ff;
$t-f0f8ff: #f0f8ff;
$অ্যালিস-নীল: #f0f8ff;

$t-Tomato: #ff6347;
$t-Tom: #ff6347;
$t-Tmt: #ff6347;
$t-ff6347: #ff6347;
$টমেটো: #ff6347;

$t-Orchid: #da70d6;
$t-Orc: #da70d6;
$t-da70d6: #da70d6;
$অর্কিড: #da70d6;

$t-Turquoise: #40e0d0;
$t-Tur: #40e0d0;
$t-Tqz: #40e0d0;
$t-40e0d0: #40e0d0;
$টারকোইজ: #40e0d0;

$t-DarkRed: #8b0000;
$t-DarRe: #8b0000;
$t-DRd: #8b0000;
$t-Dag: #8b0000;
$t-8b0000: #8b0000;
$গাঢ়-লাল: #8b0000;

$t-DarkBlue: #00008b;
$t-DarBlu: #00008b;
$t-DBl: #00008b;
$t-GaroNil: #00008b;
$t-00008b: #00008b;
$গাঢ়-নীল: #00008b;

$t-DarkGreen: #006400;
$t-DarGre: #006400;
$t-DGr: #006400;
$t-Dhushar: #006400;
$t-006400: #006400;
$গাঢ়-সবুজ: #006400;

$t-Indigo: #4b0082;
$t-Ind: #4b0082;
$t-Nay: #4b0082;
$t-4b0082: #4b0082;
$ইন্ডিগো: #4b0082;

$t-Violet: #ee82ee;
$t-Vio: #ee82ee;
$t-Bangla: #ee82ee;
$t-ee82ee: #ee82ee;
$ভায়োলেট: #ee82ee;

$t-Peru: #cd853f;
$t-Per: #cd853f;
$t-cd853f: #cd853f;
$পেরু: #cd853f;

$t-Chocolate: #d2691e;
$t-Cho: #d2691e;
$t-d2691e: #d2691e;
$চকোলেট: #d2691e;

$t-Gold: #ffd700;
$t-Gol: #ffd700;
$t-Sona: #ffd700;
$t-ffd700: #ffd700;
$সোনালী: #ffd700;

$t-Plum: #dda0dd;
$t-Plu: #dda0dd;
$t-Bengali: #dda0dd;
$t-dda0dd: #dda0dd;
$প্রম: #dda0dd;

$t-Sienna: #a0522d;
$t-Sie: #a0522d;
$t-Keshari: #a0522d;
$t-a0522d: #a0522d;
$সিয়েনা: #a0522d;

$t-Salmon: #fa8072;
$t-Sal: #fa8072;
$t-Ranga: #fa8072;
$t-fa8072: #fa8072;
$সালমন: #fa8072;

$t-Snow: #fffafa;
$t-Sno: #fffafa;
$t-Barish: #fffafa;
$t-fffafa: #fffafa;
$তুষার: #fffafa;

$t-Tan: #d2b48c;
$t-Brown: #d2b48c;
$t-d2b48c: #d2b48c;
$ট্যান: #d2b48c;

$t-MediumPurple: #9370db;
$t-MedPur: #9370db;
$t-MPr: #9370db;
$t-9370db: #9370db;
$মাঝারি-বেগুনি: #9370db;

$t-MediumOrchid: #ba55d3;
$t-MedOrc: #ba55d3;
$t-MOr: #ba55d3;
$t-ba55d3: #ba55d3;
$মাঝারি-অর্কিড: #ba55d3;

$t-MediumTurquoise: #48d1cc;
$t-MedTur: #48d1cc;
$t-MTq: #48d1cc;
$t-48d1cc: #48d1cc;
$মাঝারি-টারকোইজ: #48d1cc;

$t-SlateBlue: #6a5acd;
$t-SlaBlu: #6a5acd;
$t-SBl: #6a5acd;
$t-6a5acd: #6a5acd;
$স্লেট-ব্লু: #6a5acd;

$t-SlateGray: #708090;
$t-SlaGra: #708090;
$t-SGr: #708090;
$t-708090: #708090;
$স্লেট-গ্রে: #708090;

$t-SpringGreen: #00ff7f;
$t-SprGre: #00ff7f;
$t-SGr: #00ff7f;
$t-Nobob: #00ff7f;
$t-00ff7f: #00ff7f;
$স্প্রিং-গ্রিন: #00ff7f;

$t-SandyBrown: #f4a460;
$t-SanBro: #f4a460;
$t-SBr: #f4a460;
$t-Sandy: #f4a460;
$t-f4a460: #f4a460;
$স্যান্ডি-ব্রাউন: #f4a460;
