@use "../variables-Fectory/rem-vars" as *;
// ALL TEXT VARIABLES

/* //FONT-SIZE TOP RIGHT BOTTOM LEFT */
.text-- {
  &xxs {
    font-size: 0.2rem;
  }

  &xs {
    font-size: 0.4rem;
  }

  &s {
    font-size: 0.8rem;
  }

  &n,
  &normal,
  &general {
    font-size: 1rem;
  }

  &m {
    font-size: 1.2rem;
  }

  &l {
    font-size: 1.4rem;
  }

  &xl {
    font-size: 1.8rem;
  }

  &xxl {
    font-size: 2rem;
  }

  &xxxl {
    font-size: 2.5rem;
  }
}

.text-- {
  &00 {
    font-size: $rem00;
  }

  &01 {
    font-size: $rem01;
  }

  &02 {
    font-size: $rem02;
  }

  &03 {
    font-size: $rem03;
  }

  &04 {
    font-size: $rem04;
  }

  &05 {
    font-size: $rem05;
  }

  &06 {
    font-size: $rem06;
  }

  &07 {
    font-size: $rem07;
  }

  &08 {
    font-size: $rem08;
  }

  &09 {
    font-size: $rem09;
  }

  &10 {
    font-size: $rem10;
  }

  &11 {
    font-size: $rem11;
  }

  &12 {
    font-size: $rem12;
  }

  &13 {
    font-size: $rem13;
  }

  &14 {
    font-size: $rem14;
  }

  &15 {
    font-size: $rem15;
  }

  &16 {
    font-size: $rem16;
  }

  &17 {
    font-size: $rem17;
  }

  &18 {
    font-size: $rem18;
  }

  &19 {
    font-size: $rem19;
  }

  &20 {
    font-size: $rem20;
  }

  &21 {
    font-size: $rem21;
  }

  &22 {
    font-size: $rem22;
  }

  &23 {
    font-size: $rem23;
  }

  &24 {
    font-size: $rem24;
  }

  &25 {
    font-size: $rem25;
  }

  &26 {
    font-size: $rem26;
  }

  &27 {
    font-size: $rem27;
  }

  &28 {
    font-size: $rem28;
  }

  &29 {
    font-size: $rem29;
  }

  &30 {
    font-size: $rem30;
  }

  &31 {
    font-size: $rem31;
  }

  &32 {
    font-size: $rem32;
  }

  &33 {
    font-size: $rem33;
  }

  &34 {
    font-size: $rem34;
  }

  &35 {
    font-size: $rem35;
  }

  &36 {
    font-size: $rem36;
  }

  &37 {
    font-size: $rem37;
  }

  &38 {
    font-size: $rem38;
  }

  &39 {
    font-size: $rem39;
  }

  &40 {
    font-size: $rem40;
  }

  &41 {
    font-size: $rem41;
  }

  &42 {
    font-size: $rem42;
  }

  &43 {
    font-size: $rem43;
  }

  &44 {
    font-size: $rem44;
  }

  &45 {
    font-size: $rem45;
  }

  &46 {
    font-size: $rem46;
  }

  &47 {
    font-size: $rem47;
  }

  &48 {
    font-size: $rem48;
  }

  &49 {
    font-size: $rem49;
  }

  &50 {
    font-size: $rem50;
  }

  &51 {
    font-size: $rem51;
  }

  &52 {
    font-size: $rem52;
  }

  &53 {
    font-size: $rem53;
  }

  &54 {
    font-size: $rem54;
  }

  &55 {
    font-size: $rem55;
  }

  &56 {
    font-size: $rem56;
  }

  &57 {
    font-size: $rem57;
  }

  &58 {
    font-size: $rem58;
  }

  &59 {
    font-size: $rem59;
  }

  &60 {
    font-size: $rem60;
  }

  &61 {
    font-size: $rem61;
  }

  &62 {
    font-size: $rem62;
  }

  &63 {
    font-size: $rem63;
  }

  &64 {
    font-size: $rem64;
  }

  &65 {
    font-size: $rem65;
  }

  &66 {
    font-size: $rem66;
  }

  &67 {
    font-size: $rem67;
  }

  &68 {
    font-size: $rem68;
  }

  &69 {
    font-size: $rem69;
  }

  &70 {
    font-size: $rem70;
  }

  &71 {
    font-size: $rem71;
  }

  &72 {
    font-size: $rem72;
  }

  &73 {
    font-size: $rem73;
  }

  &74 {
    font-size: $rem74;
  }

  &75 {
    font-size: $rem75;
  }

  &76 {
    font-size: $rem76;
  }

  &77 {
    font-size: $rem77;
  }

  &78 {
    font-size: $rem78;
  }

  &79 {
    font-size: $rem79;
  }

  &80 {
    font-size: $rem80;
  }

  &81 {
    font-size: $rem81;
  }

  &82 {
    font-size: $rem82;
  }

  &83 {
    font-size: $rem83;
  }

  &84 {
    font-size: $rem84;
  }

  &85 {
    font-size: $rem85;
  }

  &86 {
    font-size: $rem86;
  }

  &87 {
    font-size: $rem87;
  }

  &88 {
    font-size: $rem88;
  }

  &89 {
    font-size: $rem89;
  }

  &90 {
    font-size: $rem90;
  }

  &91 {
    font-size: $rem91;
  }

  &92 {
    font-size: $rem92;
  }

  &93 {
    font-size: $rem93;
  }

  &94 {
    font-size: $rem94;
  }

  &95 {
    font-size: $rem95;
  }

  &96 {
    font-size: $rem96;
  }

  &97 {
    font-size: $rem97;
  }

  &98 {
    font-size: $rem98;
  }

  &99 {
    font-size: $rem99;
  }

  &100 {
    font-size: $rem100;
  }

  &101 {
    font-size: $rem101;
  }

  &102 {
    font-size: $rem102;
  }

  &103 {
    font-size: $rem103;
  }

  &104 {
    font-size: $rem104;
  }

  &105 {
    font-size: $rem105;
  }

  &106 {
    font-size: $rem106;
  }

  &107 {
    font-size: $rem107;
  }

  &108 {
    font-size: $rem108;
  }

  &109 {
    font-size: $rem109;
  }

  &110 {
    font-size: $rem110;
  }

  &111 {
    font-size: $rem111;
  }

  &112 {
    font-size: $rem112;
  }

  &113 {
    font-size: $rem113;
  }

  &114 {
    font-size: $rem114;
  }

  &115 {
    font-size: $rem115;
  }

  &116 {
    font-size: $rem116;
  }

  &117 {
    font-size: $rem117;
  }

  &118 {
    font-size: $rem118;
  }

  &119 {
    font-size: $rem119;
  }

  &120 {
    font-size: $rem120;
  }

  &121 {
    font-size: $rem121;
  }

  &122 {
    font-size: $rem122;
  }

  &123 {
    font-size: $rem123;
  }

  &124 {
    font-size: $rem124;
  }

  &125 {
    font-size: $rem125;
  }

  &126 {
    font-size: $rem126;
  }

  &127 {
    font-size: $rem127;
  }

  &128 {
    font-size: $rem128;
  }

  &129 {
    font-size: $rem129;
  }

  &130 {
    font-size: $rem130;
  }

  &131 {
    font-size: $rem131;
  }

  &132 {
    font-size: $rem132;
  }

  &133 {
    font-size: $rem133;
  }

  &134 {
    font-size: $rem134;
  }

  &135 {
    font-size: $rem135;
  }

  &136 {
    font-size: $rem136;
  }

  &137 {
    font-size: $rem137;
  }

  &138 {
    font-size: $rem138;
  }

  &139 {
    font-size: $rem139;
  }

  &140 {
    font-size: $rem140;
  }

  &141 {
    font-size: $rem141;
  }

  &142 {
    font-size: $rem142;
  }

  &143 {
    font-size: $rem143;
  }

  &144 {
    font-size: $rem144;
  }

  &145 {
    font-size: $rem145;
  }

  &146 {
    font-size: $rem146;
  }

  &147 {
    font-size: $rem147;
  }

  &148 {
    font-size: $rem148;
  }

  &149 {
    font-size: $rem149;
  }

  &150 {
    font-size: $rem150;
  }

  &151 {
    font-size: $rem151;
  }

  &152 {
    font-size: $rem152;
  }

  &153 {
    font-size: $rem153;
  }

  &154 {
    font-size: $rem154;
  }

  &155 {
    font-size: $rem155;
  }

  &156 {
    font-size: $rem156;
  }

  &157 {
    font-size: $rem157;
  }

  &158 {
    font-size: $rem158;
  }

  &159 {
    font-size: $rem159;
  }

  &160 {
    font-size: $rem160;
  }

  &161 {
    font-size: $rem161;
  }

  &162 {
    font-size: $rem162;
  }

  &163 {
    font-size: $rem163;
  }

  &164 {
    font-size: $rem164;
  }

  &165 {
    font-size: $rem165;
  }

  &166 {
    font-size: $rem166;
  }

  &167 {
    font-size: $rem167;
  }

  &168 {
    font-size: $rem168;
  }

  &169 {
    font-size: $rem169;
  }

  &170 {
    font-size: $rem170;
  }

  &171 {
    font-size: $rem171;
  }

  &172 {
    font-size: $rem172;
  }

  &173 {
    font-size: $rem173;
  }

  &174 {
    font-size: $rem174;
  }

  &175 {
    font-size: $rem175;
  }

  &176 {
    font-size: $rem176;
  }

  &177 {
    font-size: $rem177;
  }

  &178 {
    font-size: $rem178;
  }

  &179 {
    font-size: $rem179;
  }

  &180 {
    font-size: $rem180;
  }

  &181 {
    font-size: $rem181;
  }

  &182 {
    font-size: $rem182;
  }

  &183 {
    font-size: $rem183;
  }

  &184 {
    font-size: $rem184;
  }

  &185 {
    font-size: $rem185;
  }

  &186 {
    font-size: $rem186;
  }

  &187 {
    font-size: $rem187;
  }

  &188 {
    font-size: $rem188;
  }

  &189 {
    font-size: $rem189;
  }

  &190 {
    font-size: $rem190;
  }

  &191 {
    font-size: $rem191;
  }

  &192 {
    font-size: $rem192;
  }

  &193 {
    font-size: $rem193;
  }

  &194 {
    font-size: $rem194;
  }

  &195 {
    font-size: $rem195;
  }

  &196 {
    font-size: $rem196;
  }

  &197 {
    font-size: $rem197;
  }

  &198 {
    font-size: $rem198;
  }

  &199 {
    font-size: $rem199;
  }

  &200 {
    font-size: $rem200;
  }

  &201 {
    font-size: $rem201;
  }

  &202 {
    font-size: $rem202;
  }

  &203 {
    font-size: $rem203;
  }

  &204 {
    font-size: $rem204;
  }

  &205 {
    font-size: $rem205;
  }

  &206 {
    font-size: $rem206;
  }

  &207 {
    font-size: $rem207;
  }

  &208 {
    font-size: $rem208;
  }

  &209 {
    font-size: $rem209;
  }

  &210 {
    font-size: $rem210;
  }

  &211 {
    font-size: $rem211;
  }

  &212 {
    font-size: $rem212;
  }

  &213 {
    font-size: $rem213;
  }

  &214 {
    font-size: $rem214;
  }

  &215 {
    font-size: $rem215;
  }

  &216 {
    font-size: $rem216;
  }

  &217 {
    font-size: $rem217;
  }

  &218 {
    font-size: $rem218;
  }

  &219 {
    font-size: $rem219;
  }

  &220 {
    font-size: $rem220;
  }

  &221 {
    font-size: $rem221;
  }

  &222 {
    font-size: $rem222;
  }

  &223 {
    font-size: $rem223;
  }

  &224 {
    font-size: $rem224;
  }

  &225 {
    font-size: $rem225;
  }

  &226 {
    font-size: $rem226;
  }

  &227 {
    font-size: $rem227;
  }

  &228 {
    font-size: $rem228;
  }

  &229 {
    font-size: $rem229;
  }

  &230 {
    font-size: $rem230;
  }

  &231 {
    font-size: $rem231;
  }

  &232 {
    font-size: $rem232;
  }

  &233 {
    font-size: $rem233;
  }

  &234 {
    font-size: $rem234;
  }

  &235 {
    font-size: $rem235;
  }

  &236 {
    font-size: $rem236;
  }

  &237 {
    font-size: $rem237;
  }

  &238 {
    font-size: $rem238;
  }

  &239 {
    font-size: $rem239;
  }

  &240 {
    font-size: $rem240;
  }

  &241 {
    font-size: $rem241;
  }

  &242 {
    font-size: $rem242;
  }

  &243 {
    font-size: $rem243;
  }

  &244 {
    font-size: $rem244;
  }

  &245 {
    font-size: $rem245;
  }

  &246 {
    font-size: $rem246;
  }

  &247 {
    font-size: $rem247;
  }

  &248 {
    font-size: $rem248;
  }

  &249 {
    font-size: $rem249;
  }

  &250 {
    font-size: $rem250;
  }

  &251 {
    font-size: $rem251;
  }

  &252 {
    font-size: $rem252;
  }

  &253 {
    font-size: $rem253;
  }

  &254 {
    font-size: $rem254;
  }

  &255 {
    font-size: $rem255;
  }

  &256 {
    font-size: $rem256;
  }

  &257 {
    font-size: $rem257;
  }

  &258 {
    font-size: $rem258;
  }

  &259 {
    font-size: $rem259;
  }

  &260 {
    font-size: $rem260;
  }

  &261 {
    font-size: $rem261;
  }

  &262 {
    font-size: $rem262;
  }

  &263 {
    font-size: $rem263;
  }

  &264 {
    font-size: $rem264;
  }

  &265 {
    font-size: $rem265;
  }

  &266 {
    font-size: $rem266;
  }

  &267 {
    font-size: $rem267;
  }

  &268 {
    font-size: $rem268;
  }

  &269 {
    font-size: $rem269;
  }

  &270 {
    font-size: $rem270;
  }

  &271 {
    font-size: $rem271;
  }

  &272 {
    font-size: $rem272;
  }

  &273 {
    font-size: $rem273;
  }

  &274 {
    font-size: $rem274;
  }

  &275 {
    font-size: $rem275;
  }

  &276 {
    font-size: $rem276;
  }

  &277 {
    font-size: $rem277;
  }

  &278 {
    font-size: $rem278;
  }

  &279 {
    font-size: $rem279;
  }

  &280 {
    font-size: $rem280;
  }

  &281 {
    font-size: $rem281;
  }

  &282 {
    font-size: $rem282;
  }

  &283 {
    font-size: $rem283;
  }

  &284 {
    font-size: $rem284;
  }

  &285 {
    font-size: $rem285;
  }

  &286 {
    font-size: $rem286;
  }

  &287 {
    font-size: $rem287;
  }

  &288 {
    font-size: $rem288;
  }

  &289 {
    font-size: $rem289;
  }

  &290 {
    font-size: $rem290;
  }

  &291 {
    font-size: $rem291;
  }

  &292 {
    font-size: $rem292;
  }

  &293 {
    font-size: $rem293;
  }

  &294 {
    font-size: $rem294;
  }

  &295 {
    font-size: $rem295;
  }

  &296 {
    font-size: $rem296;
  }

  &297 {
    font-size: $rem297;
  }

  &298 {
    font-size: $rem298;
  }

  &299 {
    font-size: $rem299;
  }

  &300 {
    font-size: $rem300;
  }

  &301 {
    font-size: $rem301;
  }

  &302 {
    font-size: $rem302;
  }

  &303 {
    font-size: $rem303;
  }

  &304 {
    font-size: $rem304;
  }

  &305 {
    font-size: $rem305;
  }

  &306 {
    font-size: $rem306;
  }

  &307 {
    font-size: $rem307;
  }

  &308 {
    font-size: $rem308;
  }

  &309 {
    font-size: $rem309;
  }

  &310 {
    font-size: $rem310;
  }

  &311 {
    font-size: $rem311;
  }

  &312 {
    font-size: $rem312;
  }

  &313 {
    font-size: $rem313;
  }

  &314 {
    font-size: $rem314;
  }

  &315 {
    font-size: $rem315;
  }

  &316 {
    font-size: $rem316;
  }

  &317 {
    font-size: $rem317;
  }

  &318 {
    font-size: $rem318;
  }

  &319 {
    font-size: $rem319;
  }

  &320 {
    font-size: $rem320;
  }

  &321 {
    font-size: $rem321;
  }

  &322 {
    font-size: $rem322;
  }

  &323 {
    font-size: $rem323;
  }

  &324 {
    font-size: $rem324;
  }

  &325 {
    font-size: $rem325;
  }

  &326 {
    font-size: $rem326;
  }

  &327 {
    font-size: $rem327;
  }

  &328 {
    font-size: $rem328;
  }

  &329 {
    font-size: $rem329;
  }

  &330 {
    font-size: $rem330;
  }

  &331 {
    font-size: $rem331;
  }

  &332 {
    font-size: $rem332;
  }

  &333 {
    font-size: $rem333;
  }

  &334 {
    font-size: $rem334;
  }

  &335 {
    font-size: $rem335;
  }

  &336 {
    font-size: $rem336;
  }

  &337 {
    font-size: $rem337;
  }

  &338 {
    font-size: $rem338;
  }

  &339 {
    font-size: $rem339;
  }

  &340 {
    font-size: $rem340;
  }

  &341 {
    font-size: $rem341;
  }

  &342 {
    font-size: $rem342;
  }

  &343 {
    font-size: $rem343;
  }

  &344 {
    font-size: $rem344;
  }

  &345 {
    font-size: $rem345;
  }

  &346 {
    font-size: $rem346;
  }

  &347 {
    font-size: $rem347;
  }

  &348 {
    font-size: $rem348;
  }

  &349 {
    font-size: $rem349;
  }

  &350 {
    font-size: $rem350;
  }

  &351 {
    font-size: $rem351;
  }

  &352 {
    font-size: $rem352;
  }

  &353 {
    font-size: $rem353;
  }

  &354 {
    font-size: $rem354;
  }

  &355 {
    font-size: $rem355;
  }

  &356 {
    font-size: $rem356;
  }

  &357 {
    font-size: $rem357;
  }

  &358 {
    font-size: $rem358;
  }

  &359 {
    font-size: $rem359;
  }

  &360 {
    font-size: $rem360;
  }

  &361 {
    font-size: $rem361;
  }

  &362 {
    font-size: $rem362;
  }

  &363 {
    font-size: $rem363;
  }

  &364 {
    font-size: $rem364;
  }

  &365 {
    font-size: $rem365;
  }

  &366 {
    font-size: $rem366;
  }

  &367 {
    font-size: $rem367;
  }

  &368 {
    font-size: $rem368;
  }

  &369 {
    font-size: $rem369;
  }

  &370 {
    font-size: $rem370;
  }

  &371 {
    font-size: $rem371;
  }

  &372 {
    font-size: $rem372;
  }

  &373 {
    font-size: $rem373;
  }

  &374 {
    font-size: $rem374;
  }

  &375 {
    font-size: $rem375;
  }

  &376 {
    font-size: $rem376;
  }

  &377 {
    font-size: $rem377;
  }

  &378 {
    font-size: $rem378;
  }

  &379 {
    font-size: $rem379;
  }

  &380 {
    font-size: $rem380;
  }

  &381 {
    font-size: $rem381;
  }

  &382 {
    font-size: $rem382;
  }

  &383 {
    font-size: $rem383;
  }

  &384 {
    font-size: $rem384;
  }

  &385 {
    font-size: $rem385;
  }

  &386 {
    font-size: $rem386;
  }

  &387 {
    font-size: $rem387;
  }

  &388 {
    font-size: $rem388;
  }

  &389 {
    font-size: $rem389;
  }

  &390 {
    font-size: $rem390;
  }

  &391 {
    font-size: $rem391;
  }

  &392 {
    font-size: $rem392;
  }

  &393 {
    font-size: $rem393;
  }

  &394 {
    font-size: $rem394;
  }

  &395 {
    font-size: $rem395;
  }

  &396 {
    font-size: $rem396;
  }

  &397 {
    font-size: $rem397;
  }

  &398 {
    font-size: $rem398;
  }

  &399 {
    font-size: $rem399;
  }

  &400 {
    font-size: $rem400;
  }

  &401 {
    font-size: $rem401;
  }

  &402 {
    font-size: $rem402;
  }

  &403 {
    font-size: $rem403;
  }

  &404 {
    font-size: $rem404;
  }

  &405 {
    font-size: $rem405;
  }

  &406 {
    font-size: $rem406;
  }

  &407 {
    font-size: $rem407;
  }

  &408 {
    font-size: $rem408;
  }

  &409 {
    font-size: $rem409;
  }

  &410 {
    font-size: $rem410;
  }

  &411 {
    font-size: $rem411;
  }

  &412 {
    font-size: $rem412;
  }

  &413 {
    font-size: $rem413;
  }

  &414 {
    font-size: $rem414;
  }

  &415 {
    font-size: $rem415;
  }

  &416 {
    font-size: $rem416;
  }

  &417 {
    font-size: $rem417;
  }

  &418 {
    font-size: $rem418;
  }

  &419 {
    font-size: $rem419;
  }

  &420 {
    font-size: $rem420;
  }

  &421 {
    font-size: $rem421;
  }

  &422 {
    font-size: $rem422;
  }

  &423 {
    font-size: $rem423;
  }

  &424 {
    font-size: $rem424;
  }

  &425 {
    font-size: $rem425;
  }

  &426 {
    font-size: $rem426;
  }

  &427 {
    font-size: $rem427;
  }

  &428 {
    font-size: $rem428;
  }

  &429 {
    font-size: $rem429;
  }

  &430 {
    font-size: $rem430;
  }

  &431 {
    font-size: $rem431;
  }

  &432 {
    font-size: $rem432;
  }

  &433 {
    font-size: $rem433;
  }

  &434 {
    font-size: $rem434;
  }

  &435 {
    font-size: $rem435;
  }

  &436 {
    font-size: $rem436;
  }

  &437 {
    font-size: $rem437;
  }

  &438 {
    font-size: $rem438;
  }

  &439 {
    font-size: $rem439;
  }

  &440 {
    font-size: $rem440;
  }

  &441 {
    font-size: $rem441;
  }

  &442 {
    font-size: $rem442;
  }

  &443 {
    font-size: $rem443;
  }

  &444 {
    font-size: $rem444;
  }

  &445 {
    font-size: $rem445;
  }

  &446 {
    font-size: $rem446;
  }

  &447 {
    font-size: $rem447;
  }

  &448 {
    font-size: $rem448;
  }

  &449 {
    font-size: $rem449;
  }

  &450 {
    font-size: $rem450;
  }

  &451 {
    font-size: $rem451;
  }

  &452 {
    font-size: $rem452;
  }

  &453 {
    font-size: $rem453;
  }

  &454 {
    font-size: $rem454;
  }

  &455 {
    font-size: $rem455;
  }

  &456 {
    font-size: $rem456;
  }

  &457 {
    font-size: $rem457;
  }

  &458 {
    font-size: $rem458;
  }

  &459 {
    font-size: $rem459;
  }

  &460 {
    font-size: $rem460;
  }

  &461 {
    font-size: $rem461;
  }

  &462 {
    font-size: $rem462;
  }

  &463 {
    font-size: $rem463;
  }

  &464 {
    font-size: $rem464;
  }

  &465 {
    font-size: $rem465;
  }

  &466 {
    font-size: $rem466;
  }

  &467 {
    font-size: $rem467;
  }

  &468 {
    font-size: $rem468;
  }

  &469 {
    font-size: $rem469;
  }

  &470 {
    font-size: $rem470;
  }

  &471 {
    font-size: $rem471;
  }

  &472 {
    font-size: $rem472;
  }

  &473 {
    font-size: $rem473;
  }

  &474 {
    font-size: $rem474;
  }

  &475 {
    font-size: $rem475;
  }

  &476 {
    font-size: $rem476;
  }

  &477 {
    font-size: $rem477;
  }

  &478 {
    font-size: $rem478;
  }

  &479 {
    font-size: $rem479;
  }

  &480 {
    font-size: $rem480;
  }

  &481 {
    font-size: $rem481;
  }

  &482 {
    font-size: $rem482;
  }

  &483 {
    font-size: $rem483;
  }

  &484 {
    font-size: $rem484;
  }

  &485 {
    font-size: $rem485;
  }

  &486 {
    font-size: $rem486;
  }

  &487 {
    font-size: $rem487;
  }

  &488 {
    font-size: $rem488;
  }

  &489 {
    font-size: $rem489;
  }

  &490 {
    font-size: $rem490;
  }

  &491 {
    font-size: $rem491;
  }

  &492 {
    font-size: $rem492;
  }

  &493 {
    font-size: $rem493;
  }

  &494 {
    font-size: $rem494;
  }

  &495 {
    font-size: $rem495;
  }

  &496 {
    font-size: $rem496;
  }

  &497 {
    font-size: $rem497;
  }

  &498 {
    font-size: $rem498;
  }

  &499 {
    font-size: $rem499;
  }

  &500 {
    font-size: $rem500;
  }
}