@use "../text-design/fontColors-vars" as *;

/* TEXT HOVER */
@each $color,
  $value
    in (
      Brown: $brown,
      Silver: $silver,
      Maroon: $maroon,
      Olive: $olive,
      Navy: $navy,
      YellowGreen: $yellowGreen,
      OliveDrab: $oliveDrab,
      GreenYellow: $greenYellow,
      LimeGreen: $limeGreen,
      PaleGreen: $paleGreen,
      DarkSeaGreen: $darkSeaGreen,
      MediumSeaGreen: $mediumSeaGreen,
      SeaGreen: $seaGreen,
      ForestGreen: $forestGreen,
      LightGray: $lightGray,
      Lavender: $lavender,
      MistyRose: $mistyRose,
      NavajoWhite: $navajoWhite,
      Wheat: $wheat,
      AntiqueWhite: $antiqueWhite,
      Cornsilk: $cornsilk,
      Khaki: $khaki,
      Beige: $beige,
      PapayaWhip: $papayaWhip,
      BlanchedAlmond: $blanchedAlmond,
      HoneyDew: $honeyDew,
      MintCream: $mintCream,
      AliceBlue: $aliceBlue,
      Tomato: $tomato,
      Orchid: $orchid,
      Turquoise: $turquoise,
      DarkRed: $darkRed,
      DarkBlue: $darkBlue,
      DarkGreen: $darkGreen,
      Peru: $peru,
      Chocolate: $chocolate,
      Plum: $plum,
      Sienna: $sienna,
      Snow: $snow,
      Tan: $tan,
      MediumPurple: $mediumPurple,
      MediumOrchid: $mediumOrchid,
      MediumTurquoise: $mediumTurquoise,
      SlateBlue: $slateBlue,
      SlateGray: $slateGray,
      SpringGreen: $springGreen,
      SandyBrown: $sandyBrown,
      Crimson: $crimson,
      DeepPink: $deepPink,
      DodgerBlue: $dodgerBlue,
      Gold: $gold,
      IndianRed: $indianRed,
      LightCoral: $lightCoral,
      LightSalmon: $lightSalmon,
      LightSeaGreen: $lightSeaGreen,
      Lime: $lime,
      Magenta: $magenta,
      Orange: $orange,
      Orangered: $orangered,
      PaleTurquoise: $paleTurquoise,
      RoyalBlue: $royalBlue,
      SkyBlue: $skyBlue,
      SteelBlue: $steelBlue,
      Violet: $violet,
      Teal: $teal,
      White: $white,
      Black: $black,
      Red: $red,
      Green: $green,
      Blue: $blue,
      Yellow: $yellow,
      Cyan: $cyan,
      Gray: $gray,
      DarkGray: $darkGray,
      Dark: $dark,
      LightDark: $lightDark,
      DarkDark: $darkDark,
      DarkSlateGray: $darkSlateGray,
      DarkCyan: $darkCyan,
      DarkMagenta: $darkMagenta,
      DarkGoldenrod: $darkGoldenrod,
      VeryDarkGray: $veryDarkGray,
      OffBlack: $offBlack,
      MidnightBlue: $midnightBlue,
      RosyBrown: $rosyBrown,
      Firebrick: $firebrick,
      PaleGoldenrod: $paleGoldenrod,
      DarkOrange: $darkOrange,
      HotPink: $hotPink,
      PaleVioletRed: $paleVioletRed,
      Goldenrod: $goldenrod,
      LightPink: $lightPink
    )
{
  .text-hov-#{$color}:hover {
    color: $value;
  }

  // Basic text shadow using color
  .text-shad-#{$color}, .text-shadow-#{$color} {
    text-shadow: 2px 2px 4px $value;
  }

  // SHADOW ON HOVER
  .text-shad-hov-#{$color}:hover, .text-shadow-hov-#{$color}:hover {
    text-shadow: 2px 2px 4px $value;
  }
}






.text- {
  &u {
    text-decoration: underline;
  }
  &o {
    text-decoration: overline;
  }
  &l {
    text-decoration: line-through;
  }
  &n,
  &none {
    text-decoration: none;
  }
  &dotted {
    text-decoration: underline dotted;
  }
  &dashed {
    text-decoration: underline dashed;
  }
  &double {
    text-decoration: underline double;
  }
  &wavy {
    text-decoration: underline wavy;
  }
  &u-overline {
    text-decoration: underline overline;
  }
  &u-dotted {
    text-decoration: underline overline dotted;
  }
  &u-dashed {
    text-decoration: underline overline dashed;
  }
  &u-double {
    text-decoration: underline overline double;
  }
  &u-wavy {
    text-decoration: underline overline wavy;
  }

  &hov- {
    &u:hover {
      text-decoration: underline;
    }
    &o:hover {
      text-decoration: overline;
    }
    &l:hover {
      text-decoration: line-through;
    }
    &n:hover,
    &none:hover {
      text-decoration: none;
    }
    &dotted:hover {
      text-decoration: underline dotted;
    }
    &dashed:hover {
      text-decoration: underline dashed;
    }
    &double:hover {
      text-decoration: underline double;
    }
    &wavy:hover {
      text-decoration: underline wavy;
    }
    &u-overline:hover {
      text-decoration: underline overline;
    }
    &u-dotted:hover {
      text-decoration: underline overline dotted;
    }
    &u-dashed:hover {
      text-decoration: underline overline dashed;
    }
    &u-double:hover {
      text-decoration: underline overline double;
    }
    &u-wavy:hover {
      text-decoration: underline overline wavy;
    }
  }
}
