@use "../text-design/fontColors-vars" as *;

/* TEXT HOVER */

/* White Hover Effect */
.text-hov-White:hover {
    color: $t-White;
}

/* Black Hover Effect */
.text-hov-Black:hover {
    color: $t-Black;
}

/* Blue Hover Effect */
.text-hov-Blue:hover {
    color: $t-Blue;
}

/* Red Hover Effect */
.text-hov-Red:hover {
    color: $t-Red;
}

/* Green Hover Effect */
.text-hov-Green:hover {
    color: $t-Green;
}

/* Yellow Hover Effect */
.text-hov-Yellow:hover {
    color: $t-Yellow;
}

/* Orange Hover Effect */
.text-hov-Orange:hover {
    color: $t-Orange;
}

/* Purple Hover Effect */
.text-hov-Purple:hover {
    color: $t-Purple;
}

/* Pink Hover Effect */
.text-hov-Pink:hover {
    color: $t-Pink;
}

/* Teal Hover Effect */
.text-hov-Teal:hover {
    color: $t-Teal;
}

/* Brown Hover Effect */
.text-hov-Brown:hover {
    color: $t-Brown;
}

/* Gray Hover Effect */
.text-hov-Gray:hover {
    color: $t-Gray;
}

/* Cyan Hover Effect */
.text-hov-Cyan:hover {
    color: $t-Cyan;
}


/* Gold Hover Effect */
.text-hov-Gold:hover {
    color: $t-Gold;
}

/* Indigo Hover Effect */
.text-hov-Indigo:hover {
    color: $t-Indigo;
}

/* Violet Hover Effect */
.text-hov-Violet:hover {
    color: $t-Violet;
}

/* Salmon Hover Effect */

.text-hov-Salmon:hover {
    color: $t-Salmon;
}

/* Light Salmon Hover Effect */

.text-hov-LightSalmon:hover {
    color: $t-LightSalmon;
}

/* Light Pink Hover Effect */

.text-hov-LightPink:hover {
    color: $t-LightPink;
}

/* Light Coral Hover Effect */

.text-hov-LightCoral:hover {
    color: $t-LightCoral;
}


/* Light Golden Rod Yellow Hover Effect */

.text-hov-LightGoldenRodYellow:hover {
    color: $t-LightGoldenRodYellow;
}

/* Light Steel Blue Hover Effect */

.text-hov-LightSteelBlue:hover {
    color: $t-LightSteelBlue;
}


/* Light Sky Blue Hover Effect */

.text-hov-LightSkyBlue:hover {
    color: $t-LightSkyBlue;
}




// TEXT SHADOW
.text-shad- {
    &Black {
        text-shadow: 2px 2px 2px $t-Black;
    }

    &Gray {
        text-shadow: 2px 2px 2px $t-Gray;
    }

    &White {
        text-shadow: 2px 2px 2px $t-White;
    }

    &Red {
        text-shadow: 2px 2px 2px $t-Red;
    }

    &Green {
        text-shadow: 2px 2px 2px $t-Green;
    }

    &Blue {
        text-shadow: 2px 2px 2px $t-Blue;
    }

    &Yellow {
        text-shadow: 2px 2px 2px $t-Yellow;
    }

    &Cyan {
        text-shadow: 2px 2px 2px $t-Cyan;
    }

    &Magenta {
        text-shadow: 2px 2px 2px $t-Magenta;
    }

    &Purple {
        text-shadow: 2px 2px 2px $t-Purple;
    }

    &Orange {
        text-shadow: 2px 2px 2px $t-Orange;
    }

    &Pink {
        text-shadow: 2px 2px 2px $t-Pink;
    }

    &Gold {
        text-shadow: 2px 2px 2px $t-Gold;
    }

    &Silver {
        text-shadow: 2px 2px 2px $t-Silver;
    }

    &Brown {
        text-shadow: 2px 2px 2px $t-Brown;
    }
}