@use "../variables-Fectory/rem-vars" as *;

// AUTO MARGIN
.margin-auto,
.mar-auto,
.m-auto {
  margin: auto;
}

// USEFULL CLASSES

.mar-l-,
.m-l-,
.m-left- {
  &inherit {
    margin-left: inherit;
  }

  &auto {
    margin-left: auto;
  }

  &initial {
    margin-left: initial;
  }

  &unset {
    margin-left: unset;
  }

  // USUALL CLASSES
  &xxs {
    margin-left: 0.125rem;
  }

  &xs,
  &tiny {
    margin-left: 0.25rem;
  }

  &sm,
  &small {
    margin-left: 0.5rem;
  }

  &md,
  &normal {
    margin-left: 1rem;
  }

  &lg,
  &big {
    margin-left: 1.5rem;
  }

  &xl,
  &bigger {
    margin-left: 2rem;
  }

  &xxl,
  &biggest {
    margin-left: 2.5rem;
  }

  &xxxl,
  &gient {
    margin-left: 3rem;
  }
}

.mar-r-,
.m-r-,
.m-right- {
  &inherit {
    margin-right: inherit;
  }

  &auto {
    margin-right: auto;
  }

  &initial {
    margin-right: initial;
  }

  &unset {
    margin-right: unset;
  }

  // USUALL CLASSES
  &xxs {
    margin-right: 0.125rem;
  }

  &xs,
  &tiny {
    margin-right: 0.25rem;
  }

  &sm,
  &small {
    margin-right: 0.5rem;
  }

  &md,
  &normal {
    margin-right: 1rem;
  }

  &lg,
  &big {
    margin-right: 1.5rem;
  }

  &xl,
  &bigger {
    margin-right: 2rem;
  }

  &xxl,
  &biggest {
    margin-right: 2.5rem;
  }

  &xxxl,
  &gient {
    margin-right: 3rem;
  }
}

.mar-t-,
.m-t-,
.m-top- {
  &inherit {
    margin-top: inherit;
  }

  &auto {
    margin-top: auto;
  }

  &initial {
    margin-top: initial;
  }

  &unset {
    margin-top: unset;
  }

  // USUALL CLASSES
  &xxs {
    margin-top: 0.125rem;
  }

  &xs,
  &tiny {
    margin-top: 0.25rem;
  }

  &sm,
  &small {
    margin-top: 0.5rem;
  }

  &md,
  &normal {
    margin-top: 1rem;
  }

  &lg,
  &big {
    margin-top: 1.5rem;
  }

  &xl,
  &bigger {
    margin-top: 2rem;
  }

  &xxl,
  &biggest {
    margin-top: 2.5rem;
  }

  &xxxl,
  &gient {
    margin-top: 3rem;
  }
}

.mar-b-,
.m-b-,
.m-bottom- {
  &inherit {
    margin-bottom: inherit;
  }

  &auto {
    margin-bottom: auto;
  }

  &initial {
    margin-bottom: initial;
  }

  &unset {
    margin-bottom: unset;
  }

  // USUALL CLASSES
  &xxs {
    margin-bottom: 0.125rem;
  }

  &xs,
  &tiny {
    margin-bottom: 0.25rem;
  }

  &sm,
  &small {
    margin-bottom: 0.5rem;
  }

  &md,
  &normal {
    margin-bottom: 1rem;
  }

  &lg,
  &big {
    margin-bottom: 1.5rem;
  }

  &xl,
  &bigger {
    margin-bottom: 2rem;
  }

  &xxl,
  &biggest {
    margin-bottom: 2.5rem;
  }

  &xxxl,
  &gient {
    margin-bottom: 3rem;
  }
}

// ----------------------------------
//          (%) MARGIN
// ----------------------------------

// MARGIN LEFT (%)
.mar-l-,
.m-l-,
.m-left- {
  @for $i from 0 through 150 {
    $class: if($i < 10, "0#{$i}", "#{$i}");
    $percent: if($i < 10, "0#{$i}%", "#{$i}%");

    &#{$class} {
      margin-left: #{$percent};
    }
  }
}

// MARGIN RIGHT (%)
.mar-r-,
.m-r-,
.m-right- {
  @for $i from 0 through 150 {
    $class: if($i < 10, "0#{$i}", "#{$i}");
    $percent: if($i < 10, "0#{$i}%", "#{$i}%");

    &#{$class} {
      margin-right: #{$percent};
    }
  }
}

// MARGIN TOP (%)
.mar-t-,
.m-t-,
.m-top- {
  @for $i from 0 through 150 {
    $class: if($i < 10, "0#{$i}", "#{$i}");
    $percent: if($i < 10, "0#{$i}%", "#{$i}%");

    &#{$class} {
      margin-top: #{$percent};
    }
  }
}

// MARGIN BOTTOM (%)
.mar-b-,
.m-b-,
.m-bottom- {
  @for $i from 0 through 150 {
    $class: if($i < 10, "0#{$i}", "#{$i}");
    $percent: if($i < 10, "0#{$i}%", "#{$i}%");

    &#{$class} {
      margin-bottom: #{$percent};
    }
  }
}

// MARGIN TOP-RIGHT (%)
.mar-tr-,
.mar-rt-,
.m-tr-,
.m-rt- {
  @for $i from 0 through 150 {
    $class: if($i < 10, "0#{$i}", "#{$i}");
    $percent: if($i < 10, "0#{$i}%", "#{$i}%");

    &#{$class} {
      margin-top: #{$percent};
      margin-right: #{$percent};
    }
  }
}

// MARGIN TOP-BOTTOM (%)
.mar-tb-,
.mar-bt-,
.m-tb-,
.m-bt- {
  @for $i from 0 through 150 {
    $class: if($i < 10, "0#{$i}", "#{$i}");
    $percent: if($i < 10, "0#{$i}%", "#{$i}%");

    &#{$class} {
      margin-top: #{$percent};
      margin-bottom: #{$percent};
    }
  }
}

// MARGIN RIGHT-BOTTOM (%)
.mar-rb-,
.mar-br-,
.m-rb-,
.m-br- {
  @for $i from 0 through 150 {
    $class: if($i < 10, "0#{$i}", "#{$i}");
    $percent: if($i < 10, "0#{$i}%", "#{$i}%");

    &#{$class} {
      margin-right: #{$percent};
      margin-bottom: #{$percent};
    }
  }
}

// MARGIN RIGHT-LEFT (%)
.mar-rl-,
.mar-lr-,
.m-rl-,
.m-lr- {
  @for $i from 0 through 150 {
    $class: if($i < 10, "0#{$i}", "#{$i}");
    $percent: if($i < 10, "0#{$i}%", "#{$i}%");

    &#{$class} {
      margin-right: #{$percent};
      margin-left: #{$percent};
    }
  }
}

// MARGIN BOTTOM-LEFT (%)
.mar-bl-,
.mar-lb-,
.m-bl-,
.m-lb- {
  @for $i from 0 through 150 {
    $class: if($i < 10, "0#{$i}", "#{$i}");
    $percent: if($i < 10, "0#{$i}%", "#{$i}%");

    &#{$class} {
      margin-bottom: #{$percent};
      margin-left: #{$percent};
    }
  }
}

// MARGIN TOP-BOTTOM-RIGHT (%)
.mar-trb-,
.mar-tbr-,
.mar-brt-,
.mar-btr-,
.mar-rtb-,
.mar-rbt-,
.m-trb-,
.m-tbr-,
.m-brt-,
.m-btr-,
.m-rtb-,
.m-rbt- {
  @for $i from 0 through 150 {
    $class: if($i < 10, "0#{$i}", "#{$i}");
    $percent: if($i < 10, "0#{$i}%", "#{$i}%");

    &#{$class} {
      margin-top: #{$percent};
      margin-bottom: #{$percent};
      margin-right: #{$percent};
    }
  }
}

// MARGIN TOP-BOTTOM-LEFT (%)
.mar-tlb-,
.mar-tbl-,
.mar-blt-,
.mar-btl-,
.mar-ltb-,
.mar-lbt-,
.m-tlb-,
.m-tbl-,
.m-blt-,
.m-btl-,
.m-ltb-,
.m-lbt- {
  @for $i from 0 through 150 {
    $class: if($i < 10, "0#{$i}", "#{$i}");
    $percent: if($i < 10, "0#{$i}%", "#{$i}%");

    &#{$class} {
      margin-top: #{$percent};
      margin-bottom: #{$percent};
      margin-left: #{$percent};
    }
  }
}

// MARGIN LEFT-RIGHT-TOP (%)
.mar-trl-,
.mar-tlr-,
.mar-lrt-,
.mar-ltr-,
.mar-rtl-,
.mar-rlt-,
.m-trl-,
.m-tlr-,
.m-lrt-,
.m-ltr-,
.m-rtl-,
.m-rlt- {
  @for $i from 0 through 150 {
    $class: if($i < 10, "0#{$i}", "#{$i}");
    $percent: if($i < 10, "0#{$i}%", "#{$i}%");

    &#{$class} {
      margin-left: #{$percent};
      margin-right: #{$percent};
      margin-top: #{$percent};
    }
  }
}

// MARGIN LEFT-RIGHT-BOTTOM (%)
.mar-brl-,
.mar-blr-,
.mar-lrb-,
.mar-lbr-,
.mar-rbl-,
.mar-rlb-,
.m-brl-,
.m-blr-,
.m-lrb-,
.m-lbr-,
.m-rbl-,
.m-rlb- {
  @for $i from 0 through 150 {
    $class: if($i < 10, "0#{$i}", "#{$i}");
    $percent: if($i < 10, "0#{$i}%", "#{$i}%");

    &#{$class} {
      margin-left: #{$percent};
      margin-right: #{$percent};
      margin-bottom: #{$percent};
    }
  }
}

// MARGIN ALL (%)
.mar-,
.m- {
  @for $i from 0 through 150 {
    $class: if($i < 10, "0#{$i}", "#{$i}");
    $percent: if($i < 10, "0#{$i}%", "#{$i}%");

    &#{$class} {
      margin: #{$percent};
    }
  }
}

// ----------------------------------
//          (REM) MARGIN
// ----------------------------------

// MARGIN LEFT (REM)

.mar-l--,
.m-l--,
.m-left-- {
  @for $i from 0 through 30 {
    @for $j from 0 through 9 {
      $class: #{$i}#{$j};
      $rem: $i + calc($j / 10);

      &#{$class} {
        margin-left: #{$rem}rem;
      }
    }
  }
}

// MARGIN RIGHT (REM)
.mar-r--,
.m-r--,
.m-right-- {
  @for $i from 0 through 30 {
    @for $j from 0 through 9 {
      $class: #{$i}#{$j};
      $rem: $i + calc($j / 10);

      &#{$class} {
        margin-right: #{$rem}rem;
      }
    }
  }
}

// MARGIN TOP (REM)
.mar-t--,
.m-t--,
.m-top-- {
  @for $i from 0 through 30 {
    @for $j from 0 through 9 {
      $class: #{$i}#{$j};
      $rem: $i + calc($j / 10);

      &#{$class} {
        margin-top: #{$rem}rem;
      }
    }
  }
}

// MARGIN BOTTOM (REM)
.mar-b--,
.m-b--,
.m-bottom-- {
  @for $i from 0 through 30 {
    @for $j from 0 through 9 {
      $class: #{$i}#{$j};
      $rem: $i + calc($j / 10);

      &#{$class} {
        margin-bottom: #{$rem}rem;
      }
    }
  }
}

// MARGIN TOP-RIGHT (REM)
.mar-tr--,
.mar-rt--,
.m-tr--,
.m-rt-- {
  @for $i from 0 through 30 {
    @for $j from 0 through 9 {
      $class: #{$i}#{$j};
      $rem: $i + calc($j / 10);

      &#{$class} {
        margin-top: #{$rem}rem;
        margin-right: #{$rem}rem;
      }
    }
  }
}

// MARGIN TOP-BOTTOM (REM)
.mar-tb--,
.mar-bt--,
.m-tb--,
.m-bt-- {
  @for $i from 0 through 30 {
    @for $j from 0 through 9 {
      $class: #{$i}#{$j};
      $rem: $i + calc($j / 10);

      &#{$class} {
        margin-top: #{$rem}rem;
        margin-bottom: #{$rem}rem;
      }
    }
  }
}

// MARGIN RIGHT-BOTTOM (REM)
.mar-rb--,
.mar-br--,
.m-rb--,
.m-br-- {
  @for $i from 0 through 30 {
    @for $j from 0 through 9 {
      $class: #{$i}#{$j};
      $rem: $i + calc($j / 10);

      &#{$class} {
        margin-right: #{$rem}rem;
        margin-bottom: #{$rem}rem;
      }
    }
  }
}

// MARGIN RIGHT-LEFT (REM)
.mar-rl--,
.mar-lr--,
.m-rl--,
.m-lr-- {
  @for $i from 0 through 30 {
    @for $j from 0 through 9 {
      $class: #{$i}#{$j};
      $rem: $i + calc($j / 10);

      &#{$class} {
        margin-right: #{$rem}rem;
        margin-left: #{$rem}rem;
      }
    }
  }
}

// MARGIN BOTTOM-LEFT (REM)
.mar-bl--,
.mar-lb--,
.m-bl--,
.m-lb-- {
  @for $i from 0 through 30 {
    @for $j from 0 through 9 {
      $class: #{$i}#{$j};
      $rem: $i + calc($j / 10);

      &#{$class} {
        margin-bottom: #{$rem}rem;
        margin-left: #{$rem}rem;
      }
    }
  }
}

// MARGIN TOP-BOTTOM-RIGHT (REM)
.mar-trb--,
.mar-tbr--,
.mar-brt--,
.mar-btr--,
.mar-rtb--,
.mar-rbt--,
.m-trb--,
.m-tbr--,
.m-brt--,
.m-btr--,
.m-rtb--,
.m-rbt-- {
  @for $i from 0 through 30 {
    @for $j from 0 through 9 {
      $class: #{$i}#{$j};
      $rem: $i + calc($j / 10);

      &#{$class} {
        margin-top: #{$rem}rem;
        margin-bottom: #{$rem}rem;
        margin-right: #{$rem}rem;
      }
    }
  }
}

// MARGIN TOP-BOTTOM-LEFT (REM)
.mar-tlb--,
.mar-tbl--,
.mar-blt--,
.mar-btl--,
.mar-ltb--,
.mar-lbt--,
.m-tlb--,
.m-tbl--,
.m-blt--,
.m-btl--,
.m-ltb--,
.m-lbt-- {
  @for $i from 0 through 30 {
    @for $j from 0 through 9 {
      $class: #{$i}#{$j};
      $rem: $i + calc($j / 10);

      &#{$class} {
        margin-top: #{$rem}rem;
        margin-bottom: #{$rem}rem;
        margin-left: #{$rem}rem;
      }
    }
  }
}

// MARGIN LEFT-RIGHT-TOP (REM)
.mar-trl--,
.mar-tlr--,
.mar-lrt--,
.mar-ltr--,
.mar-rtl--,
.mar-rlt--,
.m-trl--,
.m-tlr--,
.m-lrt--,
.m-ltr--,
.m-rtl--,
.m-rlt-- {
  @for $i from 0 through 30 {
    @for $j from 0 through 9 {
      $class: #{$i}#{$j};
      $rem: $i + calc($j / 10);

      &#{$class} {
        margin-left: #{$rem}rem;
        margin-right: #{$rem}rem;
        margin-top: #{$rem}rem;
      }
    }
  }
}

// MARGIN LEFT-RIGHT-BOTTOM (REM)
.mar-brl--,
.mar-blr--,
.mar-lrb--,
.mar-lbr--,
.mar-rbl--,
.mar-rlb--,
.m-brl--,
.m-blr--,
.m-lrb--,
.m-lbr--,
.m-rbl--,
.m-rlb-- {
  @for $i from 0 through 30 {
    @for $j from 0 through 9 {
      $class: #{$i}#{$j};
      $rem: $i + calc($j / 10);

      &#{$class} {
        margin-left: #{$rem}rem;
        margin-right: #{$rem}rem;
        margin-bottom: #{$rem}rem;
      }
    }
  }
}

// MARGIN ALL (REM)

.mar--,
.m-- {
  @for $i from 0 through 30 {
    @for $j from 0 through 9 {
      $class: #{$i}#{$j};
      $rem: $i + calc($j / 10);

      &#{$class} {
        margin: #{$rem}rem;
      }
    }
  }
}











// ----------------------------------
//    (REM) MARGIN - MINUS VALUES
// ----------------------------------

// MARGIN LEFT (REM)

.mar-l---,
.m-l---,
.m-left--- {
  @for $i from 0 through 10 {
    @for $j from 0 through 9 {
      $class: #{$i}#{$j};
      $rem: $i + calc($j / 10);

      &#{$class} {
        margin-left: -#{$rem}rem;
      }
    }
  }
}

// MARGIN RIGHT (REM)
.mar-r---,
.m-r---,
.m-right--- {
  @for $i from 0 through 10 {
    @for $j from 0 through 9 {
      $class: #{$i}#{$j};
      $rem: $i + calc($j / 10);

      &#{$class} {
        margin-right: -#{$rem}rem;
      }
    }
  }
}

// MARGIN TOP (REM)
.mar-t---,
.m-t---,
.m-top--- {
  @for $i from 0 through 10 {
    @for $j from 0 through 9 {
      $class: #{$i}#{$j};
      $rem: $i + calc($j / 10);

      &#{$class} {
        margin-top: -#{$rem}rem;
      }
    }
  }
}

// MARGIN BOTTOM (REM)
.mar-b---,
.m-b---,
.m-bottom--- {
  @for $i from 0 through 10 {
    @for $j from 0 through 9 {
      $class: #{$i}#{$j};
      $rem: $i + calc($j / 10);

      &#{$class} {
        margin-bottom: -#{$rem}rem;
      }
    }
  }
}

// MARGIN TOP-RIGHT (REM)
.mar-tr---,
.mar-rt---,
.m-tr---,
.m-rt--- {
  @for $i from 0 through 10 {
    @for $j from 0 through 9 {
      $class: #{$i}#{$j};
      $rem: $i + calc($j / 10);

      &#{$class} {
        margin-top: -#{$rem}rem;
        margin-right: -#{$rem}rem;
      }
    }
  }
}

// MARGIN TOP-BOTTOM (REM)
.mar-tb---,
.mar-bt---,
.m-tb---,
.m-bt--- {
  @for $i from 0 through 10 {
    @for $j from 0 through 9 {
      $class: #{$i}#{$j};
      $rem: $i + calc($j / 10);

      &#{$class} {
        margin-top: -#{$rem}rem;
        margin-bottom: -#{$rem}rem;
      }
    }
  }
}

// MARGIN RIGHT-BOTTOM (REM)
.mar-rb---,
.mar-br---,
.m-rb---,
.m-br--- {
  @for $i from 0 through 10 {
    @for $j from 0 through 9 {
      $class: #{$i}#{$j};
      $rem: $i + calc($j / 10);

      &#{$class} {
        margin-right: -#{$rem}rem;
        margin-bottom: -#{$rem}rem;
      }
    }
  }
}

// MARGIN RIGHT-LEFT (REM)
.mar-rl---,
.mar-lr---,
.m-rl---,
.m-lr--- {
  @for $i from 0 through 10 {
    @for $j from 0 through 9 {
      $class: #{$i}#{$j};
      $rem: $i + calc($j / 10);

      &#{$class} {
        margin-right: -#{$rem}rem;
        margin-left: -#{$rem}rem;
      }
    }
  }
}

// MARGIN BOTTOM-LEFT (REM)
.mar-bl---,
.mar-lb---,
.m-bl---,
.m-lb--- {
  @for $i from 0 through 10 {
    @for $j from 0 through 9 {
      $class: #{$i}#{$j};
      $rem: $i + calc($j / 10);

      &#{$class} {
        margin-bottom: -#{$rem}rem;
        margin-left: -#{$rem}rem;
      }
    }
  }
}

// MARGIN TOP-BOTTOM-RIGHT (REM)
.mar-trb---,
.mar-tbr---,
.mar-brt---,
.mar-btr---,
.mar-rtb---,
.mar-rbt---,
.m-trb---,
.m-tbr---,
.m-brt---,
.m-btr---,
.m-rtb---,
.m-rbt--- {
  @for $i from 0 through 10 {
    @for $j from 0 through 9 {
      $class: #{$i}#{$j};
      $rem: $i + calc($j / 10);

      &#{$class} {
        margin-top: -#{$rem}rem;
        margin-bottom: -#{$rem}rem;
        margin-right: -#{$rem}rem;
      }
    }
  }
}

// MARGIN TOP-BOTTOM-LEFT (REM)
.mar-tlb---,
.mar-tbl---,
.mar-blt---,
.mar-btl---,
.mar-ltb---,
.mar-lbt---,
.m-tlb---,
.m-tbl---,
.m-blt---,
.m-btl---,
.m-ltb---,
.m-lbt--- {
  @for $i from 0 through 10 {
    @for $j from 0 through 9 {
      $class: #{$i}#{$j};
      $rem: $i + calc($j / 10);

      &#{$class} {
        margin-top: -#{$rem}rem;
        margin-bottom: -#{$rem}rem;
        margin-left: -#{$rem}rem;
      }
    }
  }
}

// MARGIN LEFT-RIGHT-TOP (REM)
.mar-trl---,
.mar-tlr---,
.mar-lrt---,
.mar-ltr---,
.mar-rtl---,
.mar-rlt---,
.m-trl---,
.m-tlr---,
.m-lrt---,
.m-ltr---,
.m-rtl---,
.m-rlt--- {
  @for $i from 0 through 10 {
    @for $j from 0 through 9 {
      $class: #{$i}#{$j};
      $rem: $i + calc($j / 10);

      &#{$class} {
        margin-left: -#{$rem}rem;
        margin-right: -#{$rem}rem;
        margin-top: -#{$rem}rem;
      }
    }
  }
}

// MARGIN LEFT-RIGHT-BOTTOM (REM)
.mar-brl---,
.mar-blr---,
.mar-lrb---,
.mar-lbr---,
.mar-rbl---,
.mar-rlb---,
.m-brl---,
.m-blr---,
.m-lrb---,
.m-lbr---,
.m-rbl---,
.m-rlb--- {
  @for $i from 0 through 10 {
    @for $j from 0 through 9 {
      $class: #{$i}#{$j};
      $rem: $i + calc($j / 10);

      &#{$class} {
        margin-left: -#{$rem}rem;
        margin-right: -#{$rem}rem;
        margin-bottom: -#{$rem}rem;
      }
    }
  }
}

// MARGIN ALL (REM)

.mar---,
.m--- {
  @for $i from 0 through 10 {
    @for $j from 0 through 9 {
      $class: #{$i}#{$j};
      $rem: $i + calc($j / 10);

      &#{$class} {
        margin: -#{$rem}rem;
      }
    }
  }
}