@use "../variables-Fectory/rem-vars" as *;
// ----------------------------------
//          (%) MARGIN
// ----------------------------------

// MARGIN LEFT (%)
.mar-l-,
.m-l-,
.m-left- {
    @for $i from 0 through 150 {
        $class: if($i < 10, '0#{$i}', '#{$i}');
        $percent: if($i < 10, '0#{$i}%', '#{$i}%');

        &#{$class} {
            margin-left: #{$percent};
        }
    }
}

// MARGIN RIGHT (%)
.mar-r-,
.m-r-,
.m-right- {
    @for $i from 0 through 150 {
        $class: if($i < 10, '0#{$i}', '#{$i}');
        $percent: if($i < 10, '0#{$i}%', '#{$i}%');

        &#{$class} {
            margin-right: #{$percent};
        }
    }
}

// MARGIN TOP (%)
.mar-t-,
.m-t-,
.m-top- {
    @for $i from 0 through 150 {
        $class: if($i < 10, '0#{$i}', '#{$i}');
        $percent: if($i < 10, '0#{$i}%', '#{$i}%');

        &#{$class} {
            margin-top: #{$percent};
        }
    }
}

// MARGIN BOTTOM (%)
.mar-b-,
.m-b-,
.m-bottom- {
    @for $i from 0 through 150 {
        $class: if($i < 10, '0#{$i}', '#{$i}');
        $percent: if($i < 10, '0#{$i}%', '#{$i}%');

        &#{$class} {
            margin-bottom: #{$percent};
        }
    }
}

// MARGIN TOP-RIGHT (%)
.mar-tr-,
.mar-rt-,
.m-tr-,
.m-rt- {
    @for $i from 0 through 150 {
        $class: if($i < 10, '0#{$i}', '#{$i}');
        $percent: if($i < 10, '0#{$i}%', '#{$i}%');

        &#{$class} {
            margin-top: #{$percent};
            margin-right: #{$percent};
        }
    }
}

// MARGIN TOP-BOTTOM (%)
.mar-tb-,
.mar-bt-,
.m-tb-,
.m-bt- {
    @for $i from 0 through 150 {
        $class: if($i < 10, '0#{$i}', '#{$i}');
        $percent: if($i < 10, '0#{$i}%', '#{$i}%');

        &#{$class} {
            margin-top: #{$percent};
            margin-bottom: #{$percent};
        }
    }
}

// MARGIN RIGHT-BOTTOM (%)
.mar-rb-,
.mar-br-,
.m-rb-,
.m-br- {
    @for $i from 0 through 150 {
        $class: if($i < 10, '0#{$i}', '#{$i}');
        $percent: if($i < 10, '0#{$i}%', '#{$i}%');

        &#{$class} {
            margin-right: #{$percent};
            margin-bottom: #{$percent};
        }
    }
}

// MARGIN RIGHT-LEFT (%)
.mar-rl-,
.mar-lr-,
.m-rl-,
.m-lr- {
    @for $i from 0 through 150 {
        $class: if($i < 10, '0#{$i}', '#{$i}');
        $percent: if($i < 10, '0#{$i}%', '#{$i}%');

        &#{$class} {
            margin-right: #{$percent};
            margin-left: #{$percent};
        }
    }
}

// MARGIN BOTTOM-LEFT (%)
.mar-bl-,
.mar-lb-,
.m-bl-,
.m-lb- {
    @for $i from 0 through 150 {
        $class: if($i < 10, '0#{$i}', '#{$i}');
        $percent: if($i < 10, '0#{$i}%', '#{$i}%');

        &#{$class} {
            margin-bottom: #{$percent};
            margin-left: #{$percent};
        }
    }
}

// MARGIN TOP-BOTTOM-RIGHT (%)
.mar-trb-,
.mar-tbr-,
.mar-brt-,
.mar-btr-,
.mar-rtb-,
.mar-rbt-,
.m-trb-,
.m-tbr-,
.m-brt-,
.m-btr-,
.m-rtb-,
.m-rbt- {
    @for $i from 0 through 150 {
        $class: if($i < 10, '0#{$i}', '#{$i}');
        $percent: if($i < 10, '0#{$i}%', '#{$i}%');

        &#{$class} {
            margin-top: #{$percent};
            margin-bottom: #{$percent};
            margin-right: #{$percent};
        }
    }
}

// MARGIN TOP-BOTTOM-LEFT (%)
.mar-tlb-,
.mar-tbl-,
.mar-blt-,
.mar-btl-,
.mar-ltb-,
.mar-lbt-,
.m-tlb-,
.m-tbl-,
.m-blt-,
.m-btl-,
.m-ltb-,
.m-lbt- {
    @for $i from 0 through 150 {
        $class: if($i < 10, '0#{$i}', '#{$i}');
        $percent: if($i < 10, '0#{$i}%', '#{$i}%');

        &#{$class} {
            margin-top: #{$percent};
            margin-bottom: #{$percent};
            margin-left: #{$percent};
        }
    }
}

// MARGIN LEFT-RIGHT-TOP (%)
.mar-trl-,
.mar-tlr-,
.mar-lrt-,
.mar-ltr-,
.mar-rtl-,
.mar-rlt-,
.m-trl-,
.m-tlr-,
.m-lrt-,
.m-ltr-,
.m-rtl-,
.m-rlt- {
    @for $i from 0 through 150 {
        $class: if($i < 10, '0#{$i}', '#{$i}');
        $percent: if($i < 10, '0#{$i}%', '#{$i}%');

        &#{$class} {
            margin-left: #{$percent};
            margin-right: #{$percent};
            margin-top: #{$percent};
        }
    }
}

// MARGIN LEFT-RIGHT-BOTTOM (%)
.mar-brl-,
.mar-blr-,
.mar-lrb-,
.mar-lbr-,
.mar-rbl-,
.mar-rlb-,
.m-brl-,
.m-blr-,
.m-lrb-,
.m-lbr-,
.m-rbl-,
.m-rlb- {
    @for $i from 0 through 150 {
        $class: if($i < 10, '0#{$i}', '#{$i}');
        $percent: if($i < 10, '0#{$i}%', '#{$i}%');

        &#{$class} {
            margin-left: #{$percent};
            margin-right: #{$percent};
            margin-bottom: #{$percent};
        }
    }
}

// MARGIN ALL (%)
.mar-,
.m- {
    @for $i from 0 through 150 {
        $class: if($i < 10, '0#{$i}', '#{$i}');
        $percent: if($i < 10, '0#{$i}%', '#{$i}%');

        &#{$class} {
            margin: #{$percent};
        }
    }
}







































// ----------------------------------
//          (REM) MARGIN
// ----------------------------------




// MARGIN LEFT (REM)
.mar-l--,
.m-l--,
.m-left-- {
    @for $i from 0 through 300 {
        $class: if($i < 10, '0#{$i}', '#{$i}');
        $percent: if($i < 10, '$rem0#{$i}', '$rem#{$i}');
        &#{$class} {
            margin-left: #{$percent};
        }
    }
}

// MARGIN RIGHT (REM)
.mar-r--,
.m-r--,
.m-right-- {
    @for $i from 0 through 300 {
        $class: if($i < 10, '0#{$i}', '#{$i}');
        $percent: if($i < 10, '$rem0#{$i}', '$rem#{$i}');
        &#{$class} {
            margin-right: #{$percent};
        }
    }
}

// MARGIN TOP (REM)
.mar-t--,
.m-t--,
.m-top-- {
    @for $i from 0 through 300 {
        $class: if($i < 10, '0#{$i}', '#{$i}');
        $percent: if($i < 10, '$rem0#{$i}', '$rem#{$i}');
        &#{$class} {
            margin-top: #{$percent};
        }
    }
}

// MARGIN BOTTOM (REM)
.mar-b--,
.m-b--,
.m-bottom-- {
    @for $i from 0 through 300 {
        $class: if($i < 10, '0#{$i}', '#{$i}');
        $percent: if($i < 10, '$rem0#{$i}', '$rem#{$i}');
        &#{$class} {
            margin-bottom: #{$percent};
        }
    }
}

// MARGIN TOP-RIGHT (REM)
.mar-tr--,
.mar-rt--,
.m-tr--,
.m-rt-- {
    @for $i from 0 through 300 {
        $class: if($i < 10, '0#{$i}', '#{$i}');
        $percent: if($i < 10, '$rem0#{$i}', '$rem#{$i}');
        &#{$class} {
            margin-top: #{$percent};
            margin-right: #{$percent};
        }
    }
}

// MARGIN TOP-BOTTOM (REM)
.mar-tb--,
.mar-bt--,
.m-tb--,
.m-bt-- {
    @for $i from 0 through 300 {
        $class: if($i < 10, '0#{$i}', '#{$i}');
        $percent: if($i < 10, '$rem0#{$i}', '$rem#{$i}');
        &#{$class} {
            margin-top: #{$percent};
            margin-bottom: #{$percent};
        }
    }
}

// MARGIN RIGHT-BOTTOM (REM)
.mar-rb--,
.mar-br--,
.m-rb--,
.m-br-- {
    @for $i from 0 through 300 {
        $class: if($i < 10, '0#{$i}', '#{$i}');
        $percent: if($i < 10, '$rem0#{$i}', '$rem#{$i}');
        &#{$class} {
            margin-right: #{$percent};
            margin-bottom: #{$percent};
        }
    }
}

// MARGIN RIGHT-LEFT (REM)
.mar-rl--,
.mar-lr--,
.m-rl--,
.m-lr-- {
    @for $i from 0 through 300 {
        $class: if($i < 10, '0#{$i}', '#{$i}');
        $percent: if($i < 10, '$rem0#{$i}', '$rem#{$i}');
        &#{$class} {
            margin-right: #{$percent};
            margin-left: #{$percent};
        }
    }
}

// MARGIN BOTTOM-LEFT (REM)
.mar-bl--,
.mar-lb--,
.m-bl--,
.m-lb-- {
    @for $i from 0 through 300 {
        $class: if($i < 10, '0#{$i}', '#{$i}');
        $percent: if($i < 10, '$rem0#{$i}', '$rem#{$i}');
        &#{$class} {
            margin-bottom: #{$percent};
            margin-left: #{$percent};
        }
    }
}

// MARGIN TOP-BOTTOM-RIGHT (REM)
.mar-trb--,
.mar-tbr--,
.mar-brt--,
.mar-btr--,
.mar-rtb--,
.mar-rbt--,
.m-trb--,
.m-tbr--,
.m-brt--,
.m-btr--,
.m-rtb--,
.m-rbt-- {
    @for $i from 0 through 300 {
        $class: if($i < 10, '0#{$i}', '#{$i}');
        $percent: if($i < 10, '$rem0#{$i}', '$rem#{$i}');
        &#{$class} {
            margin-top: #{$percent};
            margin-bottom: #{$percent};
            margin-right: #{$percent};
        }
    }
}

// MARGIN TOP-BOTTOM-LEFT (REM)
.mar-tlb--,
.mar-tbl--,
.mar-blt--,
.mar-btl--,
.mar-ltb--,
.mar-lbt--,
.m-tlb--,
.m-tbl--,
.m-blt--,
.m-btl--,
.m-ltb--,
.m-lbt-- {
    @for $i from 0 through 300 {
        $class: if($i < 10, '0#{$i}', '#{$i}');
        $percent: if($i < 10, '$rem0#{$i}', '$rem#{$i}');
        &#{$class} {
            margin-top: #{$percent};
            margin-bottom: #{$percent};
            margin-left: #{$percent};
        }
    }
}

// MARGIN LEFT-RIGHT-TOP (REM)
.mar-trl--,
.mar-tlr--,
.mar-lrt--,
.mar-ltr--,
.mar-rtl--,
.mar-rlt--,
.m-trl--,
.m-tlr--,
.m-lrt--,
.m-ltr--,
.m-rtl--,
.m-rlt-- {
    @for $i from 0 through 300 {
        $class: if($i < 10, '0#{$i}', '#{$i}');
        $percent: if($i < 10, '$rem0#{$i}', '$rem#{$i}');
        &#{$class} {
            margin-left: #{$percent};
            margin-right: #{$percent};
            margin-top: #{$percent};
        }
    }
}

// MARGIN LEFT-RIGHT-BOTTOM (REM)
.mar-brl--,
.mar-blr--,
.mar-lrb--,
.mar-lbr--,
.mar-rbl--,
.mar-rlb--,
.m-brl--,
.m-blr--,
.m-lrb--,
.m-lbr--,
.m-rbl--,
.m-rlb-- {
    @for $i from 0 through 300 {
        $class: if($i < 10, '0#{$i}', '#{$i}');
        $percent: if($i < 10, '$rem0#{$i}', '$rem#{$i}');
        &#{$class} {
            margin-left: #{$percent};
            margin-right: #{$percent};
            margin-bottom: #{$percent};
        }
    }
}

// MARGIN ALL (REM)
.mar--,
.m-- {
    @for $i from 0 through 300 {
        $class: if($i < 10, '0#{$i}', '#{$i}');
        $percent: if($i < 10, '$rem0#{$i}', '$rem#{$i}');
        &#{$class} {
            margin: #{$percent};
        }
    }
}
