

// SCROLLBAR TEMPLATE - 1

.scroll-bar::-webkit-scrollbar {
    width: 0.4rem;
}

.scroll-bar::-webkit-scrollbar-track {
    background: #e2e2e2;
}

.scroll-bar::-webkit-scrollbar-thumb {
    background: #9c8787;
    border-radius: 1rem;
}

.scroll-bar::-webkit-scrollbar-thumb:hover {
    background: #806e6e;
}