// SCALE


.scale- {
    @for $i from 0 through 2 {
        @for $j from 0 through 9 {
            $scale: $i + calc($j / 10);
            &#{$i}#{$j} {
                transform: scale(#{$scale});
            }
        }
    }
}




.rotate- {
    @for $i from 0 through 360 {
        &#{$i} {
            transform: rotate(#{$i}deg);
        }
    }
}