.combo-box {
  position: relative;
  height: max-content;

  .combo-input {
    width: 100%;
    font-size: 0.95rem;
    color: #3e3e3e;
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;

    &::placeholder {
      color: #363636;
    }
  }

  .chevron-icon {
    display: flex;
    align-items: center;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: transform 0.3s ease;

    &.open {
      transform: translateY(-50%) rotate(180deg);
    }

    & img {
      width: 0.8rem;
      aspect-ratio: 1;
      transition: transform 0.3s ease;
    }
  }

  .combo-options {
    display: none;
    position: absolute;
    top: 40px;
    width: 100%;
    max-height: 10rem; // Set max height for scrolling
    overflow-y: auto; // Enable vertical scrolling
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 0 4px 8px #00000033;
    z-index: 10;
    list-style-type: none;
    padding: 0;
    margin: 0;
    scrollbar-width: thin;
    scrollbar-color: #c7c7c7 #f1f1f1;

    & .combo-option {
      padding-left: 1rem;
      padding-top: 0.3rem;
      padding-bottom: 0.3rem;
      color: #363636;
      font-size: 1.05rem;
      cursor: pointer;

      &:hover {
        color: #fff;
        background-color: #1967d2;
      }
    }
    & .no-data {
      padding: 0.7rem;
    }

    /* Webkit Browsers (Chrome, Edge, Safari) */
    &::-webkit-scrollbar {
      width: 8px;
      height: 8px;
    }

    &::-webkit-scrollbar-track {
      background-color: #f1f1f1;
      border-radius: 4px;
    }

    /* Edge/Other Modern Browsers */
    &::-ms-scrollbar {
      width: 8px;
      color: #888;
    }
  }
}
