@use "../variables-Fectory/rem-vars" as *;

.option {
  position: relative;
  width: 100%;
  height: 2.2rem;

  & select {
    display: block;
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    color: #333;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    appearance: none;
    outline: none;
    cursor: pointer;

    &:hover {
      border: 1px solid #ccc;
    }

    &:focus {
      outline: none;
      box-shadow: #d2e2fb 0px 0px 0px 2px;
    }

    & option {
      font-size: 1rem;
      cursor: pointer;
    }
  }

  &::after {
    content: "";
    position: absolute;
    right: 0.6rem;
    top: 50%;
    transform: translateY(-50%);
    width: 0.9rem;
    aspect-ratio: 1;
    background: url(https://surajit-singha-sisir.github.io/mastorsCDN/Resources/svg/chevron.svg)
      no-repeat center;
    background-size: contain;
    z-index: 2;
    transition: all 0.2s ease;
  }
}
