@use "../roots/root-default" as *;

// BORDER LEFT
.b-l {
  border-left: 1px solid;
}
.b-l-,
.b-l-- {
  @for $i from 0 through 5 {
    &#{$i} {
      border-left: #{$i}px solid;
    }
  }
}

// BORDER TOP
.b-t {
  border-top: 1px solid;
}
.b-t-,
.b-t-- {
  @for $i from 0 through 5 {
    &#{$i} {
      border-top: #{$i}px solid;
    }
  }
}

// BORDER RIGHT
.b-r {
  border-right: 1px solid;
}
.b-r-,
.b-r-- {
  @for $i from 0 through 5 {
    &#{$i} {
      border-right: #{$i}px solid;
    }
  }
}

// BORDER BOTTOM
.b-b {
  border-bottom: 1px solid;
}
.b-b-,
.b-b-- {
  @for $i from 0 through 5 {
    &#{$i} {
      border-bottom: #{$i}px solid;
    }
  }
}

// BORDER ALL
.border,
.border-all,
.b-all {
  border: 1px solid;
}
.b-,
.b-- {
  @for $i from 0 through 5 {
    &#{$i} {
      border: #{$i}px solid;
    }
  }
}

// BORDER LEFT - RIGHT
.b-lr,
.b-rl {
  border-left: 1px solid;
  border-right: 1px solid;
}
.b-lr-,
.b-lr--,
.b-rl-,
.b-rl-- {
  @for $i from 0 through 5 {
    &#{$i} {
      border-left: #{$i}px solid;
      border-right: #{$i}px solid;
    }
  }
}

// BORDER TOP - BOTTOM
.b-tb,
.b-bt {
  border-top: 1px solid;
  border-bottom: 1px solid;
}
.b-tb-,
.b-tb--,
.b-bt-,
.b-bt-- {
  @for $i from 0 through 5 {
    &#{$i} {
      border-top: #{$i}px solid;
      border-bottom: #{$i}px solid;
    }
  }
}

// BORDER LEFT - TOP
.b-lt,
.b-tl {
  border-left: 1px solid;
  border-top: 1px solid;
}
.b-lt-,
.b-lt--,
.b-tl-,
.b-tl-- {
  @for $i from 0 through 5 {
    &#{$i} {
      border-left: #{$i}px solid;
      border-top: #{$i}px solid;
    }
  }
}

// BORDER RIGHT - TOP
.b-rt,
.b-tr {
  border-right: 1px solid;
  border-top: 1px solid;
}
.b-rt-,
.b-rt--,
.b-tr-,
.b-tr-- {
  @for $i from 0 through 5 {
    &#{$i} {
      border-right: #{$i}px solid;
      border-top: #{$i}px solid;
    }
  }
}

// BORDER RIGHT - BOTTOM
.b-rt,
.b-tr {
  border-right: 1px solid;
  border-bottom: 1px solid;
}
.b-rt-,
.b-rt--,
.b-tr-,
.b-tr-- {
  @for $i from 0 through 5 {
    &#{$i} {
      border-right: #{$i}px solid;
      border-bottom: #{$i}px solid;
    }
  }
}

// BORDER LEFT - TOP - RIGHT
.b-ltr,
.b-lrt,
.b-tlr,
.b-trl,
.b-rlt,
.b-rtl {
  border-left: 1px solid;
  border-top: 1px solid;
  border-right: 1px solid;
}
.b-ltr-,
.b-lrt-,
.b-tlr-,
.b-trl-,
.b-rlt-,
.b-rtl-,
.b-ltr--,
.b-lrt--,
.b-tlr--,
.b-trl--,
.b-rlt--,
.b-rtl-- {
  @for $i from 0 through 5 {
    &#{$i} {
      border-left: #{$i}px solid;
      border-top: #{$i}px solid;
      border-right: #{$i}px solid;
    }
  }
}

// BORDER TOP - RIGHT - BOTTOM
.b-btr,
.b-brt,
.b-tbr,
.b-trb,
.b-rbt,
.b-rtb {
  border-top: 1px solid;
  border-right: 1px solid;
  border-bottom: 1px solid;
}
.b-btr-,
.b-brt-,
.b-tbr-,
.b-trb-,
.b-rbt-,
.b-rtb-,
.b-btr--,
.b-brt--,
.b-tbr--,
.b-trb--,
.b-rbt--,
.b-rtb-- {
  @for $i from 0 through 5 {
    &#{$i} {
      border-top: #{$i}px solid;
      border-right: #{$i}px solid;
      border-bottom: #{$i}px solid;
    }
  }
}

// BORDER TOP - LEFT - BOTTOM
.b-btl,
.b-blt,
.b-tbl,
.b-tlb,
.b-lbt,
.b-ltb {
  border-top: 1px solid;
  border-right: 1px solid;
  border-bottom: 1px solid;
}
.b-btl-,
.b-blt-,
.b-tbl-,
.b-tlb-,
.b-lbt-,
.b-ltb-,
.b-btl--,
.b-blt--,
.b-tbl--,
.b-tlb--,
.b-lbt--,
.b-ltb-- {
  @for $i from 0 through 5 {
    &#{$i} {
      border-top: #{$i}px solid;
      border-right: #{$i}px solid;
      border-bottom: #{$i}px solid;
    }
  }
}







// BORDER COLORS
.b- {
  &White { border-color: #fff; }
  &Black { border-color: #000; }
  &Gray { border-color: #ccc; }
  &Silver { border-color: #ddd; }
  &Gold { border-color: #ffd700; }
  &Maroon { border-color: #800000; }
  &Red { border-color: #ff0000; }
  &Orange { border-color: #ff6347; }
  &Yellow { border-color: #ffff00; }
  &Green { border-color: #008000; }
  &Blue { border-color: #0000ff; }
  &Indigo { border-color: #4b0082; }
  &Violet { border-color: #ee82ee; }
  &Purple { border-color: #800080; }
  &Pink { border-color: #ffc0cb; }
  &Brown { border-color: #a52a2a; }
  &Cyan { border-color: #00ffff; }
  &Magenta { border-color: #ff00ff; }
  &Teal { border-color: #008080; }
  &Lime { border-color: #00ff00; }
  &Olive { border-color: #808000; }
  &Navy { border-color: #000080; }
  &Coral { border-color: #ff7f50; }
  &Beige { border-color: #f5f5dc; }
  &Mint { border-color: #98ff98; }
  &Lavender { border-color: #e6e6fa; }
  &Turquoise { border-color: #40e0d0; }
  &Khaki { border-color: #f0e68c; }
  &Chocolate { border-color: #d2691e; }
  &Salmon { border-color: #fa8072; }
  &Crimson { border-color: #dc143c; }
  &Plum { border-color: #dda0dd; }
  &Orchid { border-color: #da70d6; }
  &Honeydew { border-color: #f0fff0; }
  &Aquamarine { border-color: #7fffd4; }
  &Chartreuse { border-color: #7fff00; }
  &Ivory { border-color: #fffff0; }
  &Tan { border-color: #d2b48c; }
  &Sienna { border-color: #a0522d; }
  &SeaGreen { border-color: #2e8b57; }
  &DarkRed { border-color: #8b0000; }
  &DarkGreen { border-color: #006400; }
  &DarkBlue { border-color: #00008b; }
  &DarkOrange { border-color: #ff8c00; }
  &DarkCyan { border-color: #008b8b; }
  &DarkMagenta { border-color: #8b008b; }
  &DarkViolet { border-color: #9400d3; }
  &Peach { border-color: #ffdab9; }
  &Lemon { border-color: #fff44f; }
  &SkyBlue { border-color: #87ceeb; }
  &LightBlue { border-color: #add8e6; }
  &LightCoral { border-color: #f08080; }
  &LightGray { border-color: #d3d3d3; }
  &LightPink { border-color: #ffb6c1; }
  &LightGreen { border-color: #90ee90; }
  &LightYellow { border-color: #ffffe0; }
  &LightCyan { border-color: #e0ffff; }
  &LightGoldenrodYellow { border-color: #fafad2; }
  &PaleGoldenrod { border-color: #eee8aa; }
  &PaleGreen { border-color: #98fb98; }
  &PaleTurquoise { border-color: #afeeee; }
  &PaleVioletRed { border-color: #db7093; }
  &Thistle { border-color: #d8bfd8; }
  &Tomato { border-color: #ff6347; }
  &SlateBlue { border-color: #6a5acd; }
  &SlateGray { border-color: #708090; }
  &SteelBlue { border-color: #4682b4; }
  &RosyBrown { border-color: #bc8f8f; }
  &SandyBrown { border-color: #f4a460; }
  &Goldenrod { border-color: #daa520; }
  &PowderBlue { border-color: #b0e0e6; }
  &RebeccaPurple { border-color: #663399; }
  &Seashell { border-color: #fff5ee; }
  &Snow { border-color: #fffafa; }
  &Wheat { border-color: #f5deb3; }
  &Moccasin { border-color: #ffe4b5; }
  &DodgerBlue { border-color: #1e90ff; }
  &DeepSkyBlue { border-color: #00bfff; }
  &RoyalBlue { border-color: #4169e1; }
  &ForestGreen { border-color: #228b22; }
  &SpringGreen { border-color: #00ff7f; }
  &MediumSeaGreen { border-color: #3cb371; }
  &MediumPurple { border-color: #9370db; }
  &MediumOrchid { border-color: #ba55d3; }
  &MediumTurquoise { border-color: #48d1cc; }
  &MediumSlateBlue { border-color: #7b68ee; }
  &FireBrick { border-color: #b22222; }
  &DeepPink { border-color: #ff1493; }
  &HotPink { border-color: #ff69b4; }
  &LawnGreen { border-color: #7cfc00; }
  &Linen { border-color: #faf0e6; }
  &OldLace { border-color: #fdf5e6; }
  &PapayaWhip { border-color: #ffefd5; }
  &AntiqueWhite { border-color: #faebd7; }
  &Azure { border-color: #f0ffff; }
  &Bisque { border-color: #ffe4c4; }
  &DarkKhaki { border-color: #bdb76b; }
  &DarkOliveGreen { border-color: #556b2f; }
  &DarkSlateBlue { border-color: #483d8b; }
  &DarkSlateGray { border-color: #2f4f4f; }
}
