@use "../variables-Fectory/rem-vars" as *;

/* ----------------------------------------------------------------
DISPLAY CLASSES
----------------------------------------------------------------
*/

.g,
.grid {
    display: grid;
}
.gridRow{
    grid-auto-flow: row;
}
.gridRowReverse{
    grid-auto-flow: row-reverse;
}

.gridColumn{
    grid-auto-flow: column;
}

.gridColumnReverse{
    grid-auto-flow: column-reverse;
}