@use "../Media-query/mediaqueries" as *;


.g-res-container,
.grid-res-container {
    display: grid;
    max-width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
    grid-gap: 1rem;
    gap: 1rem;

    & [class ^="column"] {
        grid-column: span 1;
    }

    & [class *="span-1"] {
        grid-column: span 1;
    }

    & [class *="span-2"] {
        grid-column: span 2;
    }

    & [class *="span-3"] {
        grid-column: span 3;
    }

    & [class *="span-4"] {
        grid-column: span 4;
    }

    & [class *="span-5"] {
        grid-column: span 5;
    }

    & [class *="span-6"] {
        grid-column: span 6;
    }

    @include tablet {
        & [class *="span-"] {
            grid-column: span 1;
        }
    }
}