@use "../Media-query/mediaqueries" as *;

$grids: (
    ('.g-res-container', '.grid-res-container', "repeat(auto-fill, minmax(200px, 1fr))"),
    ('.g-res-2-col-container', '.grid-res-2-col-container', "repeat(2, 1fr)"),
    ('.g-res-3-col-container', '.grid-res-3-col-container', "repeat(3, 1fr)"),
    ('.g-res-4-col-container', '.grid-res-4-col-container', "repeat(4, 1fr)"),
    ('.g-res-5-col-container', '.grid-res-5-col-container', "repeat(5, 1fr)"),
    ('.g-res-6-col-container', '.grid-res-6-col-container', "repeat(6, 1fr)"),
    ('.g-res-7-col-container', '.grid-res-7-col-container', "repeat(7, 1fr)"),
    ('.g-res-8-col-container', '.grid-res-8-col-container', "repeat(8, 1fr)"),
    ('.g-res-9-col-container', '.grid-res-9-col-container', "repeat(9, 1fr)"),
    ('.g-res-10-col-container', '.grid-res-10-col-container', "repeat(10, 1fr)")
);

@each $grid in $grids {
    $grid-1: nth($grid, 1);
    $grid-2: nth($grid, 2);
    $varient: nth($grid, 3);

    #{$grid-1},
    #{$grid-2} {
        display: grid;
        width: 100%;
        grid-template-columns: #{$varient};
        grid-template-rows: auto;

        & [class^="column"] {
            grid-column: span 1;
        }

        & [class*="span-1"] {
            grid-column: span 1;
        }

        & [class*="span-2"] {
            grid-column: span 2;
        }

        & [class*="span-3"] {
            grid-column: span 3;
        }

        & [class*="span-4"] {
            grid-column: span 4;
        }

        & [class*="span-5"] {
            grid-column: span 5;
        }

        & [class*="span-6"] {
            grid-column: span 6;
        }

        & [class*="span-7"] {
            grid-column: span 7;
        }

        & [class*="span-8"] {
            grid-column: span 8;
        }

        & [class*="span-9"] {
            grid-column: span 9;
        }

        & [class*="span-10"] {
            grid-column: span 10;
        }
    }


    @include tablet {
        #{$grid-1},
        #{$grid-2} {
            grid-template-columns: 1fr !important;
        }
    }

    @include mobile-l {
        #{$grid-1},
        #{$grid-2} {
            grid-template-columns: 1fr !important;
        }
    }

    @include mobile-m {
        #{$grid-1},
        #{$grid-2} {
            grid-template-columns: 1fr !important;
        }
    }

    @include mobile-s {
        #{$grid-1},
        #{$grid-2} {
            grid-template-columns: 1fr !important;
        }
    }
}