/* PROJECT GALLERY START */
.projectGallery {
    position: relative;
    width: 100%;
    height: 1000px;
    padding: 5rem 0;
    color: white;
    
    .ohp-InnerBlock {
        position: relative;
        width: 100%;
        height: 500px;
        display: flex;
        flex-direction: column;
    }
    .ohp-InnerBlock h2 {
        color: white;
        padding: 2rem;
    }
    .ohp-InnerBlock .background {
        position: absolute;
        width: 100%;
        height: max-content;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: all 0.3 ease;
    }
    .ohp-InnerBlock .background .ohp-backgroundLight {
        width: 100%;
        height: auto;
        aspect-ratio: 8/3;
    }
    .ohp-InnerBlock .background > div img {
        width: 100%;
        height: auto;
        aspect-ratio: 1;
    }

    .ohp-InnerBlock .background > div {
        position: absolute;
        aspect-ratio: 1;
        border-radius: 20px;
        left: 50%;
        top: 60%;
        transform: translate(-50%, -50%);
    }

    .relativeWidth20 {
        width: 20vw;
        height: 20vw;
    }

    .relativeWidth15 {
        width: 15vw;
        height: 15vw;
    }

    .relativeWidth10 {
        width: 10vw;
        height: 10vw;
    }
    .ohp-InnerBlock .background > div img {
        width: 100%;
        height: auto;
        border-radius: 20px;
        aspect-ratio: 1;
    }
    .ohp-InnerBlock .background .gal-1 {
        left: 25%;
        /* VARIABLE */
        top: 60%;
        transform: translate(-50%, -50%);
        box-shadow: 5px 12px 10px #00000070;
        z-index: 1;
    }
    .ohp-InnerBlock .background .gal-2 {
        left: 35%;
        /* VARIABLE */
        top: 60%;
        transform: translate(-50%, -50%);
        box-shadow: 5px 15px 14px #00000070;
        z-index: 1;
    }
    .ohp-InnerBlock .background .gal-3 {
        left: 50%;
        /* VARIABLE */
        top: 60%;
        transform: translate(-50%, -50%);
        box-shadow: 5px 12px 16px #00000070;
        z-index: 3;
    }
    .ohp-InnerBlock .background .gal-4 {
        left: 65%;
        /* VARIABLE */
        top: 60%;
        transform: translate(-50%, -50%);
        box-shadow: 5px 15px 14px #00000070;
        z-index: 2;
    }
    .ohp-InnerBlock .background .gal-5 {
        left: 75%;
        /* VARIABLE */
        top: 60%;
        transform: translate(-50%, -50%);
        box-shadow: 5px 12px 10px #00000070;
        z-index: 1;
    }
    .ohp-InnerBlock .background .light {
        position: absolute;
        width: inherit;
        height: 400px;
    }
    .ohp-InnerBlock .background .light > img:first-child {
        position: absolute;
        width: auto;
        top: 0;
        height: 100% !important;
        z-index: 5;
    }
}
/* PROJECT GALLERY END */
