@use "../variables-Fectory/rem-vars" as *;

// IMAGE MANIPULATION CSS
.res-logo {
	position: relative;
	width: auto;
	height: 2rem;
	aspect-ratio: 1;

	img {
		height: inherit;
		width: inherit;
		aspect-ratio: 1;
	}
}

.img- {
	&i {
		width: inherit;
		height: inherit;
	}

	&w-i {
		width: inherit;
	}

	&h-i {
		height: inherit;
	}
}

/* ----------------------------------------------------------------
IMAGE (Unit-%) IN PERCENTAGE
----------------------------------------------------------------
*/


.img- {
	// RESPONSIVE IMAGE
	&h-auto {
		height: auto;
	}

	&w-auto {
		width: auto;
	}

	&auto {
		width: auto;
		height: auto;
	}

	&h-res {
		width: auto;
		height: 100%;
	}

	&w-res {
		width: 100%;
		height: auto;
	}

	&h-inherit {
		height: inherit;
	}

	&w-inherit {
		width: inherit;
	}

	&inherit {
		width: inherit;
		height: inherit;
	}

	&w- {
		width: 100vw;
	}

	&h- {
		height: 100vw;
	}

	&w- {
		width: 100vh;
	}

	&h- {
		height: 100vh;
	}
}