.bg-hov- {
  &Black,
  &Bla,
  &Blk,
  &Kalo,
  &000000,
  &পেছন-কালো {
    &:hover {
      background-color: #000000;
    }
  }

  &White,
  &Whi,
  &Wht,
  &Sada,
  &ffffff,
  &পেছন-সাদা {
    &:hover {
      background-color: #ffffff;
    }
  }

  &Red,
  &Re,
  &Rd,
  &Lal,
  &ff0000,
  &পেছন-লাল {
    &:hover {
      background-color: #ff0000;
    }
  }

  &Green,
  &Gre,
  &Grn,
  &Sobuj,
  &00ff00,
  &পেছন-সবুজ {
    &:hover {
      background-color: #00ff00;
    }
  }

  &Blue,
  &Blu,
  &Ble,
  &Nil,
  &0000ff,
  &পেছন-নীল {
    &:hover {
      background-color: #0000ff;
    }
  }

  &Yellow,
  &Yel,
  &Ylw,
  &Holud,
  &ffff00,
  &পেছন-হলুদ {
    &:hover {
      background-color: #ffff00;
    }
  }

  &Purple,
  &Pur,
  &Prp,
  &Jam,
  &800080,
  &পেছন-জামুন {
    &:hover {
      background-color: #800080;
    }
  }

  &Cyan,
  &Cya,
  &Cyn,
  &Firoz,
  &00ffff,
  &পেছন-ফিরোজা {
    &:hover {
      background-color: #00ffff;
    }
  }

  &Gray,
  &Gra,
  &Gry,
  &Surma,
  &808080,
  &পেছন-ধূসর {
    &:hover {
      background-color: #808080;
    }
  }

  &Silver,
  &Sil,
  &Slv,
  &Chandi,
  &c0c0c0,
  &পেছন-রুপা {
    &:hover {
      background-color: #c0c0c0;
    }
  }

  &Maroon,
  &Mar,
  &Mrn,
  &Gorom,
  &800000,
  &পেছন-গাঢ়-লাল {
    &:hover {
      background-color: #800000;
    }
  }

  &Olive,
  &Oli,
  &Olv,
  &808000,
  &পেছন-অলিভ {
    &:hover {
      background-color: #808000;
    }
  }

  &Teal,
  &Tea,
  &Tel,
  &Nilgiri,
  &008080,
  &পেছন-নীল-সবুজ {
    &:hover {
      background-color: #008080;
    }
  }

  &Navy,
  &Nav,
  &Nvy,
  &Nabi,
  &000080,
  &পেছন-নেভি {
    &:hover {
      background-color: #000080;
    }
  }

  &Fuchsia,
  &Fuc,
  &Fsh,
  &Gorib,
  &ff00ff,
  &পেছন-ফুসিয়া {
    &:hover {
      background-color: #ff00ff;
    }
  }

  &Pink,
  &Pin,
  &Pnk,
  &Gulabi,
  &ffc0cb,
  &পেছন-গোলাপি {
    &:hover {
      background-color: #ffc0cb;
    }
  }

  &YellowGreen,
  &YelGre,
  &YGr,
  &HoludSobuji,
  &9acd32,
  &পেছন-হলুদ-সবুজ {
    &:hover {
      background-color: #9acd32;
    }
  }

  &OliveDrab,
  &OliDra,
  &ODb,
  &6b8e23,
  &পেছন-অলিভ-ড্র্যাব {
    &:hover {
      background-color: #6b8e23;
    }
  }

  &GreenYellow,
  &GreYel,
  &GYl,
  &adff2f,
  &পেছন-সবুজ-হলুদ {
    &:hover {
      background-color: #adff2f;
    }
  }

  &LimeGreen,
  &LimGre,
  &LGr,
  &Paal,
  &32cd32,
  &পেছন-লেবুর-সবুজ {
    &:hover {
      background-color: #32cd32;
    }
  }

  &PaleGreen,
  &PalGre,
  &PGr,
  &98fb98,
  &পেছন-ফিকে-সবুজ {
    &:hover {
      background-color: #98fb98;
    }
  }

  &DarkSeaGreen,
  &DarSeaGre,
  &DGr,
  &GaroSomudroSobuj,
  &8fbc8f,
  &পেছন-গাঢ়-সাগর-সবুজ {
    &:hover {
      background-color: #8fbc8f;
    }
  }

  &MediumSeaGreen,
  &MedSeaGre,
  &MGr,
  &3cb371,
  &পেছন-মাঝারি-সাগর-সবুজ {
    &:hover {
      background-color: #3cb371;
    }
  }

  &SeaGreen,
  &SeaGre,
  &SGr,
  &Samudrik,
  &2e8b57,
  &পেছন-সাগর-সবুজ {
    &:hover {
      background-color: #2e8b57;
    }
  }

  &ForestGreen,
  &ForGre,
  &FGr,
  &Jungle,
  &228b22,
  &পেছন-জঙ্গল-সবুজ {
    &:hover {
      background-color: #228b22;
    }
  }

  &LightGray,
  &LigGra,
  &LGr,
  &Halka,
  &d3d3d3,
  &পেছন-হালকা-ধূসর {
    &:hover {
      background-color: #d3d3d3;
    }
  }

  &LightCoral,
  &LigCor,
  &LCo,
  &Halka2,
  &f08080,
  &পেছন-হালকা-করাল {
    &:hover {
      background-color: #f08080;
    }
  }

  &LightSalmon,
  &LigSal,
  &LSa,
  &Ranga,
  &ffa07a,
  &পেছন-হালকা-সালমনের {
    &:hover {
      background-color: #ffa07a;
    }
  }

  &LightPink,
  &LigPin,
  &LPn,
  &Gulabi,
  &ffb6c1,
  &পেছন-হালকা-গোলাপি {
    &:hover {
      background-color: #ffb6c1;
    }
  }

  &LightGoldenRodYellow,
  &LigRodYel,
  &LGY,
  &Gora,
  &fafad2,
  &পেছন-হালকা-স্বর্ণ-হলুদ {
    &:hover {
      background-color: #fafad2;
    }
  }

  &LightSteelBlue,
  &LigSteBlu,
  &LSB,
  &b0c4de,
  &পেছন-হালকা-স্টীল-নীল {
    &:hover {
      background-color: #b0c4de;
    }
  }

  &LightSkyBlue,
  &LigSkyBlu,
  &LSk,
  &Aasman,
  &87cefa,
  &পেছন-হালকা-আকাশ-নীল {
    &:hover {
      background-color: #87cefa;
    }
  }

  &Lavender,
  &Lav,
  &Bangla,
  &e6e6fa,
  &পেছন-ল্যাভেন্ডার {
    &:hover {
      background-color: #e6e6fa;
    }
  }

  &MistyRose,
  &MisRos,
  &MRo,
  &Gulabi,
  &ffe4e1,
  &পেছন-ঝাপসা-গোলাপি {
    &:hover {
      background-color: #ffe4e1;
    }
  }

  &NavajoWhite,
  &NavWhi,
  &NWh,
  &Poori,
  &ffdead,
  &পেছন-নাভাজো-সাদা {
    &:hover {
      background-color: #ffdead;
    }
  }

  &Wheat,
  &Whe,
  &Ghee,
  &f5deb3,
  &পেছন-গম {
    &:hover {
      background-color: #f5deb3;
    }
  }

  &AntiqueWhite,
  &AntWhi,
  &AWh,
  &Paakhi,
  &faebd7,
  &পেছন-প্রাচীন-সাদা {
    &:hover {
      background-color: #faebd7;
    }
  }

  &Cornsilk,
  &Cor,
  &Maach,
  &fff8dc,
  &পেছন-ভুট্টার-শুকনো {
    &:hover {
      background-color: #fff8dc;
    }
  }

  &Khaki,
  &Kha,
  &f0e68c,
  &পেছন-খাকি {
    &:hover {
      background-color: #f0e68c;
    }
  }

  &Beige,
  &Bei,
  &f5f5dc,
  &পেছন-বেজ {
    &:hover {
      background-color: #f5f5dc;
    }
  }

  &PapayaWhip,
  &PapWhi,
  &PWh,
  &Papaya,
  &ffefd5,
  &পেছন-পেঁপে-উইপ {
    &:hover {
      background-color: #ffefd5;
    }
  }
}
