@use "../roots/root-default" as *;

// BORDER LEFT
.b-hov-l:hover {
  border-left: 1px solid;
}
.b-hov-l-,
.b-hov-l-- {
  @for $i from 0 through 5 {
    &#{$i}:hover {
      border-left: #{$i}px solid;
    }
  }
}

// BORDER TOP
.b-hov-t:hover {
  border-top: 1px solid;
}
.b-hov-t-,
.b-hov-t-- {
  @for $i from 0 through 5 {
    &#{$i}:hover {
      border-top: #{$i}px solid;
    }
  }
}

// BORDER RIGHT
.b-hov-r:hover {
  border-right: 1px solid;
}
.b-hov-r-,
.b-hov-r-- {
  @for $i from 0 through 5 {
    &#{$i}:hover {
      border-right: #{$i}px solid;
    }
  }
}

// BORDER BOTTOM
.b-hov-b:hover {
  border-bottom: 1px solid;
}
.b-hov-b-,
.b-hov-b-- {
  @for $i from 0 through 5 {
    &#{$i}:hover {
      border-bottom: #{$i}px solid;
    }
  }
}

// BORDER ALL
.border-hov:hover,
.border-hov-all:hover,
.b-hov-all:hover {
  border: 1px solid;
}
.b-hov-,
.b-hov-- {
  @for $i from 0 through 5 {
    &#{$i}:hover {
      border: #{$i}px solid;
    }
  }
}

// BORDER LEFT - RIGHT
.b-hov-lr:hover,
.b-hov-rl:hover {
  border-left: 1px solid;
  border-right: 1px solid;
}
.b-hov-lr-,
.b-hov-lr--,
.b-hov-rl-,
.b-hov-rl-- {
  @for $i from 0 through 5 {
    &#{$i}:hover {
      border-left: #{$i}px solid;
      border-right: #{$i}px solid;
    }
  }
}

// BORDER TOP - BOTTOM
.b-hov-tb:hover,
.b-hov-bt:hover {
  border-top: 1px solid;
  border-bottom: 1px solid;
}
.b-hov-tb-,
.b-hov-tb--,
.b-hov-bt-,
.b-hov-bt-- {
  @for $i from 0 through 5 {
    &#{$i}:hover {
      border-top: #{$i}px solid;
      border-bottom: #{$i}px solid;
    }
  }
}

// BORDER LEFT - TOP
.b-hov-lt:hover,
.b-hov-tl:hover {
  border-left: 1px solid;
  border-top: 1px solid;
}
.b-hov-lt-,
.b-hov-lt--,
.b-hov-tl-,
.b-hov-tl-- {
  @for $i from 0 through 5 {
    &#{$i}:hover {
      border-left: #{$i}px solid;
      border-top: #{$i}px solid;
    }
  }
}

// BORDER RIGHT - TOP
.b-hov-rt:hover,
.b-hov-tr:hover {
  border-right: 1px solid;
  border-top: 1px solid;
}
.b-hov-rt-,
.b-hov-rt--,
.b-hov-tr-,
.b-hov-tr-- {
  @for $i from 0 through 5 {
    &#{$i}:hover {
      border-right: #{$i}px solid;
      border-top: #{$i}px solid;
    }
  }
}

// BORDER RIGHT - BOTTOM
.b-hov-rt:hover,
.b-hov-tr:hover {
  border-right: 1px solid;
  border-bottom: 1px solid;
}
.b-hov-rt-,
.b-hov-rt--,
.b-hov-tr-,
.b-hov-tr-- {
  @for $i from 0 through 5 {
    &#{$i}:hover {
      border-right: #{$i}px solid;
      border-bottom: #{$i}px solid;
    }
  }
}

// BORDER LEFT - TOP - RIGHT
.b-hov-ltr:hover,
.b-hov-lrt:hover,
.b-hov-tlr:hover,
.b-hov-trl:hover,
.b-hov-rlt:hover,
.b-hov-rtl:hover {
  border-left: 1px solid;
  border-top: 1px solid;
  border-right: 1px solid;
}
.b-hov-ltr-,
.b-hov-lrt-,
.b-hov-tlr-,
.b-hov-trl-,
.b-hov-rlt-,
.b-hov-rtl-,
.b-hov-ltr--,
.b-hov-lrt--,
.b-hov-tlr--,
.b-hov-trl--,
.b-hov-rlt--,
.b-hov-rtl-- {
  @for $i from 0 through 5 {
    &#{$i}:hover {
      border-left: #{$i}px solid;
      border-top: #{$i}px solid;
      border-right: #{$i}px solid;
    }
  }
}

// BORDER TOP - RIGHT - BOTTOM
.b-hov-btr:hover,
.b-hov-brt:hover,
.b-hov-tbr:hover,
.b-hov-trb:hover,
.b-hov-rbt:hover,
.b-hov-rtb {
  border-top: 1px solid;
  border-right: 1px solid;
  border-bottom: 1px solid;
}
.b-hov-btr-,
.b-hov-brt-,
.b-hov-tbr-,
.b-hov-trb-,
.b-hov-rbt-,
.b-hov-rtb-,
.b-hov-btr--,
.b-hov-brt--,
.b-hov-tbr--,
.b-hov-trb--,
.b-hov-rbt--,
.b-hov-rtb-- {
  @for $i from 0 through 5 {
    &#{$i}:hover {
      border-top: #{$i}px solid;
      border-right: #{$i}px solid;
      border-bottom: #{$i}px solid;
    }
  }
}

// BORDER TOP - LEFT - BOTTOM
.b-hov-btl:hover,
.b-hov-blt:hover,
.b-hov-tbl:hover,
.b-hov-tlb:hover,
.b-hov-lbt:hover,
.b-hov-ltb {
  border-top: 1px solid;
  border-right: 1px solid;
  border-bottom: 1px solid;
}
.b-hov-btl-,
.b-hov-blt-,
.b-hov-tbl-,
.b-hov-tlb-,
.b-hov-lbt-,
.b-hov-ltb-,
.b-hov-btl--,
.b-hov-blt--,
.b-hov-tbl--,
.b-hov-tlb--,
.b-hov-lbt--,
.b-hov-ltb-- {
  @for $i from 0 through 5 {
    &#{$i}:hover {
      border-top: #{$i}px solid;
      border-right: #{$i}px solid;
      border-bottom: #{$i}px solid;
    }
  }
}







// BORDER COLORS
.b-hov- {
  &White:hover { border-color: #fff; }
  &Black:hover { border-color: #000; }
  &Gray:hover { border-color: #ccc; }
  &Silver:hover { border-color: #ddd; }
  &Gold:hover { border-color: #ffd700; }
  &Maroon:hover { border-color: #800000; }
  &Red:hover { border-color: #ff0000; }
  &Orange:hover { border-color: #ff6347; }
  &Yellow:hover { border-color: #ffff00; }
  &Green:hover { border-color: #008000; }
  &Blue:hover { border-color: #0000ff; }
  &Indigo:hover { border-color: #4b0082; }
  &Violet:hover { border-color: #ee82ee; }
  &Purple:hover { border-color: #800080; }
  &Pink:hover { border-color: #ffc0cb; }
  &Brown:hover { border-color: #a52a2a; }
  &Cyan:hover { border-color: #00ffff; }
  &Magenta:hover { border-color: #ff00ff; }
  &Teal:hover { border-color: #008080; }
  &Lime:hover { border-color: #00ff00; }
  &Olive:hover { border-color: #808000; }
  &Navy:hover { border-color: #000080; }
  &Coral:hover { border-color: #ff7f50; }
  &Beige:hover { border-color: #f5f5dc; }
  &Mint:hover { border-color: #98ff98; }
  &Lavender:hover { border-color: #e6e6fa; }
  &Turquoise:hover { border-color: #40e0d0; }
  &Khaki:hover { border-color: #f0e68c; }
  &Chocolate:hover { border-color: #d2691e; }
  &Salmon:hover { border-color: #fa8072; }
  &Crimson:hover { border-color: #dc143c; }
  &Plum:hover { border-color: #dda0dd; }
  &Orchid:hover { border-color: #da70d6; }
  &Honeydew:hover { border-color: #f0fff0; }
  &Aquamarine:hover { border-color: #7fffd4; }
  &Chartreuse:hover { border-color: #7fff00; }
  &Ivory:hover { border-color: #fffff0; }
  &Tan:hover { border-color: #d2b48c; }
  &Sienna:hover { border-color: #a0522d; }
  &SeaGreen:hover { border-color: #2e8b57; }
  &DarkRed:hover { border-color: #8b0000; }
  &DarkGreen:hover { border-color: #006400; }
  &DarkBlue:hover { border-color: #00008b; }
  &DarkOrange:hover { border-color: #ff8c00; }
  &DarkCyan:hover { border-color: #008b8b; }
  &DarkMagenta:hover { border-color: #8b008b; }
  &DarkViolet:hover { border-color: #9400d3; }
  &Peach:hover { border-color: #ffdab9; }
  &Lemon:hover { border-color: #fff44f; }
  &SkyBlue:hover { border-color: #87ceeb; }
  &LightBlue:hover { border-color: #add8e6; }
  &LightCoral:hover { border-color: #f08080; }
  &LightGray:hover { border-color: #d3d3d3; }
  &LightPink:hover { border-color: #ffb6c1; }
  &LightGreen:hover { border-color: #90ee90; }
  &LightYellow:hover { border-color: #ffffe0; }
  &LightCyan:hover { border-color: #e0ffff; }
  &LightGoldenrodYellow:hover { border-color: #fafad2; }
  &PaleGoldenrod:hover { border-color: #eee8aa; }
  &PaleGreen:hover { border-color: #98fb98; }
  &PaleTurquoise:hover { border-color: #afeeee; }
  &PaleVioletRed:hover { border-color: #db7093; }
  &Thistle:hover { border-color: #d8bfd8; }
  &Tomato:hover { border-color: #ff6347; }
  &SlateBlue:hover { border-color: #6a5acd; }
  &SlateGray:hover { border-color: #708090; }
  &SteelBlue:hover { border-color: #4682b4; }
  &RosyBrown:hover { border-color: #bc8f8f; }
  &SandyBrown:hover { border-color: #f4a460; }
  &Goldenrod:hover { border-color: #daa520; }
  &PowderBlue:hover { border-color: #b0e0e6; }
  &RebeccaPurple:hover { border-color: #663399; }
  &Seashell:hover { border-color: #fff5ee; }
  &Snow:hover { border-color: #fffafa; }
  &Wheat:hover { border-color: #f5deb3; }
  &Moccasin:hover { border-color: #ffe4b5; }
  &DodgerBlue:hover { border-color: #1e90ff; }
  &DeepSkyBlue:hover { border-color: #00bfff; }
  &RoyalBlue:hover { border-color: #4169e1; }
  &ForestGreen:hover { border-color: #228b22; }
  &SpringGreen:hover { border-color: #00ff7f; }
  &MediumSeaGreen:hover { border-color: #3cb371; }
  &MediumPurple:hover { border-color: #9370db; }
  &MediumOrchid:hover { border-color: #ba55d3; }
  &MediumTurquoise:hover { border-color: #48d1cc; }
  &MediumSlateBlue:hover { border-color: #7b68ee; }
  &FireBrick:hover { border-color: #b22222; }
  &DeepPink:hover { border-color: #ff1493; }
  &HotPink:hover { border-color: #ff69b4; }
  &LawnGreen:hover { border-color: #7cfc00; }
  &Linen:hover { border-color: #faf0e6; }
  &OldLace:hover { border-color: #fdf5e6; }
  &PapayaWhip:hover { border-color: #ffefd5; }
  &AntiqueWhite:hover { border-color: #faebd7; }
  &Azure:hover { border-color: #f0ffff; }
  &Bisque:hover { border-color: #ffe4c4; }
  &DarkKhaki:hover { border-color: #bdb76b; }
  &DarkOliveGreen:hover { border-color: #556b2f; }
  &DarkSlateBlue:hover { border-color: #483d8b; }
  &DarkSlateGray:hover { border-color: #2f4f4f; }
}
