@use "../variables-Fectory/rem-vars" as *;

.f-basis- {
&auto {
    flex-basis: auto;
}

&content {
    flex-basis: content;
}

&min-content {
    flex-basis: min-content;
}

&max-content {
    flex-basis: max-content;
}

&fit-content {
    flex-basis: fit-content;
}

&fill {
    flex-basis: fill;
}

&none {
    flex-basis: none;
}

/* FLEX GAP */
&-00{
    flex-basis: $rem00;
}
&-01{
    flex-basis: $rem01;
}
&-02{
    flex-basis: $rem02;
}
&-03{
    flex-basis: $rem03;
}
&-04{
    flex-basis: $rem04;
}
&-05{
    flex-basis: $rem05;
}
&-06{
    flex-basis: $rem06;
}
&-07{
    flex-basis: $rem07;
}
&-08{
    flex-basis: $rem08;
}
&-09{
    flex-basis: $rem09;
}
&-10{
    flex-basis: $rem10;
}
&-11{
    flex-basis: $rem11;
}
&-12{
    flex-basis: $rem12;
}
&-13{
    flex-basis: $rem13;
}
&-14{
    flex-basis: $rem14;
}
&-15{
    flex-basis: $rem15;
}
&-16{
    flex-basis: $rem16;
}
&-17{
    flex-basis: $rem17;
}
&-18{
    flex-basis: $rem18;
}
&-19{
    flex-basis: $rem19;
}
&-20{
    flex-basis: $rem20;
}
&-21{
    flex-basis: $rem21;
}
&-22{
    flex-basis: $rem22;
}
&-23{
    flex-basis: $rem23;
}
&-24{
    flex-basis: $rem24;
}
&-25{
    flex-basis: $rem25;
}
&-26{
    flex-basis: $rem26;
}
&-27{
    flex-basis: $rem27;
}
&-28{
    flex-basis: $rem28;
}
&-29{
    flex-basis: $rem29;
}
&-30{
    flex-basis: $rem30;
}
&-31{
    flex-basis: $rem31;
}
&-32{
    flex-basis: $rem32;
}
&-33{
    flex-basis: $rem33;
}
&-34{
    flex-basis: $rem34;
}
&-35{
    flex-basis: $rem35;
}
&-36{
    flex-basis: $rem36;
}
&-37{
    flex-basis: $rem37;
}
&-38{
    flex-basis: $rem38;
}
&-39{
    flex-basis: $rem39;
}
&-40{
    flex-basis: $rem40;
}
&-41{
    flex-basis: $rem41;
}
&-42{
    flex-basis: $rem42;
}
&-43{
    flex-basis: $rem43;
}
&-44{
    flex-basis: $rem44;
}
&-45{
    flex-basis: $rem45;
}
&-46{
    flex-basis: $rem46;
}
&-47{
    flex-basis: $rem47;
}
&-48{
    flex-basis: $rem48;
}
&-49{
    flex-basis: $rem49;
}
&-50{
    flex-basis: $rem50;
}
&-51{
    flex-basis: $rem51;
}
&-52{
    flex-basis: $rem52;
}
&-53{
    flex-basis: $rem53;
}
&-54{
    flex-basis: $rem54;
}
&-55{
    flex-basis: $rem55;
}
&-56{
    flex-basis: $rem56;
}
&-57{
    flex-basis: $rem57;
}
&-58{
    flex-basis: $rem58;
}
&-59{
    flex-basis: $rem59;
}
&-60{
    flex-basis: $rem60;
}
&-61{
    flex-basis: $rem61;
}
&-62{
    flex-basis: $rem62;
}
&-63{
    flex-basis: $rem63;
}
&-64{
    flex-basis: $rem64;
}
&-65{
    flex-basis: $rem65;
}
&-66{
    flex-basis: $rem66;
}
&-67{
    flex-basis: $rem67;
}
&-68{
    flex-basis: $rem68;
}
&-69{
    flex-basis: $rem69;
}
&-70{
    flex-basis: $rem70;
}
&-71{
    flex-basis: $rem71;
}
&-72{
    flex-basis: $rem72;
}
&-73{
    flex-basis: $rem73;
}
&-74{
    flex-basis: $rem74;
}
&-75{
    flex-basis: $rem75;
}
&-76{
    flex-basis: $rem76;
}
&-77{
    flex-basis: $rem77;
}
&-78{
    flex-basis: $rem78;
}
&-79{
    flex-basis: $rem79;
}
&-80{
    flex-basis: $rem80;
}
&-81{
    flex-basis: $rem81;
}
&-82{
    flex-basis: $rem82;
}
&-83{
    flex-basis: $rem83;
}
&-84{
    flex-basis: $rem84;
}
&-85{
    flex-basis: $rem85;
}
&-86{
    flex-basis: $rem86;
}
&-87{
    flex-basis: $rem87;
}
&-88{
    flex-basis: $rem88;
}
&-89{
    flex-basis: $rem89;
}
&-90{
    flex-basis: $rem90;
}
&-91{
    flex-basis: $rem91;
}
&-92{
    flex-basis: $rem92;
}
&-93{
    flex-basis: $rem93;
}
&-94{
    flex-basis: $rem94;
}
&-95{
    flex-basis: $rem95;
}
&-96{
    flex-basis: $rem96;
}
&-97{
    flex-basis: $rem97;
}
&-98{
    flex-basis: $rem98;
}
&-99{
    flex-basis: $rem99;
}
&-100{
    flex-basis: $rem100;
}
&-101{
    flex-basis: $rem101;
}
&-102{
    flex-basis: $rem102;
}
&-103{
    flex-basis: $rem103;
}
&-104{
    flex-basis: $rem104;
}
&-105{
    flex-basis: $rem105;
}
&-106{
    flex-basis: $rem106;
}
&-107{
    flex-basis: $rem107;
}
&-108{
    flex-basis: $rem108;
}
&-109{
    flex-basis: $rem109;
}
&-110{
    flex-basis: $rem110;
}
&-111{
    flex-basis: $rem111;
}
&-112{
    flex-basis: $rem112;
}
&-113{
    flex-basis: $rem113;
}
&-114{
    flex-basis: $rem114;
}
&-115{
    flex-basis: $rem115;
}
&-116{
    flex-basis: $rem116;
}
&-117{
    flex-basis: $rem117;
}
&-118{
    flex-basis: $rem118;
}
&-119{
    flex-basis: $rem119;
}
&-120{
    flex-basis: $rem120;
}
&-121{
    flex-basis: $rem121;
}
&-122{
    flex-basis: $rem122;
}
&-123{
    flex-basis: $rem123;
}
&-124{
    flex-basis: $rem124;
}
&-125{
    flex-basis: $rem125;
}
&-126{
    flex-basis: $rem126;
}
&-127{
    flex-basis: $rem127;
}
&-128{
    flex-basis: $rem128;
}
&-129{
    flex-basis: $rem129;
}
&-130{
    flex-basis: $rem130;
}
&-131{
    flex-basis: $rem131;
}
&-132{
    flex-basis: $rem132;
}
&-133{
    flex-basis: $rem133;
}
&-134{
    flex-basis: $rem134;
}
&-135{
    flex-basis: $rem135;
}
&-136{
    flex-basis: $rem136;
}
&-137{
    flex-basis: $rem137;
}
&-138{
    flex-basis: $rem138;
}
&-139{
    flex-basis: $rem139;
}
&-140{
    flex-basis: $rem140;
}
&-141{
    flex-basis: $rem141;
}
&-142{
    flex-basis: $rem142;
}
&-143{
    flex-basis: $rem143;
}
&-144{
    flex-basis: $rem144;
}
&-145{
    flex-basis: $rem145;
}
&-146{
    flex-basis: $rem146;
}
&-147{
    flex-basis: $rem147;
}
&-148{
    flex-basis: $rem148;
}
&-149{
    flex-basis: $rem149;
}
&-150{
    flex-basis: $rem150;
}
&-151{
    flex-basis: $rem151;
}
&-152{
    flex-basis: $rem152;
}
&-153{
    flex-basis: $rem153;
}
&-154{
    flex-basis: $rem154;
}
&-155{
    flex-basis: $rem155;
}
&-156{
    flex-basis: $rem156;
}
&-157{
    flex-basis: $rem157;
}
&-158{
    flex-basis: $rem158;
}
&-159{
    flex-basis: $rem159;
}
&-160{
    flex-basis: $rem160;
}
&-161{
    flex-basis: $rem161;
}
&-162{
    flex-basis: $rem162;
}
&-163{
    flex-basis: $rem163;
}
&-164{
    flex-basis: $rem164;
}
&-165{
    flex-basis: $rem165;
}
&-166{
    flex-basis: $rem166;
}
&-167{
    flex-basis: $rem167;
}
&-168{
    flex-basis: $rem168;
}
&-169{
    flex-basis: $rem169;
}
&-170{
    flex-basis: $rem170;
}
&-171{
    flex-basis: $rem171;
}
&-172{
    flex-basis: $rem172;
}
&-173{
    flex-basis: $rem173;
}
&-174{
    flex-basis: $rem174;
}
&-175{
    flex-basis: $rem175;
}
&-176{
    flex-basis: $rem176;
}
&-177{
    flex-basis: $rem177;
}
&-178{
    flex-basis: $rem178;
}
&-179{
    flex-basis: $rem179;
}
&-180{
    flex-basis: $rem180;
}
&-181{
    flex-basis: $rem181;
}
&-182{
    flex-basis: $rem182;
}
&-183{
    flex-basis: $rem183;
}
&-184{
    flex-basis: $rem184;
}
&-185{
    flex-basis: $rem185;
}
&-186{
    flex-basis: $rem186;
}
&-187{
    flex-basis: $rem187;
}
&-188{
    flex-basis: $rem188;
}
&-189{
    flex-basis: $rem189;
}
&-190{
    flex-basis: $rem190;
}
&-191{
    flex-basis: $rem191;
}
&-192{
    flex-basis: $rem192;
}
&-193{
    flex-basis: $rem193;
}
&-194{
    flex-basis: $rem194;
}
&-195{
    flex-basis: $rem195;
}
&-196{
    flex-basis: $rem196;
}
&-197{
    flex-basis: $rem197;
}
&-198{
    flex-basis: $rem198;
}
&-199{
    flex-basis: $rem199;
}
&-200{
    flex-basis: $rem200;
}
&-201{
    flex-basis: $rem201;
}
&-202{
    flex-basis: $rem202;
}
&-203{
    flex-basis: $rem203;
}
&-204{
    flex-basis: $rem204;
}
&-205{
    flex-basis: $rem205;
}
&-206{
    flex-basis: $rem206;
}
&-207{
    flex-basis: $rem207;
}
&-208{
    flex-basis: $rem208;
}
&-209{
    flex-basis: $rem209;
}
&-210{
    flex-basis: $rem210;
}
&-211{
    flex-basis: $rem211;
}
&-212{
    flex-basis: $rem212;
}
&-213{
    flex-basis: $rem213;
}
&-214{
    flex-basis: $rem214;
}
&-215{
    flex-basis: $rem215;
}
&-216{
    flex-basis: $rem216;
}
&-217{
    flex-basis: $rem217;
}
&-218{
    flex-basis: $rem218;
}
&-219{
    flex-basis: $rem219;
}
&-220{
    flex-basis: $rem220;
}
&-221{
    flex-basis: $rem221;
}
&-222{
    flex-basis: $rem222;
}
&-223{
    flex-basis: $rem223;
}
&-224{
    flex-basis: $rem224;
}
&-225{
    flex-basis: $rem225;
}
&-226{
    flex-basis: $rem226;
}
&-227{
    flex-basis: $rem227;
}
&-228{
    flex-basis: $rem228;
}
&-229{
    flex-basis: $rem229;
}
&-230{
    flex-basis: $rem230;
}
&-231{
    flex-basis: $rem231;
}
&-232{
    flex-basis: $rem232;
}
&-233{
    flex-basis: $rem233;
}
&-234{
    flex-basis: $rem234;
}
&-235{
    flex-basis: $rem235;
}
&-236{
    flex-basis: $rem236;
}
&-237{
    flex-basis: $rem237;
}
&-238{
    flex-basis: $rem238;
}
&-239{
    flex-basis: $rem239;
}
&-240{
    flex-basis: $rem240;
}
&-241{
    flex-basis: $rem241;
}
&-242{
    flex-basis: $rem242;
}
&-243{
    flex-basis: $rem243;
}
&-244{
    flex-basis: $rem244;
}
&-245{
    flex-basis: $rem245;
}
&-246{
    flex-basis: $rem246;
}
&-247{
    flex-basis: $rem247;
}
&-248{
    flex-basis: $rem248;
}
&-249{
    flex-basis: $rem249;
}
&-250{
    flex-basis: $rem250;
}
&-251{
    flex-basis: $rem251;
}
&-252{
    flex-basis: $rem252;
}
&-253{
    flex-basis: $rem253;
}
&-254{
    flex-basis: $rem254;
}
&-255{
    flex-basis: $rem255;
}
&-256{
    flex-basis: $rem256;
}
&-257{
    flex-basis: $rem257;
}
&-258{
    flex-basis: $rem258;
}
&-259{
    flex-basis: $rem259;
}
&-260{
    flex-basis: $rem260;
}
&-261{
    flex-basis: $rem261;
}
&-262{
    flex-basis: $rem262;
}
&-263{
    flex-basis: $rem263;
}
&-264{
    flex-basis: $rem264;
}
&-265{
    flex-basis: $rem265;
}
&-266{
    flex-basis: $rem266;
}
&-267{
    flex-basis: $rem267;
}
&-268{
    flex-basis: $rem268;
}
&-269{
    flex-basis: $rem269;
}
&-270{
    flex-basis: $rem270;
}
&-271{
    flex-basis: $rem271;
}
&-272{
    flex-basis: $rem272;
}
&-273{
    flex-basis: $rem273;
}
&-274{
    flex-basis: $rem274;
}
&-275{
    flex-basis: $rem275;
}
&-276{
    flex-basis: $rem276;
}
&-277{
    flex-basis: $rem277;
}
&-278{
    flex-basis: $rem278;
}
&-279{
    flex-basis: $rem279;
}
&-280{
    flex-basis: $rem280;
}
&-281{
    flex-basis: $rem281;
}
&-282{
    flex-basis: $rem282;
}
&-283{
    flex-basis: $rem283;
}
&-284{
    flex-basis: $rem284;
}
&-285{
    flex-basis: $rem285;
}
&-286{
    flex-basis: $rem286;
}
&-287{
    flex-basis: $rem287;
}
&-288{
    flex-basis: $rem288;
}
&-289{
    flex-basis: $rem289;
}
&-290{
    flex-basis: $rem290;
}
&-291{
    flex-basis: $rem291;
}
&-292{
    flex-basis: $rem292;
}
&-293{
    flex-basis: $rem293;
}
&-294{
    flex-basis: $rem294;
}
&-295{
    flex-basis: $rem295;
}
&-296{
    flex-basis: $rem296;
}
&-297{
    flex-basis: $rem297;
}
&-298{
    flex-basis: $rem298;
}
&-299{
    flex-basis: $rem299;
}
&-300{
    flex-basis: $rem300;
}
&-301{
    flex-basis: $rem301;
}
&-302{
    flex-basis: $rem302;
}
&-303{
    flex-basis: $rem303;
}
&-304{
    flex-basis: $rem304;
}
&-305{
    flex-basis: $rem305;
}
&-306{
    flex-basis: $rem306;
}
&-307{
    flex-basis: $rem307;
}
&-308{
    flex-basis: $rem308;
}
&-309{
    flex-basis: $rem309;
}
&-310{
    flex-basis: $rem310;
}
&-311{
    flex-basis: $rem311;
}
&-312{
    flex-basis: $rem312;
}
&-313{
    flex-basis: $rem313;
}
&-314{
    flex-basis: $rem314;
}
&-315{
    flex-basis: $rem315;
}
&-316{
    flex-basis: $rem316;
}
&-317{
    flex-basis: $rem317;
}
&-318{
    flex-basis: $rem318;
}
&-319{
    flex-basis: $rem319;
}
&-320{
    flex-basis: $rem320;
}
&-321{
    flex-basis: $rem321;
}
&-322{
    flex-basis: $rem322;
}
&-323{
    flex-basis: $rem323;
}
&-324{
    flex-basis: $rem324;
}
&-325{
    flex-basis: $rem325;
}
&-326{
    flex-basis: $rem326;
}
&-327{
    flex-basis: $rem327;
}
&-328{
    flex-basis: $rem328;
}
&-329{
    flex-basis: $rem329;
}
&-330{
    flex-basis: $rem330;
}
&-331{
    flex-basis: $rem331;
}
&-332{
    flex-basis: $rem332;
}
&-333{
    flex-basis: $rem333;
}
&-334{
    flex-basis: $rem334;
}
&-335{
    flex-basis: $rem335;
}
&-336{
    flex-basis: $rem336;
}
&-337{
    flex-basis: $rem337;
}
&-338{
    flex-basis: $rem338;
}
&-339{
    flex-basis: $rem339;
}
&-340{
    flex-basis: $rem340;
}
&-341{
    flex-basis: $rem341;
}
&-342{
    flex-basis: $rem342;
}
&-343{
    flex-basis: $rem343;
}
&-344{
    flex-basis: $rem344;
}
&-345{
    flex-basis: $rem345;
}
&-346{
    flex-basis: $rem346;
}
&-347{
    flex-basis: $rem347;
}
&-348{
    flex-basis: $rem348;
}
&-349{
    flex-basis: $rem349;
}
&-350{
    flex-basis: $rem350;
}
&-351{
    flex-basis: $rem351;
}
&-352{
    flex-basis: $rem352;
}
&-353{
    flex-basis: $rem353;
}
&-354{
    flex-basis: $rem354;
}
&-355{
    flex-basis: $rem355;
}
&-356{
    flex-basis: $rem356;
}
&-357{
    flex-basis: $rem357;
}
&-358{
    flex-basis: $rem358;
}
&-359{
    flex-basis: $rem359;
}
&-360{
    flex-basis: $rem360;
}
&-361{
    flex-basis: $rem361;
}
&-362{
    flex-basis: $rem362;
}
&-363{
    flex-basis: $rem363;
}
&-364{
    flex-basis: $rem364;
}
&-365{
    flex-basis: $rem365;
}
&-366{
    flex-basis: $rem366;
}
&-367{
    flex-basis: $rem367;
}
&-368{
    flex-basis: $rem368;
}
&-369{
    flex-basis: $rem369;
}
&-370{
    flex-basis: $rem370;
}
&-371{
    flex-basis: $rem371;
}
&-372{
    flex-basis: $rem372;
}
&-373{
    flex-basis: $rem373;
}
&-374{
    flex-basis: $rem374;
}
&-375{
    flex-basis: $rem375;
}
&-376{
    flex-basis: $rem376;
}
&-377{
    flex-basis: $rem377;
}
&-378{
    flex-basis: $rem378;
}
&-379{
    flex-basis: $rem379;
}
&-380{
    flex-basis: $rem380;
}
&-381{
    flex-basis: $rem381;
}
&-382{
    flex-basis: $rem382;
}
&-383{
    flex-basis: $rem383;
}
&-384{
    flex-basis: $rem384;
}
&-385{
    flex-basis: $rem385;
}
&-386{
    flex-basis: $rem386;
}
&-387{
    flex-basis: $rem387;
}
&-388{
    flex-basis: $rem388;
}
&-389{
    flex-basis: $rem389;
}
&-390{
    flex-basis: $rem390;
}
&-391{
    flex-basis: $rem391;
}
&-392{
    flex-basis: $rem392;
}
&-393{
    flex-basis: $rem393;
}
&-394{
    flex-basis: $rem394;
}
&-395{
    flex-basis: $rem395;
}
&-396{
    flex-basis: $rem396;
}
&-397{
    flex-basis: $rem397;
}
&-398{
    flex-basis: $rem398;
}
&-399{
    flex-basis: $rem399;
}
&-400{
    flex-basis: $rem400;
}
&-401{
    flex-basis: $rem401;
}
&-402{
    flex-basis: $rem402;
}
&-403{
    flex-basis: $rem403;
}
&-404{
    flex-basis: $rem404;
}
&-405{
    flex-basis: $rem405;
}
&-406{
    flex-basis: $rem406;
}
&-407{
    flex-basis: $rem407;
}
&-408{
    flex-basis: $rem408;
}
&-409{
    flex-basis: $rem409;
}
&-410{
    flex-basis: $rem410;
}
&-411{
    flex-basis: $rem411;
}
&-412{
    flex-basis: $rem412;
}
&-413{
    flex-basis: $rem413;
}
&-414{
    flex-basis: $rem414;
}
&-415{
    flex-basis: $rem415;
}
&-416{
    flex-basis: $rem416;
}
&-417{
    flex-basis: $rem417;
}
&-418{
    flex-basis: $rem418;
}
&-419{
    flex-basis: $rem419;
}
&-420{
    flex-basis: $rem420;
}
&-421{
    flex-basis: $rem421;
}
&-422{
    flex-basis: $rem422;
}
&-423{
    flex-basis: $rem423;
}
&-424{
    flex-basis: $rem424;
}
&-425{
    flex-basis: $rem425;
}
&-426{
    flex-basis: $rem426;
}
&-427{
    flex-basis: $rem427;
}
&-428{
    flex-basis: $rem428;
}
&-429{
    flex-basis: $rem429;
}
&-430{
    flex-basis: $rem430;
}
&-431{
    flex-basis: $rem431;
}
&-432{
    flex-basis: $rem432;
}
&-433{
    flex-basis: $rem433;
}
&-434{
    flex-basis: $rem434;
}
&-435{
    flex-basis: $rem435;
}
&-436{
    flex-basis: $rem436;
}
&-437{
    flex-basis: $rem437;
}
&-438{
    flex-basis: $rem438;
}
&-439{
    flex-basis: $rem439;
}
&-440{
    flex-basis: $rem440;
}
&-441{
    flex-basis: $rem441;
}
&-442{
    flex-basis: $rem442;
}
&-443{
    flex-basis: $rem443;
}
&-444{
    flex-basis: $rem444;
}
&-445{
    flex-basis: $rem445;
}
&-446{
    flex-basis: $rem446;
}
&-447{
    flex-basis: $rem447;
}
&-448{
    flex-basis: $rem448;
}
&-449{
    flex-basis: $rem449;
}
&-450{
    flex-basis: $rem450;
}
&-451{
    flex-basis: $rem451;
}
&-452{
    flex-basis: $rem452;
}
&-453{
    flex-basis: $rem453;
}
&-454{
    flex-basis: $rem454;
}
&-455{
    flex-basis: $rem455;
}
&-456{
    flex-basis: $rem456;
}
&-457{
    flex-basis: $rem457;
}
&-458{
    flex-basis: $rem458;
}
&-459{
    flex-basis: $rem459;
}
&-460{
    flex-basis: $rem460;
}
&-461{
    flex-basis: $rem461;
}
&-462{
    flex-basis: $rem462;
}
&-463{
    flex-basis: $rem463;
}
&-464{
    flex-basis: $rem464;
}
&-465{
    flex-basis: $rem465;
}
&-466{
    flex-basis: $rem466;
}
&-467{
    flex-basis: $rem467;
}
&-468{
    flex-basis: $rem468;
}
&-469{
    flex-basis: $rem469;
}
&-470{
    flex-basis: $rem470;
}
&-471{
    flex-basis: $rem471;
}
&-472{
    flex-basis: $rem472;
}
&-473{
    flex-basis: $rem473;
}
&-474{
    flex-basis: $rem474;
}
&-475{
    flex-basis: $rem475;
}
&-476{
    flex-basis: $rem476;
}
&-477{
    flex-basis: $rem477;
}
&-478{
    flex-basis: $rem478;
}
&-479{
    flex-basis: $rem479;
}
&-480{
    flex-basis: $rem480;
}
&-481{
    flex-basis: $rem481;
}
&-482{
    flex-basis: $rem482;
}
&-483{
    flex-basis: $rem483;
}
&-484{
    flex-basis: $rem484;
}
&-485{
    flex-basis: $rem485;
}
&-486{
    flex-basis: $rem486;
}
&-487{
    flex-basis: $rem487;
}
&-488{
    flex-basis: $rem488;
}
&-489{
    flex-basis: $rem489;
}
&-490{
    flex-basis: $rem490;
}
&-491{
    flex-basis: $rem491;
}
&-492{
    flex-basis: $rem492;
}
&-493{
    flex-basis: $rem493;
}
&-494{
    flex-basis: $rem494;
}
&-495{
    flex-basis: $rem495;
}
&-496{
    flex-basis: $rem496;
}
&-497{
    flex-basis: $rem497;
}
&-498{
    flex-basis: $rem498;
}
&-499{
    flex-basis: $rem499;
}
&-500{
    flex-basis: $rem500;
}

//   FLEX-BASIS IN PERCENTAGE
&00, &0{
	flex-basis: 0%;
}
&01 ,&1{
	flex-basis: 1%;
}
&02,&2{
	flex-basis: 2%;
}
&03,&3{
	flex-basis: 3%;
}
&04,&4{
	flex-basis: 4%;
}
&05,&5{
	flex-basis: 5%;
}
&06,&6{
	flex-basis: 6%;
}
&07,&7{
	flex-basis: 7%;
}
&08,&8{
	flex-basis: 8%;
}
&09,&9{
	flex-basis: 9%;
}
&10{
	flex-basis: 10%;
}
&11{
	flex-basis: 11%;
}
&12{
	flex-basis: 12%;
}
&13{
	flex-basis: 13%;
}
&14{
	flex-basis: 14%;
}
&15{
	flex-basis: 15%;
}
&16{
	flex-basis: 16%;
}
&17{
	flex-basis: 17%;
}
&18{
	flex-basis: 18%;
}
&19{
	flex-basis: 19%;
}
&20{
	flex-basis: 20%;
}
&21{
	flex-basis: 21%;
}
&22{
	flex-basis: 22%;
}
&23{
	flex-basis: 23%;
}
&24{
	flex-basis: 24%;
}
&25{
	flex-basis: 25%;
}
&26{
	flex-basis: 26%;
}
&27{
	flex-basis: 27%;
}
&28{
	flex-basis: 28%;
}
&29{
	flex-basis: 29%;
}
&30{
	flex-basis: 30%;
}
&31{
	flex-basis: 31%;
}
&32{
	flex-basis: 32%;
}
&33{
	flex-basis: 33%;
}
&34{
	flex-basis: 34%;
}
&35{
	flex-basis: 35%;
}
&36{
	flex-basis: 36%;
}
&37{
	flex-basis: 37%;
}
&38{
	flex-basis: 38%;
}
&39{
	flex-basis: 39%;
}
&40{
	flex-basis: 40%;
}
&41{
	flex-basis: 41%;
}
&42{
	flex-basis: 42%;
}
&43{
	flex-basis: 43%;
}
&44{
	flex-basis: 44%;
}
&45{
	flex-basis: 45%;
}
&46{
	flex-basis: 46%;
}
&47{
	flex-basis: 47%;
}
&48{
	flex-basis: 48%;
}
&49{
	flex-basis: 49%;
}
&50{
	flex-basis: 50%;
}
&51{
	flex-basis: 51%;
}
&52{
	flex-basis: 52%;
}
&53{
	flex-basis: 53%;
}
&54{
	flex-basis: 54%;
}
&55{
	flex-basis: 55%;
}
&56{
	flex-basis: 56%;
}
&57{
	flex-basis: 57%;
}
&58{
	flex-basis: 58%;
}
&59{
	flex-basis: 59%;
}
&60{
	flex-basis: 60%;
}
&61{
	flex-basis: 61%;
}
&62{
	flex-basis: 62%;
}
&63{
	flex-basis: 63%;
}
&64{
	flex-basis: 64%;
}
&65{
	flex-basis: 65%;
}
&66{
	flex-basis: 66%;
}
&67{
	flex-basis: 67%;
}
&68{
	flex-basis: 68%;
}
&69{
	flex-basis: 69%;
}
&70{
	flex-basis: 70%;
}
&71{
	flex-basis: 71%;
}
&72{
	flex-basis: 72%;
}
&73{
	flex-basis: 73%;
}
&74{
	flex-basis: 74%;
}
&75{
	flex-basis: 75%;
}
&76{
	flex-basis: 76%;
}
&77{
	flex-basis: 77%;
}
&78{
	flex-basis: 78%;
}
&79{
	flex-basis: 79%;
}
&80{
	flex-basis: 80%;
}
&81{
	flex-basis: 81%;
}
&82{
	flex-basis: 82%;
}
&83{
	flex-basis: 83%;
}
&84{
	flex-basis: 84%;
}
&85{
	flex-basis: 85%;
}
&86{
	flex-basis: 86%;
}
&87{
	flex-basis: 87%;
}
&88{
	flex-basis: 88%;
}
&89{
	flex-basis: 89%;
}
&90{
	flex-basis: 90%;
}
&91{
	flex-basis: 91%;
}
&92{
	flex-basis: 92%;
}
&93{
	flex-basis: 93%;
}
&94{
	flex-basis: 94%;
}
&95{
	flex-basis: 95%;
}
&96{
	flex-basis: 96%;
}
&97{
	flex-basis: 97%;
}
&98{
	flex-basis: 98%;
}
&99{
	flex-basis: 99%;
}
&100, &full{
	flex-basis: 100%;
}
&101{
	flex-basis: 101%;
}
&102{
	flex-basis: 102%;
}
&103{
	flex-basis: 103%;
}
&104{
	flex-basis: 104%;
}
&105{
	flex-basis: 105%;
}
&106{
	flex-basis: 106%;
}
&107{
	flex-basis: 107%;
}
&108{
	flex-basis: 108%;
}
&109{
	flex-basis: 109%;
}
&110{
	flex-basis: 110%;
}
&111{
	flex-basis: 111%;
}
&112{
	flex-basis: 112%;
}
&113{
	flex-basis: 113%;
}
&114{
	flex-basis: 114%;
}
&115{
	flex-basis: 115%;
}
&116{
	flex-basis: 116%;
}
&117{
	flex-basis: 117%;
}
&118{
	flex-basis: 118%;
}
&119{
	flex-basis: 119%;
}
&120{
	flex-basis: 120%;
}
&121{
	flex-basis: 121%;
}
&122{
	flex-basis: 122%;
}
&123{
	flex-basis: 123%;
}
&124{
	flex-basis: 124%;
}
&125{
	flex-basis: 125%;
}
&126{
	flex-basis: 126%;
}
&127{
	flex-basis: 127%;
}
&128{
	flex-basis: 128%;
}
&129{
	flex-basis: 129%;
}
&130{
	flex-basis: 130%;
}
&131{
	flex-basis: 131%;
}
&132{
	flex-basis: 132%;
}
&133{
	flex-basis: 133%;
}
&134{
	flex-basis: 134%;
}
&135{
	flex-basis: 135%;
}
&136{
	flex-basis: 136%;
}
&137{
	flex-basis: 137%;
}
&138{
	flex-basis: 138%;
}
&139{
	flex-basis: 139%;
}
&140{
	flex-basis: 140%;
}
&141{
	flex-basis: 141%;
}
&142{
	flex-basis: 142%;
}
&143{
	flex-basis: 143%;
}
&144{
	flex-basis: 144%;
}
&145{
	flex-basis: 145%;
}
&146{
	flex-basis: 146%;
}
&147{
	flex-basis: 147%;
}
&148{
	flex-basis: 148%;
}
&149{
	flex-basis: 149%;
}
&150{
	flex-basis: 150%;
}
&151{
	flex-basis: 151%;
}
&152{
	flex-basis: 152%;
}
&153{
	flex-basis: 153%;
}
&154{
	flex-basis: 154%;
}
&155{
	flex-basis: 155%;
}
&156{
	flex-basis: 156%;
}
&157{
	flex-basis: 157%;
}
&158{
	flex-basis: 158%;
}
&159{
	flex-basis: 159%;
}
&160{
	flex-basis: 160%;
}
&161{
	flex-basis: 161%;
}
&162{
	flex-basis: 162%;
}
&163{
	flex-basis: 163%;
}
&164{
	flex-basis: 164%;
}
&165{
	flex-basis: 165%;
}
&166{
	flex-basis: 166%;
}
&167{
	flex-basis: 167%;
}
&168{
	flex-basis: 168%;
}
&169{
	flex-basis: 169%;
}
&170{
	flex-basis: 170%;
}
&171{
	flex-basis: 171%;
}
&172{
	flex-basis: 172%;
}
&173{
	flex-basis: 173%;
}
&174{
	flex-basis: 174%;
}
&175{
	flex-basis: 175%;
}
&176{
	flex-basis: 176%;
}
&177{
	flex-basis: 177%;
}
&178{
	flex-basis: 178%;
}
&179{
	flex-basis: 179%;
}
&180{
	flex-basis: 180%;
}
&181{
	flex-basis: 181%;
}
&182{
	flex-basis: 182%;
}
&183{
	flex-basis: 183%;
}
&184{
	flex-basis: 184%;
}
&185{
	flex-basis: 185%;
}
&186{
	flex-basis: 186%;
}
&187{
	flex-basis: 187%;
}
&188{
	flex-basis: 188%;
}
&189{
	flex-basis: 189%;
}
&190{
	flex-basis: 190%;
}
&191{
	flex-basis: 191%;
}
&192{
	flex-basis: 192%;
}
&193{
	flex-basis: 193%;
}
&194{
	flex-basis: 194%;
}
&195{
	flex-basis: 195%;
}
&196{
	flex-basis: 196%;
}
&197{
	flex-basis: 197%;
}
&198{
	flex-basis: 198%;
}
&199{
	flex-basis: 199%;
}
&200{
	flex-basis: 200%;
}
&201{
	flex-basis: 201%;
}
&202{
	flex-basis: 202%;
}
&203{
	flex-basis: 203%;
}
&204{
	flex-basis: 204%;
}
&205{
	flex-basis: 205%;
}
&206{
	flex-basis: 206%;
}
&207{
	flex-basis: 207%;
}
&208{
	flex-basis: 208%;
}
&209{
	flex-basis: 209%;
}
&210{
	flex-basis: 210%;
}
&211{
	flex-basis: 211%;
}
&212{
	flex-basis: 212%;
}
&213{
	flex-basis: 213%;
}
&214{
	flex-basis: 214%;
}
&215{
	flex-basis: 215%;
}
&216{
	flex-basis: 216%;
}
&217{
	flex-basis: 217%;
}
&218{
	flex-basis: 218%;
}
&219{
	flex-basis: 219%;
}
&220{
	flex-basis: 220%;
}
&221{
	flex-basis: 221%;
}
&222{
	flex-basis: 222%;
}
&223{
	flex-basis: 223%;
}
&224{
	flex-basis: 224%;
}
&225{
	flex-basis: 225%;
}
&226{
	flex-basis: 226%;
}
&227{
	flex-basis: 227%;
}
&228{
	flex-basis: 228%;
}
&229{
	flex-basis: 229%;
}
&230{
	flex-basis: 230%;
}
&231{
	flex-basis: 231%;
}
&232{
	flex-basis: 232%;
}
&233{
	flex-basis: 233%;
}
&234{
	flex-basis: 234%;
}
&235{
	flex-basis: 235%;
}
&236{
	flex-basis: 236%;
}
&237{
	flex-basis: 237%;
}
&238{
	flex-basis: 238%;
}
&239{
	flex-basis: 239%;
}
&240{
	flex-basis: 240%;
}
&241{
	flex-basis: 241%;
}
&242{
	flex-basis: 242%;
}
&243{
	flex-basis: 243%;
}
&244{
	flex-basis: 244%;
}
&245{
	flex-basis: 245%;
}
&246{
	flex-basis: 246%;
}
&247{
	flex-basis: 247%;
}
&248{
	flex-basis: 248%;
}
&249{
	flex-basis: 249%;
}
&250{
	flex-basis: 250%;
}
&251{
	flex-basis: 251%;
}
&252{
	flex-basis: 252%;
}
&253{
	flex-basis: 253%;
}
&254{
	flex-basis: 254%;
}
&255{
	flex-basis: 255%;
}
&256{
	flex-basis: 256%;
}
&257{
	flex-basis: 257%;
}
&258{
	flex-basis: 258%;
}
&259{
	flex-basis: 259%;
}
&260{
	flex-basis: 260%;
}
&261{
	flex-basis: 261%;
}
&262{
	flex-basis: 262%;
}
&263{
	flex-basis: 263%;
}
&264{
	flex-basis: 264%;
}
&265{
	flex-basis: 265%;
}
&266{
	flex-basis: 266%;
}
&267{
	flex-basis: 267%;
}
&268{
	flex-basis: 268%;
}
&269{
	flex-basis: 269%;
}
&270{
	flex-basis: 270%;
}
&271{
	flex-basis: 271%;
}
&272{
	flex-basis: 272%;
}
&273{
	flex-basis: 273%;
}
&274{
	flex-basis: 274%;
}
&275{
	flex-basis: 275%;
}
&276{
	flex-basis: 276%;
}
&277{
	flex-basis: 277%;
}
&278{
	flex-basis: 278%;
}
&279{
	flex-basis: 279%;
}
&280{
	flex-basis: 280%;
}
&281{
	flex-basis: 281%;
}
&282{
	flex-basis: 282%;
}
&283{
	flex-basis: 283%;
}
&284{
	flex-basis: 284%;
}
&285{
	flex-basis: 285%;
}
&286{
	flex-basis: 286%;
}
&287{
	flex-basis: 287%;
}
&288{
	flex-basis: 288%;
}
&289{
	flex-basis: 289%;
}
&290{
	flex-basis: 290%;
}
&291{
	flex-basis: 291%;
}
&292{
	flex-basis: 292%;
}
&293{
	flex-basis: 293%;
}
&294{
	flex-basis: 294%;
}
&295{
	flex-basis: 295%;
}
&296{
	flex-basis: 296%;
}
&297{
	flex-basis: 297%;
}
&298{
	flex-basis: 298%;
}
&299{
	flex-basis: 299%;
}
&300{
	flex-basis: 300%;
}
&301{
	flex-basis: 301%;
}
&302{
	flex-basis: 302%;
}
&303{
	flex-basis: 303%;
}
&304{
	flex-basis: 304%;
}
&305{
	flex-basis: 305%;
}
&306{
	flex-basis: 306%;
}
&307{
	flex-basis: 307%;
}
&308{
	flex-basis: 308%;
}
&309{
	flex-basis: 309%;
}
&310{
	flex-basis: 310%;
}
&311{
	flex-basis: 311%;
}
&312{
	flex-basis: 312%;
}
&313{
	flex-basis: 313%;
}
&314{
	flex-basis: 314%;
}
&315{
	flex-basis: 315%;
}
&316{
	flex-basis: 316%;
}
&317{
	flex-basis: 317%;
}
&318{
	flex-basis: 318%;
}
&319{
	flex-basis: 319%;
}
&320{
	flex-basis: 320%;
}
&321{
	flex-basis: 321%;
}
&322{
	flex-basis: 322%;
}
&323{
	flex-basis: 323%;
}
&324{
	flex-basis: 324%;
}
&325{
	flex-basis: 325%;
}
&326{
	flex-basis: 326%;
}
&327{
	flex-basis: 327%;
}
&328{
	flex-basis: 328%;
}
&329{
	flex-basis: 329%;
}
&330{
	flex-basis: 330%;
}
&331{
	flex-basis: 331%;
}
&332{
	flex-basis: 332%;
}
&333{
	flex-basis: 333%;
}
&334{
	flex-basis: 334%;
}
&335{
	flex-basis: 335%;
}
&336{
	flex-basis: 336%;
}
&337{
	flex-basis: 337%;
}
&338{
	flex-basis: 338%;
}
&339{
	flex-basis: 339%;
}
&340{
	flex-basis: 340%;
}
&341{
	flex-basis: 341%;
}
&342{
	flex-basis: 342%;
}
&343{
	flex-basis: 343%;
}
&344{
	flex-basis: 344%;
}
&345{
	flex-basis: 345%;
}
&346{
	flex-basis: 346%;
}
&347{
	flex-basis: 347%;
}
&348{
	flex-basis: 348%;
}
&349{
	flex-basis: 349%;
}
&350{
	flex-basis: 350%;
}
&351{
	flex-basis: 351%;
}
&352{
	flex-basis: 352%;
}
&353{
	flex-basis: 353%;
}
&354{
	flex-basis: 354%;
}
&355{
	flex-basis: 355%;
}
&356{
	flex-basis: 356%;
}
&357{
	flex-basis: 357%;
}
&358{
	flex-basis: 358%;
}
&359{
	flex-basis: 359%;
}
&360{
	flex-basis: 360%;
}
&361{
	flex-basis: 361%;
}
&362{
	flex-basis: 362%;
}
&363{
	flex-basis: 363%;
}
&364{
	flex-basis: 364%;
}
&365{
	flex-basis: 365%;
}
&366{
	flex-basis: 366%;
}
&367{
	flex-basis: 367%;
}
&368{
	flex-basis: 368%;
}
&369{
	flex-basis: 369%;
}
&370{
	flex-basis: 370%;
}
&371{
	flex-basis: 371%;
}
&372{
	flex-basis: 372%;
}
&373{
	flex-basis: 373%;
}
&374{
	flex-basis: 374%;
}
&375{
	flex-basis: 375%;
}
&376{
	flex-basis: 376%;
}
&377{
	flex-basis: 377%;
}
&378{
	flex-basis: 378%;
}
&379{
	flex-basis: 379%;
}
&380{
	flex-basis: 380%;
}
&381{
	flex-basis: 381%;
}
&382{
	flex-basis: 382%;
}
&383{
	flex-basis: 383%;
}
&384{
	flex-basis: 384%;
}
&385{
	flex-basis: 385%;
}
&386{
	flex-basis: 386%;
}
&387{
	flex-basis: 387%;
}
&388{
	flex-basis: 388%;
}
&389{
	flex-basis: 389%;
}
&390{
	flex-basis: 390%;
}
&391{
	flex-basis: 391%;
}
&392{
	flex-basis: 392%;
}
&393{
	flex-basis: 393%;
}
&394{
	flex-basis: 394%;
}
&395{
	flex-basis: 395%;
}
&396{
	flex-basis: 396%;
}
&397{
	flex-basis: 397%;
}
&398{
	flex-basis: 398%;
}
&399{
	flex-basis: 399%;
}
&400{
	flex-basis: 400%;
}
&401{
	flex-basis: 401%;
}
&402{
	flex-basis: 402%;
}
&403{
	flex-basis: 403%;
}
&404{
	flex-basis: 404%;
}
&405{
	flex-basis: 405%;
}
&406{
	flex-basis: 406%;
}
&407{
	flex-basis: 407%;
}
&408{
	flex-basis: 408%;
}
&409{
	flex-basis: 409%;
}
&410{
	flex-basis: 410%;
}
&411{
	flex-basis: 411%;
}
&412{
	flex-basis: 412%;
}
&413{
	flex-basis: 413%;
}
&414{
	flex-basis: 414%;
}
&415{
	flex-basis: 415%;
}
&416{
	flex-basis: 416%;
}
&417{
	flex-basis: 417%;
}
&418{
	flex-basis: 418%;
}
&419{
	flex-basis: 419%;
}
&420{
	flex-basis: 420%;
}
&421{
	flex-basis: 421%;
}
&422{
	flex-basis: 422%;
}
&423{
	flex-basis: 423%;
}
&424{
	flex-basis: 424%;
}
&425{
	flex-basis: 425%;
}
&426{
	flex-basis: 426%;
}
&427{
	flex-basis: 427%;
}
&428{
	flex-basis: 428%;
}
&429{
	flex-basis: 429%;
}
&430{
	flex-basis: 430%;
}
&431{
	flex-basis: 431%;
}
&432{
	flex-basis: 432%;
}
&433{
	flex-basis: 433%;
}
&434{
	flex-basis: 434%;
}
&435{
	flex-basis: 435%;
}
&436{
	flex-basis: 436%;
}
&437{
	flex-basis: 437%;
}
&438{
	flex-basis: 438%;
}
&439{
	flex-basis: 439%;
}
&440{
	flex-basis: 440%;
}
&441{
	flex-basis: 441%;
}
&442{
	flex-basis: 442%;
}
&443{
	flex-basis: 443%;
}
&444{
	flex-basis: 444%;
}
&445{
	flex-basis: 445%;
}
&446{
	flex-basis: 446%;
}
&447{
	flex-basis: 447%;
}
&448{
	flex-basis: 448%;
}
&449{
	flex-basis: 449%;
}
&450{
	flex-basis: 450%;
}
&451{
	flex-basis: 451%;
}
&452{
	flex-basis: 452%;
}
&453{
	flex-basis: 453%;
}
&454{
	flex-basis: 454%;
}
&455{
	flex-basis: 455%;
}
&456{
	flex-basis: 456%;
}
&457{
	flex-basis: 457%;
}
&458{
	flex-basis: 458%;
}
&459{
	flex-basis: 459%;
}
&460{
	flex-basis: 460%;
}
&461{
	flex-basis: 461%;
}
&462{
	flex-basis: 462%;
}
&463{
	flex-basis: 463%;
}
&464{
	flex-basis: 464%;
}
&465{
	flex-basis: 465%;
}
&466{
	flex-basis: 466%;
}
&467{
	flex-basis: 467%;
}
&468{
	flex-basis: 468%;
}
&469{
	flex-basis: 469%;
}
&470{
	flex-basis: 470%;
}
&471{
	flex-basis: 471%;
}
&472{
	flex-basis: 472%;
}
&473{
	flex-basis: 473%;
}
&474{
	flex-basis: 474%;
}
&475{
	flex-basis: 475%;
}
&476{
	flex-basis: 476%;
}
&477{
	flex-basis: 477%;
}
&478{
	flex-basis: 478%;
}
&479{
	flex-basis: 479%;
}
&480{
	flex-basis: 480%;
}
&481{
	flex-basis: 481%;
}
&482{
	flex-basis: 482%;
}
&483{
	flex-basis: 483%;
}
&484{
	flex-basis: 484%;
}
&485{
	flex-basis: 485%;
}
&486{
	flex-basis: 486%;
}
&487{
	flex-basis: 487%;
}
&488{
	flex-basis: 488%;
}
&489{
	flex-basis: 489%;
}
&490{
	flex-basis: 490%;
}
&491{
	flex-basis: 491%;
}
&492{
	flex-basis: 492%;
}
&493{
	flex-basis: 493%;
}
&494{
	flex-basis: 494%;
}
&495{
	flex-basis: 495%;
}
&496{
	flex-basis: 496%;
}
&497{
	flex-basis: 497%;
}
&498{
	flex-basis: 498%;
}
&499{
	flex-basis: 499%;
}
&500{
	flex-basis: 500%;
}

}